In [1]:
import random
import glob, os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
pd.options.mode.chained_assignment = None # to remove some warnings

In [2]:
def get_weekly_data(week, year):
    """ get player data for designated week """
    file_path = f"./csv's/{year}/year-{year}-week-{week}-DK-player_data.csv"
    df = pd.read_csv(file_path)
    return df

def get_ytd_season_data(year, current_week):
    """ get data for current season up to most recent week """
    df = get_weekly_data(1,year)
    for week in range(2,current_week+1):
        try:
            df = df.append(get_weekly_data(week, year), ignore_index=True)
        except:
            print("No data for week: "+str(week))
    df = df.drop(['Unnamed: 0', 'Year'], axis=1)
    return df

def get_season_data(year, drop_year=True):
    """ get entire season of data """
    df = get_weekly_data(1,year)
    for week in range(2,17):
        try:
            df = df.append(get_weekly_data(week, year), ignore_index=True)
        except:
            print("No data for week: "+str(week))
    if drop_year:
        df = df.drop(['Unnamed: 0', 'Year'], axis=1)
    else:
        df = df.drop(['Unnamed: 0'], axis=1)
    return df

def check_dk_data():
    list_of_files = glob.glob("./csv's/dkdata/*.csv") 
    sorted_files = sorted(list_of_files, key=os.path.getctime)
    most_recent_dkdata = sorted_files[-1] 
    df = pd.read_csv("./csv's/dkdata/fixed*.csv")

In [3]:
week = 6
file_path = f"./csv's/dkdata/predictions/dk_preds-week-{week}.csv"
df = pd.read_csv(file_path)
pd.set_option("display.max_rows", None, "display.max_columns", 20)
df = df.loc[df.Name.isnull() == False]
print(len(df))
df.head(25)

140

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
0,2,RB,"McCaffrey, Christian",8800.0,car,h,min,75.22,9.802269
1,3,WR,"Hill, Tyreek",8500.0,kan,a,was,113.86,16.623810
2,4,QB,"Mahomes II, Patrick",8300.0,kan,a,was,113.86,16.087543
3,5,QB,"Allen, Josh",8200.0,buf,a,ten,106.02,19.106667
4,8,WR,"Kupp, Cooper",7900.0,lar,a,nyg,139.46,12.869863
5,11,QB,"Brady, Tom",7800.0,tam,a,phi,74.68,15.387328
6,14,WR,"Diggs, Stefon",7400.0,buf,a,ten,106.02,15.870202
7,15,QB,"Jackson, Lamar",7400.0,bal,h,lac,139.70,9.451650
8,16,RB,"Harris, Najee",7400.0,pit,h,sea,121.90,15.557187
9,19,WR,"Moore, D.J.",7300.0,car,h,min,75.22,9.451650
10,22,WR,"Metcalf, D.K.",7200.0,sea,a,pit,99.92,14.619536
11,26,QB,"Hurts, Jalen",7000.0,phi,h,tam,85.40,15.732828
12,27,TE,"Kelce, Travis",7000.0,kan,a,was,113.86,16.472727
13,28,WR,"Evans, Mike",6900.0,tam,a,phi,74.68,13.887375
14,30,QB,"Wilson, Russell",6800.0,sea,a,pit,99.92,14.619536
15,31,QB,"Stafford, Matthew",6700.0,lar,a,nyg,139.46,12.959241
16,33,WR,"Johnson, Diontae",6700.0,pit,h,sea,121.90,15.642904
17,34,WR,"Lockett, Tyler",6700.0,sea,a,pit,99.92,14.619536
18,37,WR,"Claypool, Chase",6600.0,pit,h,sea,121.90,17.598125
19,42,RB,"Robinson, James",6300.0,jac,h,mia,181.38,9.824931
20,46,WR,"Godwin, Chris",6200.0,tam,a,phi,74.68,13.887375
21,50,WR,"Sutton, Courtland",6200.0,den,h,NaN,0.00,18.431847
22,53,QB,"Darnold, Sam",6100.0,car,h,min,75.22,9.022730
23,54,WR,"Smith, Devonta",6000.0,phi,h,tam,85.40,15.870202
24,59,RB,"Fournette, Leonard",5900.0,tam,a,phi,74.68,13.705200

In [4]:
# QB's
df.loc[df.Pos == 'QB'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
26,69,QB,"Lawrence, Trevor",5700.0,jac,h,mia,181.38,9.802269
7,15,QB,"Jackson, Lamar",7400.0,bal,h,lac,139.70,9.451650
15,31,QB,"Stafford, Matthew",6700.0,lar,a,nyg,139.46,12.959241
33,88,QB,"Roethlisberger, Ben",5400.0,pit,h,sea,121.90,15.557187
2,4,QB,"Mahomes II, Patrick",8300.0,kan,a,was,113.86,16.087543
57,159,QB,"Trubisky, Mitchell",4400.0,buf,a,ten,106.02,15.818352
3,5,QB,"Allen, Josh",8200.0,buf,a,ten,106.02,19.106667
14,30,QB,"Wilson, Russell",6800.0,sea,a,pit,99.92,14.619536
39,109,QB,"Smith, Geno",5100.0,sea,a,pit,99.92,14.619536
31,81,QB,"Jones, Daniel",5500.0,nyg,h,lar,90.82,9.451650
11,26,QB,"Hurts, Jalen",7000.0,phi,h,tam,85.40,15.732828
107,282,QB,"Walker, P.J.",4000.0,car,h,min,75.22,10.139355
22,53,QB,"Darnold, Sam",6100.0,car,h,min,75.22,9.022730
5,11,QB,"Brady, Tom",7800.0,tam,a,phi,74.68,15.387328
82,232,QB,"Gabbert, Blaine",4000.0,tam,a,phi,74.68,14.049590
84,234,QB,"Griffin, Ryan",4000.0,tam,a,phi,74.68,14.049590
45,136,QB,"Lock, Drew",4800.0,den,h,NaN,0.00,19.142276
28,72,QB,"Bridgewater, Teddy",5700.0,den,h,NaN,0.00,25.502917

In [5]:
# QB's
df.loc[df.Pos == 'RB'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
71,194,RB,"Ogunbowale, Dare",4000.0,jac,h,mia,181.38,9.707840
19,42,RB,"Robinson, James",6300.0,jac,h,mia,181.38,9.824931
63,177,RB,"Hyde, Carlos",4200.0,jac,h,mia,181.38,9.707840
27,71,RB,"Murray, Latavius",5700.0,bal,h,lac,139.70,9.352509
106,277,RB,"Ricard, Patrick",4000.0,bal,h,lac,139.70,9.802269
43,125,RB,"Williams, Ty'Son",4900.0,bal,h,lac,139.70,9.802269
61,172,RB,"Michel, Sony",4300.0,lar,a,nyg,139.46,12.701867
128,343,RB,"Watt, Derek",4000.0,pit,h,sea,121.90,15.714861
8,16,RB,"Harris, Najee",7400.0,pit,h,sea,121.90,15.557187
124,339,RB,"Ballage, Kalen",4000.0,pit,h,sea,121.90,18.037073
58,161,RB,"McKinnon, Jerick",4400.0,kan,a,was,113.86,16.725164
42,122,RB,"Williams, Darrel",4900.0,kan,a,was,113.86,16.531962
93,246,RB,"Burton, Michael",4000.0,kan,a,was,113.86,19.599625
29,73,RB,"Edwards-Helaire, Clyde",5600.0,kan,a,was,113.86,16.623810
78,211,RB,"Jones, Taiwan",4000.0,buf,a,ten,106.02,15.870202
77,210,RB,"Breida, Matt",4000.0,buf,a,ten,106.02,19.345435
81,214,RB,"Gilliam, Reggie",4000.0,buf,a,ten,106.02,16.087543
59,169,RB,"Singletary, Devin",4300.0,buf,a,ten,106.02,15.870202
30,79,RB,"Moss, Zack",5500.0,buf,a,ten,106.02,15.714861
34,89,RB,"Carson, Chris",5400.0,sea,a,pit,99.92,16.447417
121,336,RB,"Bellore, Nick",4000.0,sea,a,pit,99.92,17.001639
41,118,RB,"Collins, Alex",5000.0,sea,a,pit,99.92,16.447417
119,334,RB,"Homer, Travis",4000.0,sea,a,pit,99.92,14.683459
118,333,RB,"Dallas, DeeJay",4000.0,sea,a,pit,99.92,17.001639
35,97,RB,"Sanders, Miles",5200.0,phi,h,tam,85.40,15.786757
87,237,RB,"Scott, Boston",4000.0,phi,h,tam,85.40,16.087543
50,141,RB,"Gainwell, Kenny",4700.0,phi,h,tam,85.40,15.818352
110,287,RB,"Smith, Rodney",4000.0,car,h,min,75.22,9.824931
0,2,RB,"McCaffrey, Christian",8800.0,car,h,min,75.22,9.802269
85,235,RB,"Vaughn, Ke'Shawn",4000.0,tam,a,phi,74.68,13.887375
49,140,RB,"Bernard, Giovani",4700.0,tam,a,phi,74.68,15.154986
24,59,RB,"Fournette, Leonard",5900.0,tam,a,phi,74.68,13.705200
55,153,RB,"Jones, Ronald",4500.0,tam,a,phi,74.68,13.880531
113,312,RB,"Crockett, Damarea",4000.0,den,h,NaN,0.00,25.502917
37,107,RB,"Gordon, Melvin",5100.0,den,h,NaN,0.00,20.161085
40,117,RB,"Williams, Javonte",5000.0,den,h,NaN,0.00,19.492373

In [6]:
# QB's
df.loc[df.Pos == 'WR'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
157,409,WR,"Treadwell, Laquon",3000.0,jac,h,mia,181.38,9.915804
151,403,WR,"Johnson, Tyron",3000.0,jac,h,mia,181.38,9.707840
140,373,WR,"Jefferson, Van",3400.0,lar,a,nyg,139.46,12.701867
183,487,WR,"Atwell, Tutu",3000.0,lar,a,nyg,139.46,13.050542
4,8,WR,"Kupp, Cooper",7900.0,lar,a,nyg,139.46,12.869863
133,353,WR,"Jackson, DeSean",3700.0,lar,a,nyg,139.46,12.701867
54,152,WR,"Smith-Schuster, JuJu",4600.0,pit,h,sea,121.90,15.714861
150,401,WR,"McCloud, Ray-Ray",3100.0,pit,h,sea,121.90,15.870202
129,344,WR,"Washington, James",4000.0,pit,h,sea,121.90,15.818352
207,568,WR,"White, Cody",3000.0,pit,h,sea,121.90,15.870202
16,33,WR,"Johnson, Diontae",6700.0,pit,h,sea,121.90,15.642904
18,37,WR,"Claypool, Chase",6600.0,pit,h,sea,121.90,17.598125
146,388,WR,"Pringle, Byron",3200.0,kan,a,was,113.86,16.725164
65,181,WR,"Hardman, Mecole",4200.0,kan,a,was,113.86,16.736967
173,475,WR,"Kemp, Marcus",3000.0,kan,a,was,113.86,16.725164
143,383,WR,"Robinson, Demarcus",3300.0,kan,a,was,113.86,16.725164
139,372,WR,"Gordon, Josh",3400.0,kan,a,was,113.86,16.736967
1,3,WR,"Hill, Tyreek",8500.0,kan,a,was,113.86,16.623810
60,170,WR,"Beasley, Cole",4300.0,buf,a,ten,106.02,19.106667
137,368,WR,"Davis, Gabriel",3400.0,buf,a,ten,106.02,16.447417
6,14,WR,"Diggs, Stefon",7400.0,buf,a,ten,106.02,15.870202
32,84,WR,"Sanders, Emmanuel",5400.0,buf,a,ten,106.02,15.818352
159,424,WR,"Kumerow, Jake",3000.0,buf,a,ten,106.02,16.148498
158,423,WR,"McKenzie, Isaiah",3000.0,buf,a,ten,106.02,16.148498
10,22,WR,"Metcalf, D.K.",7200.0,sea,a,pit,99.92,14.619536
17,34,WR,"Lockett, Tyler",6700.0,sea,a,pit,99.92,14.619536
205,566,WR,"Dorsett, Phillip",3000.0,sea,a,pit,99.92,14.787164
200,561,WR,"Hart, Penny",3000.0,sea,a,pit,99.92,14.787164
141,378,WR,"Swain, Freddie",3400.0,sea,a,pit,99.92,14.787164
131,350,WR,"Slayton, Darius",3800.0,nyg,h,lar,90.82,9.707840
179,483,WR,"Johnson, Collin",3000.0,nyg,h,lar,90.82,9.356708
169,464,WR,"Arcega-Whiteside, JJ",3000.0,phi,h,tam,85.40,18.227562
90,240,WR,"Reagor, Jalen",4000.0,phi,h,tam,85.40,16.164235
147,396,WR,"Ward, Greg",3100.0,phi,h,tam,85.40,16.164235
23,54,WR,"Smith, Devonta",6000.0,phi,h,tam,85.40,15.870202
134,361,WR,"Watkins, Quez",3500.0,phi,h,tam,85.40,16.164235
9,19,WR,"Moore, D.J.",7300.0,car,h,min,75.22,9.451650
136,364,WR,"Marshall, Terrace",3500.0,car,h,min,75.22,9.707840
186,511,WR,"Zylstra, Brandon",3000.0,car,h,min,75.22,9.915804
25,60,WR,"Brown, Antonio",5900.0,tam,a,phi,74.68,15.309479
145,387,WR,"Johnson, Tyler",3200.0,tam,a,phi,74.68,14.049590
163,458,WR,"Mickens, Jaydon",3000.0,tam,a,phi,74.68,14.049590
164,459,WR,"Darden, Jaelon",3000.0,tam,a,phi,74.68,15.471489
166,461,WR,"Miller, Scott",3000.0,tam,a,phi,74.68,14.049590
13,28,WR,"Evans, Mike",6900.0,tam,a,phi,74.68,13.887375
20,46,WR,"Godwin, Chris",6200.0,tam,a,phi,74.68,13.887375
193,540,WR,"Moore, David",3000.0,den,h,NaN,0.00,18.508247
194,541,WR,"Cleveland, Tyrie",3000.0,den,h,NaN,0.00,23.309143
149,399,WR,"Hinton, Kendall",3100.0,den,h,NaN,0.00,18.830588
192,539,WR,"Spencer, Diontae",3000.0,den,h,NaN,0.00,18.508247
38,108,WR,"Patrick, Tim",5100.0,den,h,NaN,0.00,18.431847
144,385,WR,"Hamler, KJ",3300.0,den,h,NaN,0.00,18.830588
21,50,WR,"Sutton, Courtland",6200.0,den,h,NaN,0.00,18.431847

In [7]:
# QB's
df.loc[df.Pos == 'TE'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
221,594,TE,"O'Shaughnessy, James",2500.0,jac,h,mia,181.38,9.707840
220,591,TE,"Manhertz, Chris",2500.0,jac,h,mia,181.38,9.707840
243,662,TE,"Oliver, Josh",2500.0,bal,h,lac,139.70,9.802269
242,661,TE,"Tomlinson, Eric",2500.0,bal,h,lac,139.70,9.802269
256,704,TE,"Gentry, Zach",2500.0,pit,h,sea,121.90,15.818352
215,580,TE,"Freiermuth, Pat",2900.0,pit,h,sea,121.90,15.818352
211,572,TE,"Ebron, Eric",3000.0,pit,h,sea,121.90,15.818352
235,640,TE,"Winchester, James",2500.0,kan,a,was,113.86,16.623810
234,639,TE,"Fortson, Jody",2500.0,kan,a,was,113.86,16.725164
233,638,TE,"Gray, Noah",2500.0,kan,a,was,113.86,16.725164
232,637,TE,"Bell, Blake",2500.0,kan,a,was,113.86,19.345435
12,27,TE,"Kelce, Travis",7000.0,kan,a,was,113.86,16.472727
223,605,TE,"Sweeney, Tommy",2500.0,buf,a,ten,106.02,16.087543
44,131,TE,"Knox, Dawson",4800.0,buf,a,ten,106.02,15.818352
214,579,TE,"Dissly, Will",2900.0,sea,a,pit,99.92,14.739097
252,700,TE,"Parkinson, Colby",2500.0,sea,a,pit,99.92,14.739097
210,571,TE,"Everett, Gerald",3000.0,sea,a,pit,99.92,14.739097
238,643,TE,"Smith, Kaden",2500.0,nyg,h,lar,90.82,9.802269
237,642,TE,"Rudolph, Kyle",2500.0,nyg,h,lar,90.82,9.802269
138,370,TE,"Ertz, Zach",3400.0,phi,h,tam,85.40,16.148498
51,142,TE,"Goedert, Dallas",4700.0,phi,h,tam,85.40,15.870202
218,586,TE,"Tremble, Tommy",2600.0,car,h,min,75.22,9.915804
246,669,TE,"Thompson, Colin",2500.0,car,h,min,75.22,9.915804
217,584,TE,"Thomas, Ian",2700.0,car,h,min,75.22,9.915804
135,362,TE,"Brate, Cameron",3500.0,tam,a,phi,74.68,15.410443
227,627,TE,"Yelder, Deon",2500.0,tam,a,phi,74.68,13.924192
226,626,TE,"McElroy, Codey",2500.0,tam,a,phi,74.68,13.970471
36,104,TE,"Gronkowski, Rob",5100.0,tam,a,phi,74.68,13.880531
213,575,TE,"Howard, O.J.",2900.0,tam,a,phi,74.68,13.970471
46,137,TE,"Fant, Noah",4800.0,den,h,NaN,0.00,19.326500
248,688,TE,"Saubert, Eric",2500.0,den,h,NaN,0.00,18.830588
249,689,TE,"Beck, Andrew",2500.0,den,h,NaN,0.00,24.056863
250,690,TE,"Okwuegbunam, Albert",2500.0,den,h,NaN,0.00,18.830588

In [8]:
file_path = "./csv's/def_df's/most_recent_def_df.csv"
def_df = pd.read_csv(file_path)
def_df.head(15)

,Unnamed: 0,Week,Name,Pos,Team,h/a,Oppt,DK points,Salary,avg_pts_to_qb,avg_pts_to_rb,avg_pts_to_wr,avg_pts_to_te
0,407,1,Arizona,Def,ari,a,ten,16.0,2100,17.18,17.2,33.00,4.9
1,408,1,New Orleans,Def,nor,h,gnb,15.0,2200,5.04,9.2,29.50,5.7
2,409,1,Pittsburgh,Def,pit,a,buf,14.0,2800,18.20,11.4,50.80,8.1
3,410,1,Philadelphia,Def,phi,a,atl,10.0,2600,7.36,25.0,10.10,13.9
4,411,1,San Francisco,Def,sfo,a,det,10.0,4200,32.92,49.4,33.70,26.9
5,412,1,Carolina,Def,car,h,nyj,9.0,3600,19.32,9.0,42.50,10.8
6,413,1,Denver,Def,den,a,nyg,8.0,3300,22.38,7.6,50.60,2.8
7,414,1,LA Rams,Def,lar,h,chi,8.0,4400,14.24,29.8,30.30,11.3
8,415,1,Las Vegas,Def,lvr,h,bal,7.0,2600,0.00,0.0,0.00,0.0
9,416,1,Houston,Def,hou,h,jac,7.0,2100,25.08,16.2,50.80,20.0
10,417,1,Dallas,Def,dal,a,tam,7.0,2500,32.16,14.5,59.60,29.0
11,418,1,Washington,Def,was,h,lac,7.0,3200,18.38,16.3,60.80,11.7
12,419,1,Seattle,Def,sea,a,ind,6.0,3400,19.34,31.8,34.20,5.1
13,420,1,Miami,Def,mia,a,nwe,6.0,2900,15.24,29.4,31.30,15.9
14,421,1,Cincinnati,Def,cin,h,min,5.0,2000,25.04,29.8,59.44,8.1

In [9]:
# figure out which teams are giving up the most to qb's
qb_df = (def_df.loc[(def_df.avg_pts_to_qb > 18)]
            .drop(columns=['avg_pts_to_rb', 'avg_pts_to_wr', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_qb', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
qb_df.sort_values(by='Name')
qb_counts = qb_df.Team.value_counts()

In [10]:
# figure out which teams are giving up the most to rb's
rb_df = (def_df.loc[(def_df.avg_pts_to_rb > 18)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_wr', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_rb', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
rb_df.sort_values(by='Name')
rb_counts = rb_df.Team.value_counts()

In [11]:
# figure out which teams are giving up the most to wr's
wr_df = (def_df.loc[(def_df.avg_pts_to_wr > 18)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_rb', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_wr', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
wr_df.sort_values(by='Name')
wr_counts = wr_df.Team.value_counts()

In [12]:
# figure out which teams are giving up the most to te's
te_df = (def_df.loc[(def_df.avg_pts_to_te > 10)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_rb', 'avg_pts_to_wr'])
            .sort_values(by='avg_pts_to_te', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
te_df.sort_values(by='Name')           
te_counts = te_df.Team.value_counts()

In [13]:
total_counts = [qb_counts, rb_counts, wr_counts, te_counts]
pos = ['qb', 'rb', 'wr', 'te']
def read_counts(array):
    counts = {}
    for i in range(4):
        counts[pos[i]] = array[i][0:3]
    return counts

# this is the total times a def has given 20+
# points (12+ in the case of TE's) up to any
# defense. The higher the numer, the more frequent
# that happens.
count_dict = read_counts(total_counts)
count_dict

{'qb': was    3
 ten    2
 cle    2
 Name: Team, dtype: int64,
 'rb': sea    4
 mia    3
 det    2
 Name: Team, dtype: int64,
 'wr': tam    4
 ten    3
 dal    2
 Name: Team, dtype: int64,
 'te': bal    4
 dal    2
 nyg    2
 Name: Team, dtype: int64}

In [14]:
for key in count_dict.keys():
    print("Pick these", key + "'s:")
    for i in range(3):
        bad_def = count_dict[key].index[i]
        good_play = df.loc[(df.Oppt == bad_def)&(df.Pos == key.upper())].drop(columns=['Unnamed: 0', 'Pos', 'Oppt_pts_allowed_lw'])
        if len(good_play) > 0:
            print(good_play)
    print('=====')

Pick these qb's:
                  Name  Salary Team h/a Oppt       pred
2  Mahomes II, Patrick  8300.0  kan   a  was  16.087543
                  Name  Salary Team h/a Oppt       pred
3          Allen, Josh  8200.0  buf   a  ten  19.106667
57  Trubisky, Mitchell  4400.0  buf   a  ten  15.818352
=====
Pick these rb's:
               Name  Salary Team h/a Oppt       pred
8     Harris, Najee  7400.0  pit   h  sea  15.557187
124  Ballage, Kalen  4000.0  pit   h  sea  18.037073
128     Watt, Derek  4000.0  pit   h  sea  15.714861
                Name  Salary Team h/a Oppt      pred
19   Robinson, James  6300.0  jac   h  mia  9.824931
63      Hyde, Carlos  4200.0  jac   h  mia  9.707840
71  Ogunbowale, Dare  4000.0  jac   h  mia  9.707840
=====
Pick these wr's:
                     Name  Salary Team h/a Oppt       pred
23         Smith, Devonta  6000.0  phi   h  tam  15.870202
90          Reagor, Jalen  4000.0  phi   h  tam  16.164235
134         Watkins, Quez  3500.0  phi   h  tam  16.164235
147            Ward, Greg  3100.0  phi   h  tam  16.164235
169  Arcega-Whiteside, JJ  3000.0  phi   h  tam  18.227562
                  Name  Salary Team h/a Oppt       pred
6        Diggs, Stefon  7400.0  buf   a  ten  15.870202
32   Sanders, Emmanuel  5400.0  buf   a  ten  15.818352
60       Beasley, Cole  4300.0  buf   a  ten  19.106667
137     Davis, Gabriel  3400.0  buf   a  ten  16.447417
158   McKenzie, Isaiah  3000.0  buf   a  ten  16.148498
159      Kumerow, Jake  3000.0  buf   a  ten  16.148498
=====
Pick these te's:
=====

In [15]:
def pick_def():
    file_path = "./csv's/def_df's/most_recent_def_df.csv"
    def_df = pd.read_csv(file_path).drop(columns=['Unnamed: 0', 'Name', 'h/a']) 
    def_df = (def_df
                .sort_values(by='DK points', ascending=False)
                .head(int(len(def_df) / 10)))
    def_df_counts = def_df['Team'].value_counts()
    def_df_counts_idx = def_df_counts.index
    # print(def_df)

    tier_1_defs = []
    tier_2_defs = []
    match1 = -10
    match2 = -10
    for x, y in zip(def_df_counts, def_df_counts_idx):
        if x > match1:
            match1 = x
            tier_1_defs.clear()
            tier_1_defs.append(y)
        elif x == match1:
            tier_1_defs.append(y)

        if x < match1 and x > match2:
            match2 = x
            tier_2_defs.append(y)
        elif x == match2:
            tier_2_defs.append(y)
    print("Tier 1 defenses: ")
    for defense in tier_1_defs:
        print(defense)
    print("Tier 2 defenses: ")
    for defense in tier_2_defs:
        print(defense)
    return tier_1_defs, tier_2_defs

t1d, t2d = pick_def()

Tier 1 defenses:
buf
Tier 2 defenses:
ari
nor