In [237]:
import random

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None # to remove some warnings

In [250]:
week = 5
file_path = f"./csv's/dkdata/predictions/dk_preds-week-{week}.csv"
df = pd.read_csv(file_path)
pd.set_option("display.max_rows", None, "display.max_columns", 20)
df = df.loc[df.Name.isnull() == False]
print(len(df))
df.head(25)

159

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
0,2,RB,"McCaffrey, Christian",8700.0,car,h,phi,145.92,13.661692
1,3,RB,"Kamara, Alvin",8600.0,nor,a,was,114.52,16.814052
2,8,QB,"Murray, Kyler",8000.0,ari,h,sfo,85.36,16.421084
3,9,WR,"Kupp, Cooper",7900.0,lar,a,sea,117.38,15.045532
4,14,WR,"Hopkins, DeAndre",7600.0,ari,h,sfo,85.36,16.078049
5,17,WR,"Moore, D.J.",7500.0,car,h,phi,145.92,13.512348
6,18,WR,"McLaurin, Terry",7400.0,was,h,nor,127.58,10.725541
7,19,QB,"Brady, Tom",7400.0,tam,h,mia,105.82,8.429041
8,25,QB,"Wilson, Russell",7000.0,sea,h,lar,123.12,10.512195
9,28,RB,"Elliott, Ezekiel",7000.0,dal,h,nyg,94.90,11.916408
10,30,QB,"Prescott, Dak",6900.0,dal,h,nyg,94.90,12.109317
11,31,WR,"Ridley, Calvin",6800.0,atl,h,nyj,115.42,12.865438
12,38,QB,"Darnold, Sam",6600.0,car,h,phi,145.92,15.991529
13,39,QB,"Stafford, Matthew",6500.0,lar,a,sea,117.38,15.372441
14,44,RB,"Gibson, Antonio",6400.0,was,h,nor,127.58,10.447286
15,49,WR,"Lamb, CeeDee",6200.0,dal,h,nyg,94.90,11.916408
16,54,WR,"Cooper, Amari",6100.0,dal,h,nyg,94.90,12.853721
17,56,RB,"Hubbard, Chuba",6000.0,car,h,phi,145.92,13.661692
18,57,RB,"Robinson, James",6000.0,jac,h,ten,104.18,16.775000
19,60,RB,"Patterson, Cordarrelle",5900.0,atl,h,nyj,115.42,13.175267
20,62,RB,"Montgomery, David",5900.0,chi,a,NaN,0.00,17.658974
21,63,RB,"Henderson, Darrell",5900.0,lar,a,sea,117.38,15.274214
23,67,RB,"Edmonds, Chase",5900.0,ari,h,sfo,85.36,16.226519
24,70,QB,"Lawrence, Trevor",5800.0,jac,h,ten,104.18,16.775000
25,73,QB,"Ryan, Matt",5700.0,atl,h,nyj,115.42,13.175267

In [239]:
# QB's
df.loc[df.Pos == 'QB'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
127,331,QB,"Walker, P.J.",4000.0,car,h,phi,145.92,13.567033
12,38,QB,"Darnold, Sam",6600.0,car,h,phi,145.92,15.991529
8,25,QB,"Wilson, Russell",7000.0,sea,h,lar,123.12,10.512195
13,39,QB,"Stafford, Matthew",6500.0,lar,a,sea,117.38,15.372441
25,73,QB,"Ryan, Matt",5700.0,atl,h,nyj,115.42,13.175267
75,208,QB,"Rosen, Josh",4100.0,atl,h,nyj,115.42,13.218874
80,221,QB,"Franks, Feleipe",4000.0,atl,h,nyj,115.42,13.512348
28,82,QB,"Winston, Jameis",5600.0,nor,a,was,114.52,16.625758
41,119,QB,"Hill, Taysom",5100.0,nor,a,was,114.52,16.660000
7,19,QB,"Brady, Tom",7400.0,tam,h,mia,105.82,8.429041
24,70,QB,"Lawrence, Trevor",5800.0,jac,h,ten,104.18,16.775000
35,99,QB,"Bridgewater, Teddy",5400.0,den,a,pit,99.82,16.814052
47,140,QB,"Lock, Drew",4900.0,den,a,pit,99.82,12.865438
115,302,QB,"Tagovailoa, Tua",4000.0,mia,a,tam,97.70,15.462578
39,111,QB,"Brissett, Jacoby",5200.0,mia,a,tam,97.70,19.740449
10,30,QB,"Prescott, Dak",6900.0,dal,h,nyg,94.90,12.109317
78,215,QB,"Rush, Cooper",4100.0,dal,h,nyg,94.90,12.145732
40,117,QB,"Taylor, Tyrod",5100.0,hou,h,nwe,86.56,11.406429
52,147,QB,"Mills, Davis",4800.0,hou,h,nwe,86.56,11.066803
2,8,QB,"Murray, Kyler",8000.0,ari,h,sfo,85.36,16.421084
138,363,QB,"McCoy, Colt",4000.0,ari,h,sfo,85.36,16.078049
37,108,QB,"Dalton, Andy",5200.0,chi,a,NaN,0.00,22.293333
38,109,QB,"Fields, Justin",5200.0,chi,a,NaN,0.00,17.658974

In [240]:
# QB's
df.loc[df.Pos == 'RB'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
0,2,RB,"McCaffrey, Christian",8700.0,car,h,phi,145.92,13.661692
17,56,RB,"Hubbard, Chuba",6000.0,car,h,phi,145.92,13.661692
72,201,RB,"Freeman, Royce",4200.0,car,h,phi,145.92,13.828852
130,334,RB,"Smith, Rodney",4000.0,car,h,phi,145.92,13.568874
107,293,RB,"Patterson, Jaret",4000.0,was,h,nor,127.58,11.206316
14,44,RB,"Gibson, Antonio",6400.0,was,h,nor,127.58,10.447286
45,124,RB,"McKissic, J.D.",5000.0,was,h,nor,127.58,10.763310
99,273,RB,"Funk, Jake",4000.0,lar,a,sea,117.38,15.274214
63,176,RB,"Michel, Sony",4400.0,lar,a,sea,117.38,15.274214
100,274,RB,"Howell, Buddy",4000.0,lar,a,sea,117.38,15.274214
21,63,RB,"Henderson, Darrell",5900.0,lar,a,sea,117.38,15.274214
83,226,RB,"Smith, Keith",4000.0,atl,h,nyj,115.42,13.218874
76,209,RB,"Gallman, Wayne",4100.0,atl,h,nyj,115.42,13.512348
33,95,RB,"Davis, Mike",5400.0,atl,h,nyj,115.42,13.218874
19,60,RB,"Patterson, Cordarrelle",5900.0,atl,h,nyj,115.42,13.175267
110,296,RB,"Washington, Dwayne",4000.0,nor,a,was,114.52,16.660000
1,3,RB,"Kamara, Alvin",8600.0,nor,a,was,114.52,16.814052
112,298,RB,"Armah, Alex",4000.0,nor,a,was,114.52,20.130361
59,161,RB,"Bernard, Giovani",4600.0,tam,h,mia,105.82,8.424468
116,303,RB,"Vaughn, Ke'Shawn",4000.0,tam,h,mia,105.82,10.478743
58,157,RB,"Jones, Ronald",4700.0,tam,h,mia,105.82,9.884645
134,343,RB,"Ogunbowale, Dare",4000.0,jac,h,ten,104.18,16.775000
18,57,RB,"Robinson, James",6000.0,jac,h,ten,104.18,16.775000
73,203,RB,"Hyde, Carlos",4200.0,jac,h,ten,104.18,16.775000
48,141,RB,"Williams, Javonte",4900.0,den,a,pit,99.82,13.002703
123,327,RB,"Crockett, Damarea",4000.0,den,a,pit,99.82,16.814052
36,106,RB,"Gordon, Melvin",5300.0,den,a,pit,99.82,13.107521
119,306,RB,"Ahmed, Salvon",4000.0,mia,a,tam,97.70,19.566599
118,305,RB,"Brown, Malcolm",4000.0,mia,a,tam,97.70,19.566599
42,120,RB,"Gaskin, Myles",5100.0,mia,a,tam,97.70,15.680991
144,382,RB,"Clement, Corey",4000.0,dal,h,nyg,94.90,13.107521
30,85,RB,"Pollard, Tony",5600.0,dal,h,nyg,94.90,12.087846
9,28,RB,"Elliott, Ezekiel",7000.0,dal,h,nyg,94.90,11.916408
89,253,RB,"Phillips, Scottie",4000.0,hou,h,nwe,86.56,11.246667
88,252,RB,Buffalo,4000.0,hou,h,nwe,86.56,10.478743
87,251,RB,"Lindsay, Phillip",4000.0,hou,h,nwe,86.56,10.843373
61,167,RB,"Johnson, David",4500.0,hou,h,nwe,86.56,10.843373
69,186,RB,"Ingram, Mark",4300.0,hou,h,nwe,86.56,10.843373
29,83,RB,"Conner, James",5600.0,ari,h,sfo,85.36,20.130361
23,67,RB,"Edmonds, Chase",5900.0,ari,h,sfo,85.36,16.226519
140,372,RB,"Ward, Jonathan",4000.0,ari,h,sfo,85.36,16.107821
90,261,RB,"Herbert, Khalil",4000.0,chi,a,NaN,0.00,17.664885
27,80,RB,"Williams, Damien",5600.0,chi,a,NaN,0.00,17.658974
20,62,RB,"Montgomery, David",5900.0,chi,a,NaN,0.00,17.658974

In [241]:
# QB's
df.loc[df.Pos == 'WR'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
5,17,WR,"Moore, D.J.",7500.0,car,h,phi,145.92,13.512348
199,583,WR,"Erickson, Alex",3000.0,car,h,phi,145.92,13.661692
46,127,WR,"Anderson, Robby",5000.0,car,h,phi,145.92,15.744966
156,441,WR,"Zylstra, Brandon",3200.0,car,h,phi,145.92,13.567033
152,413,WR,"Marshall, Terrace",3600.0,car,h,phi,145.92,13.317308
6,18,WR,"McLaurin, Terry",7400.0,was,h,nor,127.58,10.725541
179,534,WR,"Sims, Cam",3000.0,was,h,nor,127.58,11.192464
178,533,WR,"Samuel, Curtis",3000.0,was,h,nor,127.58,11.192464
3,9,WR,"Kupp, Cooper",7900.0,lar,a,sea,117.38,15.045532
174,514,WR,"Atwell, Tutu",3000.0,lar,a,sea,117.38,18.533731
32,89,WR,"Woods, Robert",5500.0,lar,a,sea,117.38,14.553778
150,408,WR,"Jefferson, Van",3700.0,lar,a,sea,117.38,14.553778
149,404,WR,"Jackson, DeSean",3800.0,lar,a,sea,117.38,14.553778
84,227,WR,"Gage, Russell",4000.0,atl,h,nyj,115.42,13.002703
164,464,WR,"Blake, Christian",3000.0,atl,h,nyj,115.42,15.439310
163,463,WR,"Sharpe, Tajae",3000.0,atl,h,nyj,115.42,13.107521
151,411,WR,"Zaccheaus, Olamide",3600.0,atl,h,nyj,115.42,12.865438
11,31,WR,"Ridley, Calvin",6800.0,atl,h,nyj,115.42,12.865438
77,211,WR,"Harris, Deonte",4100.0,nor,a,was,114.52,16.376484
57,156,WR,"Callaway, Marquez",4700.0,nor,a,was,114.52,19.887778
187,543,WR,"Humphrey, Lil'Jordan",3000.0,nor,a,was,114.52,16.226519
186,542,WR,"Montgomery, Ty",3000.0,nor,a,was,114.52,16.107821
185,541,WR,"Hogan, Chris",3000.0,nor,a,was,114.52,16.226519
184,540,WR,"Stills, Kenny",3000.0,nor,a,was,114.52,16.107821
204,593,WR,"Johnson, Tyron",3000.0,jac,h,ten,104.18,16.376484
203,592,WR,"Austin, Tavon",3000.0,jac,h,ten,104.18,20.220328
54,150,WR,"Shenault Jr., Laviska",4800.0,jac,h,ten,104.18,16.660000
206,595,WR,"Treadwell, Laquon",3000.0,jac,h,ten,104.18,16.376484
162,454,WR,"Agnew, Jamal",3100.0,jac,h,ten,104.18,20.220328
191,553,WR,"Williams, Preston",3000.0,mia,a,tam,97.70,14.943265
67,181,WR,"Fuller, Will",4400.0,mia,a,tam,97.70,15.274214
192,554,WR,"Hollins, Mack",3000.0,mia,a,tam,97.70,15.041786
34,97,WR,"Parker, DeVante",5400.0,mia,a,tam,97.70,15.070612
161,452,WR,"Wilson, Albert",3100.0,mia,a,tam,97.70,14.943265
53,149,WR,"Waddle, Jaylen",4800.0,mia,a,tam,97.70,15.070612
16,54,WR,"Cooper, Amari",6100.0,dal,h,nyg,94.90,12.853721
15,49,WR,"Lamb, CeeDee",6200.0,dal,h,nyg,94.90,11.916408
215,630,WR,"Brown, Noah",3000.0,dal,h,nyg,94.90,13.661692
79,218,WR,"Wilson, Cedrick",4100.0,dal,h,nyg,94.90,12.087846
217,632,WR,"Turner, Malik",3000.0,dal,h,nyg,94.90,12.109317
169,488,WR,"Roberts, Andre",3000.0,hou,h,nwe,86.56,11.206316
211,621,WR,"Isabella, Andy",3000.0,ari,h,sfo,85.36,15.766082
60,163,WR,"Moore, Rondale",4600.0,ari,h,sfo,85.36,15.791579
43,122,WR,"Green, A.J.",5100.0,ari,h,sfo,85.36,15.819359
51,146,WR,"Kirk, Christian",4900.0,ari,h,sfo,85.36,15.791579
4,14,WR,"Hopkins, DeAndre",7600.0,ari,h,sfo,85.36,16.078049
172,498,WR,"Byrd, Damiere",3000.0,chi,a,NaN,0.00,22.075325
56,154,WR,"Mooney, Darnell",4700.0,chi,a,NaN,0.00,17.212963
31,88,WR,"Robinson, Allen",5500.0,chi,a,NaN,0.00,17.212963

In [242]:
# QB's
df.loc[df.Pos == 'TE'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
275,765,TE,"Thompson, Colin",2500.0,car,h,phi,145.92,13.737292
273,763,TE,"Thomas, Ian",2500.0,car,h,phi,145.92,13.737292
274,764,TE,"Tremble, Tommy",2500.0,car,h,phi,145.92,13.737292
254,731,TE,"Bates, John",2500.0,was,h,nor,127.58,10.447286
62,169,TE,"Thomas, Logan",4500.0,was,h,nor,127.58,11.107168
253,730,TE,"Seals-Jones, Ricky",2500.0,was,h,nor,127.58,11.246667
244,709,TE,"Parkinson, Colby",2500.0,sea,h,lar,123.12,10.399600
64,178,TE,"Higbee, Tyler",4400.0,lar,a,sea,117.38,15.274214
249,714,TE,"Mundt, Johnny",2500.0,lar,a,sea,117.38,15.045532
225,663,TE,"Hurst, Hayden",2700.0,atl,h,nyj,115.42,13.568874
55,151,TE,"Pitts, Kyle",4700.0,atl,h,nyj,115.42,13.175267
230,680,TE,"Smith, Lee",2500.0,atl,h,nyj,115.42,13.512348
258,735,TE,"Griffin, Garrett",2500.0,nor,a,was,114.52,16.430323
229,673,TE,"Trautman, Adam",2600.0,nor,a,was,114.52,16.421084
159,450,TE,"Johnson, Juwan",3100.0,nor,a,was,114.52,16.421084
264,741,TE,"Yelder, Deon",2500.0,tam,h,mia,105.82,10.624000
263,740,TE,"McElroy, Codey",2500.0,tam,h,mia,105.82,9.904527
277,771,TE,"Hollister, Jacob",2500.0,jac,h,ten,104.18,16.708442
227,666,TE,"Manhertz, Chris",2700.0,jac,h,ten,104.18,16.698675
279,773,TE,"O'Shaughnessy, James",2500.0,jac,h,ten,104.18,16.698675
278,772,TE,"Farrell, Luke",2500.0,jac,h,ten,104.18,16.708442
222,654,TE,"Arnold, Dan",2900.0,jac,h,ten,104.18,20.249286
269,759,TE,"Okwuegbunam, Albert",2500.0,den,a,pit,99.82,13.125000
270,760,TE,"Saubert, Eric",2500.0,den,a,pit,99.82,13.125000
271,761,TE,"Beck, Andrew",2500.0,den,a,pit,99.82,16.794242
49,143,TE,"Fant, Noah",4900.0,den,a,pit,99.82,13.107521
265,742,TE,"Smythe, Durham",2500.0,mia,a,tam,97.70,15.372441
266,743,TE,"Shaheen, Adam",2500.0,mia,a,tam,97.70,15.372441
267,744,TE,"Carter, Cethan",2500.0,mia,a,tam,97.70,19.021750
70,197,TE,"Gesicki, Mike",4200.0,mia,a,tam,97.70,15.680991
285,798,TE,"Sprinkle, Jeremy",2500.0,dal,h,nyg,94.90,12.171831
68,184,TE,"Schultz, Dalton",4400.0,dal,h,nyg,94.90,12.087846
157,445,TE,"Jarwin, Blake",3200.0,dal,h,nyg,94.90,12.101869
238,700,TE,"Auclair, Antony",2500.0,hou,h,nwe,86.56,10.733457
236,698,TE,"Akins, Jordan",2500.0,hou,h,nwe,86.56,10.733457
235,697,TE,"Brown, Pharaoh",2500.0,hou,h,nwe,86.56,10.733457
282,790,TE,"Harris, Demetrius",2500.0,ari,h,sfo,85.36,16.068553
281,789,TE,"Daniels, Darrell",2500.0,ari,h,sfo,85.36,20.106704
154,428,TE,"Williams, Maxx",3400.0,ari,h,sfo,85.36,16.107821
241,706,TE,"Holtz, J.P.",2500.0,chi,a,NaN,0.00,17.310937
226,664,TE,"Kmet, Cole",2700.0,chi,a,NaN,0.00,17.215217
240,705,TE,"James, Jesse",2500.0,chi,a,NaN,0.00,17.215217
228,671,TE,"Graham, Jimmy",2600.0,chi,a,NaN,0.00,17.310937

In [243]:
file_path = "./csv's/def_df's/most_recent_def_df.csv"
def_df = pd.read_csv(file_path)
def_df.head(15)

,Unnamed: 0,Week,Name,Pos,Team,h/a,Oppt,DK points,Salary,avg_pts_to_qb,avg_pts_to_rb,avg_pts_to_wr,avg_pts_to_te
0,407,1,Arizona,Def,ari,a,ten,16.0,2100,17.18,17.2,33.00,4.9
1,408,1,New Orleans,Def,nor,h,gnb,15.0,2200,5.04,9.2,29.50,5.7
2,409,1,Pittsburgh,Def,pit,a,buf,14.0,2800,18.20,11.4,50.80,8.1
3,410,1,Philadelphia,Def,phi,a,atl,10.0,2600,7.36,25.0,10.10,13.9
4,411,1,San Francisco,Def,sfo,a,det,10.0,4200,32.92,49.4,33.70,26.9
5,412,1,Carolina,Def,car,h,nyj,9.0,3600,19.32,9.0,42.50,10.8
6,413,1,Denver,Def,den,a,nyg,8.0,3300,22.38,7.6,50.60,2.8
7,414,1,LA Rams,Def,lar,h,chi,8.0,4400,14.24,29.8,30.30,11.3
8,415,1,Las Vegas,Def,lvr,h,bal,7.0,2600,0.00,0.0,0.00,0.0
9,416,1,Houston,Def,hou,h,jac,7.0,2100,25.08,16.2,50.80,20.0
10,417,1,Dallas,Def,dal,a,tam,7.0,2500,32.16,14.5,59.60,29.0
11,418,1,Washington,Def,was,h,lac,7.0,3200,18.38,16.3,60.80,11.7
12,419,1,Seattle,Def,sea,a,ind,6.0,3400,19.34,31.8,34.20,5.1
13,420,1,Miami,Def,mia,a,nwe,6.0,2900,15.24,29.4,31.30,15.9
14,421,1,Cincinnati,Def,cin,h,min,5.0,2000,25.04,29.8,59.44,8.1

In [244]:
# figure out which teams are giving up the most to qb's
qb_df = (def_df.loc[(def_df.avg_pts_to_qb > 20)]
            .drop(columns=['avg_pts_to_rb', 'avg_pts_to_wr', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_qb', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
qb_df.sort_values(by='Name')
qb_counts = qb_df.Team.value_counts()

In [245]:
# figure out which teams are giving up the most to rb's
rb_df = (def_df.loc[(def_df.avg_pts_to_rb > 20)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_wr', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_rb', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
rb_df.sort_values(by='Name')
rb_counts = rb_df.Team.value_counts()

In [246]:
# figure out which teams are giving up the most to wr's
wr_df = (def_df.loc[(def_df.avg_pts_to_wr > 20)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_rb', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_wr', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
wr_df.sort_values(by='Name')
wr_counts = wr_df.Team.value_counts()

In [247]:
# figure out which teams are giving up the most to te's
te_df = (def_df.loc[(def_df.avg_pts_to_te > 12)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_rb', 'avg_pts_to_wr'])
            .sort_values(by='avg_pts_to_te', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
te_df.sort_values(by='Name')           
te_counts = te_df.Team.value_counts()

In [248]:
total_counts = [qb_counts, rb_counts, wr_counts, te_counts]
pos = ['qb', 'rb', 'wr', 'te']
def read_counts(array):
    counts = {}
    for i in range(4):
        counts[pos[i]] = array[i][0:3]
    return counts

# this is the total times a def has given 20+
# points (12+ in the case of TE's) up to any
# defense. The higher the numer, the more frequent
# that happens.
count_dict = read_counts(total_counts)
count_dict

{'qb': cle    2
 bal    2
 atl    2
 Name: Team, dtype: int64,
 'rb': sea    4
 mia    2
 det    2
 Name: Team, dtype: int64,
 'wr': tam    4
 ten    3
 dal    2
 Name: Team, dtype: int64,
 'te': bal    4
 nyg    2
 hou    2
 Name: Team, dtype: int64}

In [251]:
for key in count_dict.keys():
    print("Pick these", key + "'s:")
    for i in range(3):
        bad_def = count_dict[key].index[i]
        good_play = df.loc[(df.Oppt == bad_def)&(df.Pos == key.upper())].drop(columns=['Unnamed: 0', 'Pos', 'Oppt_pts_allowed_lw'])
        if len(good_play) > 0:
            print(good_play)
    print('=====')

Pick these qb's:
=====
Pick these rb's:
                   Name  Salary Team h/a Oppt       pred
21   Henderson, Darrell  5900.0  lar   a  sea  15.274214
63         Michel, Sony  4400.0  lar   a  sea  15.274214
99           Funk, Jake  4000.0  lar   a  sea  15.274214
100       Howell, Buddy  4000.0  lar   a  sea  15.274214
                 Name  Salary Team h/a Oppt       pred
58      Jones, Ronald  4700.0  tam   h  mia   9.884645
59   Bernard, Giovani  4600.0  tam   h  mia   8.424468
116  Vaughn, Ke'Shawn  4000.0  tam   h  mia  10.478743
=====
Pick these wr's:
                  Name  Salary Team h/a Oppt       pred
34     Parker, DeVante  5400.0  mia   a  tam  15.070612
53      Waddle, Jaylen  4800.0  mia   a  tam  15.070612
67        Fuller, Will  4400.0  mia   a  tam  15.274214
161     Wilson, Albert  3100.0  mia   a  tam  14.943265
191  Williams, Preston  3000.0  mia   a  tam  14.943265
192      Hollins, Mack  3000.0  mia   a  tam  15.041786
                      Name  Salary Team h/a Oppt       pred
54   Shenault Jr., Laviska  4800.0  jac   h  ten  16.660000
162           Agnew, Jamal  3100.0  jac   h  ten  20.220328
203          Austin, Tavon  3000.0  jac   h  ten  20.220328
204         Johnson, Tyron  3000.0  jac   h  ten  16.376484
206      Treadwell, Laquon  3000.0  jac   h  ten  16.376484
=====
Pick these te's:
                 Name  Salary Team h/a Oppt       pred
68    Schultz, Dalton  4400.0  dal   h  nyg  12.087846
157     Jarwin, Blake  3200.0  dal   h  nyg  12.101869
285  Sprinkle, Jeremy  2500.0  dal   h  nyg  12.171831
=====