In [1]:
import random
import glob, os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
pd.options.mode.chained_assignment = None # to remove some warnings

In [2]:
def get_current_year():
    from datetime import datetime
    today = datetime.today()
    datem = datetime(today.year, today.month, 1)
    return datem.year
    
def get_weekly_data(week, year):
    """ get player data for designated week """
    file_path = f"./csv's/{year}/year-{year}-week-{week}-DK-player_data.csv"
    df = pd.read_csv(file_path)
    return df

def get_ytd_season_data(year, current_week):
    """ get data for current season up to most recent week """
    df = get_weekly_data(1,year)
    for week in range(2,current_week+1):
        try:
            df = df.append(get_weekly_data(week, year), ignore_index=True)
        except:
            print("No data for week: "+str(week))
    df = df.drop(['Unnamed: 0', 'Year'], axis=1)
    return df

def get_season_data(year, drop_year=True):
    """ get entire season of data """
    df = get_weekly_data(1,year)
    for week in range(2,17):
        try:
            df = df.append(get_weekly_data(week, year), ignore_index=True)
        except:
            print("No data for week: "+str(week))
    if drop_year:
        df = df.drop(['Unnamed: 0', 'Year'], axis=1)
    else:
        df = df.drop(['Unnamed: 0'], axis=1)
    return df

def check_dk_data():
    list_of_files = glob.glob("./csv's/dkdata/*.csv") 
    sorted_files = sorted(list_of_files, key=os.path.getctime)
    most_recent_dkdata = sorted_files[-1] 
    df = pd.read_csv("./csv's/dkdata/fixed*.csv")

In [3]:
week = 6
file_path = f"./csv's/dkdata/predictions/dk_preds-week-{week}.csv"
df = pd.read_csv(file_path)
pd.set_option("display.max_rows", None, "display.max_columns", 20)
df = df.loc[df.Name.isnull() == False]
print(len(df))
df.head(25)

165

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
0,1,WR,"Adams, Davante",8900.0,gnb,h,was,113.86,20.062857
1,2,RB,"Kamara, Alvin",8900.0,nor,a,sea,121.90,15.688201
2,3,WR,"Hill, Tyreek",8600.0,kan,a,ten,106.02,16.739286
3,5,RB,"McCaffrey, Christian",8500.0,car,a,nyg,139.46,13.643279
4,6,QB,"Mahomes II, Patrick",8400.0,kan,a,ten,106.02,16.631441
5,10,TE,"Kelce, Travis",7600.0,kan,a,ten,106.02,16.689206
6,11,QB,"Rodgers, Aaron",7500.0,gnb,h,was,113.86,16.841176
7,12,RB,"Jones, Aaron",7500.0,gnb,h,was,113.86,16.975245
8,15,WR,"Moore, D.J.",7100.0,car,a,nyg,139.46,13.643279
9,17,RB,"Taylor, Jonathan",7100.0,ind,a,sfo,87.86,16.036257
10,21,WR,"Metcalf, D.K.",6800.0,sea,h,nor,82.82,11.690120
11,23,TE,"Waller, Darren",6700.0,lvr,h,phi,74.68,14.769368
12,24,WR,"Ridley, Calvin",6600.0,atl,a,mia,181.38,10.438841
13,33,QB,"Wilson, Russell",6400.0,sea,h,nor,82.82,11.690120
14,39,RB,"Jacobs, Josh",6200.0,lvr,h,phi,74.68,14.732817
15,40,WR,"Lockett, Tyler",6200.0,sea,h,nor,82.82,11.690120
16,41,RB,"Hubbard, Chuba",6100.0,car,a,nyg,139.46,13.680000
17,46,QB,"Carr, Derek",6000.0,lvr,h,phi,74.68,15.613253
18,48,QB,"Darnold, Sam",5900.0,car,a,nyg,139.46,14.670821
19,51,QB,"Winston, Jameis",5900.0,nor,a,sea,121.90,15.613253
20,54,RB,"Williams, Darrel",5800.0,kan,a,ten,106.02,16.654362
21,59,RB,"Harris, Damien",5700.0,nwe,h,nyj,126.68,14.617337
22,67,RB,"Williams, Damien",5500.0,chi,a,tam,85.40,16.168966
23,70,WR,"Ruggs III, Henry",5500.0,lvr,h,phi,74.68,14.769368
24,72,RB,"Edwards-Helaire, Clyde",5400.0,kan,a,ten,106.02,16.739286

In [4]:
# QB's
df.loc[df.Pos == 'QB'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
67,207,QB,"Walker, P.J.",4000.0,car,a,nyg,139.46,13.680000
18,48,QB,"Darnold, Sam",5900.0,car,a,nyg,139.46,14.670821
29,79,QB,"Jones, Mac",5300.0,nwe,h,nyj,126.68,14.617337
19,51,QB,"Winston, Jameis",5900.0,nor,a,sea,121.90,15.613253
41,110,QB,"Hill, Taysom",5000.0,nor,a,sea,121.90,15.688201
6,11,QB,"Rodgers, Aaron",7500.0,gnb,h,was,113.86,16.841176
58,162,QB,"Love, Jordan",4200.0,gnb,h,was,113.86,16.975245
37,94,QB,"Wilson, Zach",5100.0,nyj,a,nwe,111.38,12.292515
4,6,QB,"Mahomes II, Patrick",8400.0,kan,a,ten,106.02,16.631441
26,74,QB,"Wentz, Carson",5400.0,ind,a,sfo,87.86,15.933766
81,297,QB,"Eason, Jacob",4000.0,ind,a,sfo,87.86,16.036257
28,78,QB,"Fields, Justin",5300.0,chi,a,tam,85.40,16.171883
40,100,QB,"Dallas, DeeJay",5000.0,chi,a,tam,85.40,18.118639
39,99,QB,"Smith, Geno",5100.0,sea,h,nor,82.82,11.690120
13,33,QB,"Wilson, Russell",6400.0,sea,h,nor,82.82,11.690120
17,46,QB,"Carr, Derek",6000.0,lvr,h,phi,74.68,15.613253
77,288,QB,"Peterman, Nathan",4000.0,lvr,h,phi,74.68,14.774211

In [5]:
# QB's
df.loc[df.Pos == 'RB'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
16,41,RB,"Hubbard, Chuba",6100.0,car,a,nyg,139.46,13.680000
68,210,RB,"Freeman, Royce",4000.0,car,a,nyg,139.46,13.680648
3,5,RB,"McCaffrey, Christian",8500.0,car,a,nyg,139.46,13.643279
48,129,RB,"Stevenson, Rhamondre",4700.0,nwe,h,nyj,126.68,14.421829
73,232,RB,"Johnson, Jakob",4000.0,nwe,h,nyj,126.68,14.617337
72,229,RB,"White, James",4000.0,nwe,h,nyj,126.68,14.617337
21,59,RB,"Harris, Damien",5700.0,nwe,h,nyj,126.68,14.617337
71,228,RB,"Taylor, J.J.",4000.0,nwe,h,nyj,126.68,14.617337
70,227,RB,"Bolden, Brandon",4000.0,nwe,h,nyj,126.68,15.227826
1,2,RB,"Kamara, Alvin",8900.0,nor,a,sea,121.90,15.688201
87,315,RB,"Washington, Dwayne",4000.0,nor,a,sea,121.90,15.688201
86,314,RB,"Ozigbo, Devine",4000.0,nor,a,sea,121.90,15.688201
88,317,RB,"Armah, Alex",4000.0,nor,a,sea,121.90,17.432951
7,12,RB,"Jones, Aaron",7500.0,gnb,h,was,113.86,16.975245
51,135,RB,"Dillon, AJ",4600.0,gnb,h,was,113.86,16.992881
75,247,RB,"Hill, Kylin",4000.0,gnb,h,was,113.86,17.167669
46,124,RB,"Carter, Michael",4800.0,nyj,a,nwe,111.38,12.209091
53,153,RB,"Johnson, Ty",4300.0,nyj,a,nwe,111.38,12.240278
69,223,RB,"Coleman, Tevin",4000.0,nyj,a,nwe,111.38,12.209091
62,176,RB,"McKinnon, Jerick",4100.0,kan,a,ten,106.02,16.689206
20,54,RB,"Williams, Darrel",5800.0,kan,a,ten,106.02,16.654362
74,238,RB,"Burton, Michael",4000.0,kan,a,ten,106.02,19.591029
24,72,RB,"Edwards-Helaire, Clyde",5400.0,kan,a,ten,106.02,16.739286
9,17,RB,"Taylor, Jonathan",7100.0,ind,a,sfo,87.86,16.036257
60,170,RB,"Hines, Nyheim",4200.0,ind,a,sfo,87.86,16.051419
83,305,RB,"Wilkins, Jordan",4000.0,ind,a,sfo,87.86,16.036257
82,304,RB,"Mack, Marlon",4000.0,ind,a,sfo,87.86,16.036257
35,91,RB,"Montgomery, David",5100.0,chi,a,tam,85.40,16.168966
66,195,RB,"Pierce, Artavis",4000.0,chi,a,tam,85.40,16.171883
65,194,RB,"Nall, Ryan",4000.0,chi,a,tam,85.40,16.171883
32,83,RB,"Herbert, Khalil",5200.0,chi,a,tam,85.40,16.171883
22,67,RB,"Williams, Damien",5500.0,chi,a,tam,85.40,16.168966
27,76,RB,"Carson, Chris",5400.0,sea,h,nor,82.82,11.501753
31,82,RB,"Collins, Alex",5300.0,sea,h,nor,82.82,11.501753
84,310,RB,"Homer, Travis",4000.0,sea,h,nor,82.82,11.557176
85,313,RB,"Bellore, Nick",4000.0,sea,h,nor,82.82,11.557176
56,158,RB,Dallas,4300.0,sea,h,nor,82.82,11.557176
43,118,RB,"Drake, Kenyan",4900.0,lvr,h,phi,74.68,14.769368
14,39,RB,"Jacobs, Josh",6200.0,lvr,h,phi,74.68,14.732817
78,292,RB,"Barber, Peyton",4000.0,lvr,h,phi,74.68,15.326645
79,293,RB,"Richard, Jalen",4000.0,lvr,h,phi,74.68,14.769368
80,294,RB,"Ingold, Alec",4000.0,lvr,h,phi,74.68,14.769368

In [6]:
# QB's
df.loc[df.Pos == 'WR'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
98,344,WR,"Sharpe, Tajae",3400.0,atl,a,mia,181.38,10.469670
12,24,WR,"Ridley, Calvin",6600.0,atl,a,mia,181.38,10.438841
93,329,WR,"Zaccheaus, Olamide",3700.0,atl,a,mia,181.38,10.469670
114,415,WR,"Smith, Shi",3000.0,car,a,nyg,139.46,13.680000
8,15,WR,"Moore, D.J.",7100.0,car,a,nyg,139.46,13.643279
45,123,WR,"Anderson, Robby",4800.0,car,a,nyg,139.46,14.617337
100,356,WR,"Marshall, Terrace",3200.0,car,a,nyg,139.46,13.680000
112,413,WR,"Zylstra, Brandon",3000.0,car,a,nyg,139.46,13.680000
113,414,WR,"Erickson, Alex",3000.0,car,a,nyg,139.46,13.680648
92,327,WR,"Agholor, Nelson",3700.0,nwe,h,nyj,126.68,15.229770
118,431,WR,"Harry, N'Keal",3000.0,nwe,h,nyj,126.68,14.729002
52,146,WR,"Bourne, Kendrick",4400.0,nwe,h,nyj,126.68,15.229770
30,80,WR,"Meyers, Jakobi",5300.0,nwe,h,nyj,126.68,14.617337
119,432,WR,"Olszewski, Gunner",3000.0,nwe,h,nyj,126.68,14.670821
120,433,WR,"Slater, Matthew",3000.0,nwe,h,nyj,126.68,14.670821
105,370,WR,"Stills, Kenny",3100.0,nor,a,sea,121.90,15.688201
134,525,WR,"Montgomery, Ty",3000.0,nor,a,sea,121.90,15.688201
135,526,WR,"Hogan, Chris",3000.0,nor,a,sea,121.90,15.777877
57,159,WR,"Harris, Deonte",4300.0,nor,a,sea,121.90,15.777877
136,527,WR,"Humphrey, Lil'Jordan",3000.0,nor,a,sea,121.90,15.777877
34,89,WR,"Callaway, Marquez",5200.0,nor,a,sea,121.90,17.432951
0,1,WR,"Adams, Davante",8900.0,gnb,h,was,113.86,20.062857
124,455,WR,"Taylor, Malik",3000.0,gnb,h,was,113.86,16.975245
59,163,WR,"Lazard, Allen",4200.0,gnb,h,was,113.86,16.992881
123,454,WR,"St. Brown, Equanimeous",3000.0,gnb,h,was,113.86,16.975245
122,453,WR,"Rodgers, Amari",3000.0,gnb,h,was,113.86,16.975245
76,250,WR,"Cobb, Randall",4000.0,gnb,h,was,113.86,20.209688
89,321,WR,"Valdes-Scantling, Marquez",3900.0,gnb,h,was,113.86,16.975245
33,86,WR,"Davis, Corey",5200.0,nyj,a,nwe,111.38,12.209091
117,428,WR,"Smith, Jeff",3000.0,nyj,a,nwe,111.38,12.240278
116,427,WR,"Mims, Denzel",3000.0,nyj,a,nwe,111.38,12.240278
94,332,WR,"Moore, Elijah",3600.0,nyj,a,nwe,111.38,12.240278
115,426,WR,"Berrios, Braxton",3000.0,nyj,a,nwe,111.38,12.209091
42,116,WR,"Crowder, Jamison",4900.0,nyj,a,nwe,111.38,12.209091
101,357,WR,"Gordon, Josh",3200.0,kan,a,ten,106.02,16.752295
121,436,WR,"Kemp, Marcus",3000.0,kan,a,ten,106.02,16.739286
54,154,WR,"Hardman, Mecole",4300.0,kan,a,ten,106.02,16.752295
2,3,WR,"Hill, Tyreek",8600.0,kan,a,ten,106.02,16.739286
97,342,WR,"Robinson, Demarcus",3400.0,kan,a,ten,106.02,16.689206
99,351,WR,"Pringle, Byron",3300.0,kan,a,ten,106.02,16.689206
49,133,WR,"Raymond, Kalif",4700.0,det,a,lar,90.82,10.363740
125,489,WR,"Kennedy, Tom",3000.0,det,a,lar,90.82,10.264535
63,178,WR,"St. Brown, Amon-Ra",4100.0,det,a,lar,90.82,10.363740
44,119,WR,"Hilton, T.Y.",4900.0,ind,a,sfo,87.86,16.051419
131,513,WR,"Harris, De'Michael",3000.0,ind,a,sfo,87.86,16.051419
130,509,WR,"Strachan, Mike",3000.0,ind,a,sfo,87.86,16.036257
129,508,WR,"Dulin, Ashton",3000.0,ind,a,sfo,87.86,16.051419
55,157,WR,"Pascal, Zach",4300.0,ind,a,sfo,87.86,16.036257
38,98,WR,"Pittman Jr., Michael",5100.0,ind,a,sfo,87.86,16.036257
96,339,WR,"Campbell, Parris",3500.0,ind,a,sfo,87.86,17.932595
50,134,WR,"Mooney, Darnell",4600.0,chi,a,tam,85.40,16.171883
110,393,WR,"Webster, Nsimba",3000.0,chi,a,tam,85.40,16.284916
107,389,WR,"Goodwin, Marquise",3000.0,chi,a,tam,85.40,16.302382
36,92,WR,"Robinson, Allen",5100.0,chi,a,tam,85.40,16.171883
109,391,WR,"Grant, Jakeem",3000.0,chi,a,tam,85.40,16.302382
108,390,WR,"Byrd, Damiere",3000.0,chi,a,tam,85.40,18.152047
10,21,WR,"Metcalf, D.K.",6800.0,sea,h,nor,82.82,11.690120
15,40,WR,"Lockett, Tyler",6200.0,sea,h,nor,82.82,11.690120
133,519,WR,"Dorsett, Phillip",3000.0,sea,h,nor,82.82,11.557176
132,518,WR,"Hart, Penny",3000.0,sea,h,nor,82.82,11.557176
102,361,WR,"Swain, Freddie",3200.0,sea,h,nor,82.82,11.760102
127,495,WR,"Jones, Zay",3000.0,lvr,h,phi,74.68,14.774211
23,70,WR,"Ruggs III, Henry",5500.0,lvr,h,phi,74.68,14.769368
128,496,WR,"Snead, Willie",3000.0,lvr,h,phi,74.68,14.774211
64,180,WR,"Edwards, Bryan",4100.0,lvr,h,phi,74.68,14.782857
47,126,WR,"Renfrow, Hunter",4800.0,lvr,h,phi,74.68,14.769368
25,73,WR,"Smith, Devonta",5400.0,phi,a,lvr,68.96,9.302523
126,491,WR,"Ward, Greg",3000.0,phi,a,lvr,68.96,9.720183
90,322,WR,"Watkins, Quez",3900.0,phi,a,lvr,68.96,9.678880
91,325,WR,"Reagor, Jalen",3800.0,phi,a,lvr,68.96,9.678880
106,371,WR,"Mickens, Jaydon",3000.0,NaN,h,NaN,0.00,18.954286

In [7]:
# QB's
df.loc[df.Pos == 'TE'].sort_values(by='Oppt_pts_allowed_lw', ascending=False)

,Unnamed: 0,Pos,Name,Salary,Team,h/a,Oppt,Oppt_pts_allowed_lw,pred
148,571,TE,"Thompson, Colin",2500.0,car,a,nyg,139.46,13.680000
142,543,TE,"Tremble, Tommy",2700.0,car,a,nyg,139.46,13.680000
139,534,TE,"Thomas, Ian",2900.0,car,a,nyg,139.46,13.680000
140,538,TE,"Smith, Jonnu",2800.0,nwe,h,nyj,126.68,14.617337
61,174,TE,"Henry, Hunter",4100.0,nwe,h,nyj,126.68,14.670821
137,531,TE,"Trautman, Adam",3000.0,nor,a,sea,121.90,15.688201
164,651,TE,"Griffin, Garrett",2500.0,nor,a,sea,121.90,15.688201
103,362,TE,"Johnson, Juwan",3200.0,nor,a,sea,121.90,15.688201
158,605,TE,"Davis, Tyler",2500.0,gnb,h,was,113.86,17.167669
157,604,TE,"Deguara, Josiah",2500.0,gnb,h,was,113.86,17.167669
159,606,TE,"Dafney, Dominique",2500.0,gnb,h,was,113.86,20.308427
156,603,TE,"Lewis, Marcedes",2500.0,gnb,h,was,113.86,16.992881
95,337,TE,"Tonyan, Robert",3500.0,gnb,h,was,113.86,16.975245
150,581,TE,"Wesco, Trevon",2500.0,nyj,a,nwe,111.38,12.240278
151,582,TE,"Brown, Daniel",2500.0,nyj,a,nwe,111.38,12.209091
149,579,TE,"Kroft, Tyler",2500.0,nyj,a,nwe,111.38,12.240278
155,591,TE,"Winchester, James",2500.0,kan,a,ten,106.02,16.654362
154,590,TE,"Fortson, Jody",2500.0,kan,a,ten,106.02,16.739286
153,589,TE,"Gray, Noah",2500.0,kan,a,ten,106.02,16.739286
152,588,TE,"Bell, Blake",2500.0,kan,a,ten,106.02,19.591029
5,10,TE,"Kelce, Travis",7600.0,kan,a,ten,106.02,16.689206
143,546,TE,"Doyle, Jack",2700.0,ind,a,sfo,87.86,16.051419
104,369,TE,"Alie-Cox, Mo",3100.0,ind,a,sfo,87.86,17.810847
162,644,TE,"Granson, Kylen",2500.0,ind,a,sfo,87.86,16.051419
146,561,TE,"Holtz, J.P.",2500.0,chi,a,tam,85.40,16.284916
145,560,TE,"James, Jesse",2500.0,chi,a,tam,85.40,16.171883
144,559,TE,"Graham, Jimmy",2500.0,chi,a,tam,85.40,16.284916
111,398,TE,"Kmet, Cole",3000.0,chi,a,tam,85.40,16.171883
147,562,TE,"Horsted, Jesper",2500.0,chi,a,tam,85.40,16.284916
141,541,TE,"Dissly, Will",2800.0,sea,h,nor,82.82,11.557176
138,532,TE,"Everett, Gerald",3000.0,sea,h,nor,82.82,11.557176
163,647,TE,"Parkinson, Colby",2500.0,sea,h,nor,82.82,11.760102
11,23,TE,"Waller, Darren",6700.0,lvr,h,phi,74.68,14.769368
160,637,TE,"Moreau, Foster",2500.0,lvr,h,phi,74.68,14.769368
161,639,TE,"Carrier, Derek",2500.0,lvr,h,phi,74.68,15.326645

In [8]:
file_path = "./csv's/def_df's/most_recent_def_df.csv"
def_df = pd.read_csv(file_path)
def_df.head(15)

,Unnamed: 0,Week,Name,Pos,Team,h/a,Oppt,DK points,Salary,avg_pts_to_qb,avg_pts_to_rb,avg_pts_to_wr,avg_pts_to_te
0,407,1,Arizona,Def,ari,a,ten,16.0,2100,17.18,17.2,33.00,4.9
1,408,1,New Orleans,Def,nor,h,gnb,15.0,2200,5.04,9.2,29.50,5.7
2,409,1,Pittsburgh,Def,pit,a,buf,14.0,2800,18.20,11.4,50.80,8.1
3,410,1,Philadelphia,Def,phi,a,atl,10.0,2600,7.36,25.0,10.10,13.9
4,411,1,San Francisco,Def,sfo,a,det,10.0,4200,32.92,49.4,33.70,26.9
5,412,1,Carolina,Def,car,h,nyj,9.0,3600,19.32,9.0,42.50,10.8
6,413,1,Denver,Def,den,a,nyg,8.0,3300,22.38,7.6,50.60,2.8
7,414,1,LA Rams,Def,lar,h,chi,8.0,4400,14.24,29.8,30.30,11.3
8,415,1,Las Vegas,Def,lvr,h,bal,7.0,2600,20.00,30.7,34.60,5.0
9,416,1,Houston,Def,hou,h,jac,7.0,2100,25.08,16.2,50.80,20.0
10,417,1,Dallas,Def,dal,a,tam,7.0,2500,32.16,14.5,59.60,29.0
11,418,1,Washington,Def,was,h,lac,7.0,3200,18.38,16.3,60.80,11.7
12,419,1,Seattle,Def,sea,a,ind,6.0,3400,19.34,31.8,34.20,5.1
13,420,1,Miami,Def,mia,a,nwe,6.0,2900,15.24,29.4,31.30,15.9
14,421,1,Cincinnati,Def,cin,h,min,5.0,2000,25.04,29.8,59.44,8.1

In [9]:
# figure out which teams are giving up the most to qb's
qb_df = (def_df.loc[(def_df.avg_pts_to_qb > 18)]
            .drop(columns=['avg_pts_to_rb', 'avg_pts_to_wr', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_qb', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
qb_df.sort_values(by='Name')
qb_counts = qb_df.Team.value_counts()

In [10]:
# figure out which teams are giving up the most to rb's
rb_df = (def_df.loc[(def_df.avg_pts_to_rb > 18)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_wr', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_rb', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
rb_df.sort_values(by='Name')
rb_counts = rb_df.Team.value_counts()

In [11]:
# figure out which teams are giving up the most to wr's
wr_df = (def_df.loc[(def_df.avg_pts_to_wr > 18)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_rb', 'avg_pts_to_te'])
            .sort_values(by='avg_pts_to_wr', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
wr_df.sort_values(by='Name')
wr_counts = wr_df.Team.value_counts()

In [12]:
# figure out which teams are giving up the most to te's
te_df = (def_df.loc[(def_df.avg_pts_to_te > 10)]
            .drop(columns=['avg_pts_to_qb', 'avg_pts_to_rb', 'avg_pts_to_wr'])
            .sort_values(by='avg_pts_to_te', ascending=False).head(15))
# sort by name to determine frequency of teams,
# higher frequency = weaker to that position
te_df.sort_values(by='Name')           
te_counts = te_df.Team.value_counts()

In [13]:
total_counts = [qb_counts, rb_counts, wr_counts, te_counts]
pos = ['qb', 'rb', 'wr', 'te']
def read_counts(array):
    counts = {}
    for i in range(4):
        counts[pos[i]] = array[i][0:3]
    return counts

# this is the total times a def has given 20+
# points (12+ in the case of TE's) up to any
# defense. The higher the numer, the more frequent
# that happens.
count_dict = read_counts(total_counts)
count_dict

{'qb': was    3
 ten    2
 cle    2
 Name: Team, dtype: int64,
 'rb': sea    4
 mia    3
 det    2
 Name: Team, dtype: int64,
 'wr': tam    4
 ten    3
 dal    2
 Name: Team, dtype: int64,
 'te': bal    4
 dal    2
 gnb    2
 Name: Team, dtype: int64}

In [14]:
for key in count_dict.keys():
    print("Pick these", key + "'s:")
    for i in range(3):
        bad_def = count_dict[key].index[i]
        good_play = df.loc[(df.Oppt == bad_def)&(df.Pos == key.upper())].drop(columns=['Unnamed: 0', 'Pos', 'Oppt_pts_allowed_lw'])
        if len(good_play) > 0:
            print(good_play)
    print('=====')

Pick these qb's:
              Name  Salary Team h/a Oppt       pred
6   Rodgers, Aaron  7500.0  gnb   h  was  16.841176
58    Love, Jordan  4200.0  gnb   h  was  16.975245
                  Name  Salary Team h/a Oppt       pred
4  Mahomes II, Patrick  8400.0  kan   a  ten  16.631441
=====
Pick these rb's:
                  Name  Salary Team h/a Oppt       pred
1        Kamara, Alvin  8900.0  nor   a  sea  15.688201
86      Ozigbo, Devine  4000.0  nor   a  sea  15.688201
87  Washington, Dwayne  4000.0  nor   a  sea  15.688201
88         Armah, Alex  4000.0  nor   a  sea  17.432951
=====
Pick these wr's:
                  Name  Salary Team h/a Oppt       pred
36     Robinson, Allen  5100.0  chi   a  tam  16.171883
50     Mooney, Darnell  4600.0  chi   a  tam  16.171883
107  Goodwin, Marquise  3000.0  chi   a  tam  16.302382
108      Byrd, Damiere  3000.0  chi   a  tam  18.152047
109      Grant, Jakeem  3000.0  chi   a  tam  16.302382
110    Webster, Nsimba  3000.0  chi   a  tam  16.284916
                   Name  Salary Team h/a Oppt       pred
2          Hill, Tyreek  8600.0  kan   a  ten  16.739286
54      Hardman, Mecole  4300.0  kan   a  ten  16.752295
97   Robinson, Demarcus  3400.0  kan   a  ten  16.689206
99       Pringle, Byron  3300.0  kan   a  ten  16.689206
101        Gordon, Josh  3200.0  kan   a  ten  16.752295
121        Kemp, Marcus  3000.0  kan   a  ten  16.739286
=====
Pick these te's:
=====

In [15]:
def pick_def():
    file_path = "./csv's/def_df's/most_recent_def_df.csv"
    def_df = pd.read_csv(file_path).drop(columns=['Unnamed: 0', 'Name', 'h/a']) 
    def_df = (def_df
                .sort_values(by='DK points', ascending=False)
                .head(int(len(def_df) / 10)))
    def_df_counts = def_df['Team'].value_counts()
    def_df_counts_idx = def_df_counts.index
    # print(def_df)

    tier_1_defs = []
    tier_2_defs = []
    match1 = -10
    match2 = -10
    for x, y in zip(def_df_counts, def_df_counts_idx):
        if x > match1:
            match1 = x
            tier_1_defs.clear()
            tier_1_defs.append(y)
        elif x == match1:
            tier_1_defs.append(y)

        if x < match1 and x > match2:
            match2 = x
            tier_2_defs.append(y)
        elif x == match2:
            tier_2_defs.append(y)
    print("Tier 1 defenses: ")
    for defense in tier_1_defs:
        print(defense)
    print("Tier 2 defenses: ")
    for defense in tier_2_defs:
        print(defense)
    return tier_1_defs, tier_2_defs

t1d, t2d = pick_def()

Tier 1 defenses:
buf
Tier 2 defenses:
ari
nor

In [16]:
big_df_columns = ['Year', 'Week', 'Name', 'Pos', 'Team', 'h/a', 'Oppt', 'DK points', 'DK salary']
big_df = pd.DataFrame(columns=big_df_columns)
for num in range(2014,get_current_year()+1):
    big_df = big_df.append(get_season_data(num, drop_year=False))
big_df['pts/1k'] = big_df['DK points'] / big_df['DK salary'] * 1000

NameError: name 'get_current_year' is not defined

In [ ]:
player_name = 'Njoku, David'
big_df.loc[big_df.Name == player_name].sort_values(by='pts/1k', ascending=False)