# Modeling

## From the end of EDA:

### Conclusion

So the moral of the story currently is that we have at the minimum a couple of heuristics for choosing players:

- Choose value players, ie players with moderate price tags but good matchups
- Choose players based on Def they play
- Avoid expensive players, since statistically they are unable to produce high scores consistently.

With these guidelines, week 1 will be a total gamble, since we won't have any real data besides salaries. Week 2 will be the first time we can use any defensive data to help with our decision making.

## Goal for this notebook:

Based on the conclusions from the EDA, we want to see if we can find a model that confirms these ideas across seasons, and also has a high enough (cross-validated) accuracy to warrant trying to use this with real money.

### Note:
Sci-kit Learn says, according to https://scikit-learn.org/stable/tutorial/machine_learning_map/, that we should be using the linear SVC classifier, but for the sake of this exercise, we are going to try many different models to see what produces the best result.

## Logic

Instead of projecting individual player points, the notebook is going to classify players based on their potentials to score in certain catgories.

- A player in the 0 category will be likely to score 15 points or less (players that should be ignored).
- A player with a 1 classification will be likely to score between 15 and 20 points.
- A player with a 2 classification will be likely to score 20+ points.
- A player with a 3 classification will be likely to score 30+ points.

Obviously we want to get as many true 3s as possible, but getting 100% accuracy on that seems implausible. So our model should tend to maximize the top left value (correctly predict poor picks) and have errors that trend towards the bottom right (bottom right 2x2) of the confusion matrix. The model should also minimize the rest of the values on the top row, and the left column.

So the criteria for deciding on what model to proceed with is (in order of importance):
1. Correct 3 predictions
2. Correct 0 predictions
3. Bottom right 2x2 has most counts
4. Minimize top row 
5. Minimize left column

### Jump to:

- [Model Testing](#test_run)
- [Lineup Builder](#lineup_builder)

## Import Libraries

In [1]:
from collections import defaultdict
import pickle
import random
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.compose import ColumnTransformer
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

from xgboost import XGBClassifier

## Helper Functions

In [2]:
def get_weekly_data(week, year):
    file_path = f"./csv's/{year}/year-{year}-week-{week}-DK-player_data.csv"
    df = pd.read_csv(file_path)
    return df

def get_ytd_season_data(year, current_week):
    df = get_weekly_data(1,year)
    for week in range(2,current_week+1):
        try:
            df = df.append(get_weekly_data(week, year), ignore_index=True)
        except:
            print("No data for week: "+str(week))
    df = df.drop(['Unnamed: 0', 'Year'], axis=1)
    return df

def get_season_data(year):
    df = get_weekly_data(1,year)
    for week in range(2,17):
        try:
            df = df.append(get_weekly_data(week, year), ignore_index=True)
        except:
            print("No data for week: "+str(week))
    df = df.drop(['Unnamed: 0', 'Year'], axis=1)
    return df

def make_confusion_matrix(y_test, y_pred):
    cm = confusion_matrix(y_test, y_pred)
    acc_score = accuracy_score(y_test, y_pred)
    return cm, acc_score

def scale_features(sc, X_train, X_test):
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return X_train, X_test

def find_15_ptrs(df):
    df['scoring_potential'] = 0
    df['scoring_potential'] = np.where(df['DK points'] >= 15.0, 1, df['scoring_potential'])
    return df

def find_20_ptrs(df):
    df['scoring_potential'] = np.where(df['DK points'] >= 20.0, 2, df['scoring_potential'])
    return df

def find_30_ptrs(df):
    df['scoring_potential'] = np.where(df['DK points'] >= 30.0, 3, df['scoring_potential'])
    return df

def find_scoring_potentials(df):
    df = find_15_ptrs(df)
    df = find_20_ptrs(df)
    df = find_30_ptrs(df)
    return df

def handle_nulls(df):
    # players that have nulls for any of the columns are 
    # extremely likely to be under performing or going into a bye.
    # the one caveat is that some are possibly coming off a bye.
    # to handle this later, probably will drop them, save those
    # as a variable, and then re-merge after getting rid of the other
    # null values.
    df = df.dropna()
    return df

def train_test_split_dicts(x_dict, y_dict, idx):
    X = x_dict[idx]
    y = y_dict[idx+1]
    X = X.iloc[:,:-1]
    # create a df with consecutive weeks' stats on the same row
    combined = pd.merge(X, y, how="right", on=["Name"])
    # eliminate players going into a bye (also removes players coming off a bye)
    combined = handle_nulls(combined)
    x_filt = combined['Week_x']==idx
    y_filt = combined['Week_y']==idx+1, ['scoring_potential']
    X_train, X_test, y_train, y_test = train_test_split(combined.loc[x_filt],
                                                        combined.loc[y_filt], 
                                                        test_size=0.3,
                                                        random_state=0)
    return X_train, X_test, y_train, y_test

## Import Data

In [3]:
season = 2019
dataset = get_season_data(season)
# dataset

In [4]:
df = handle_nulls(dataset)
df = find_scoring_potentials(df)
df

,Week,Name,Pos,Team,h/a,Oppt,DK points,DK salary,scoring_potential
0,1,"Jackson, Lamar",QB,bal,a,mia,36.56,6000,3
1,1,"Prescott, Dak",QB,dal,h,nyg,36.40,5900,3
2,1,"Watson, Deshaun",QB,hou,a,nor,31.72,6800,3
3,1,"Stafford, Matthew",QB,det,a,ari,31.60,5400,3
4,1,"Mahomes II, Patrick",QB,kan,a,jac,30.32,7200,3
...,...,...,...,...,...,...,...,...,...
6398,16,Cincinnati,Def,cin,a,mia,0.00,2900,0
6399,16,Carolina,Def,car,a,ind,-1.00,2400,0
6400,16,Washington,Def,was,h,nyg,-1.00,2800,0
6401,16,New York G,Def,nyg,a,was,-1.00,2800,0
6402,16,Tennessee,Def,ten,h,nor,-1.00,2100,0

In [5]:
def_df = df.loc[df.Pos == 'Def']
def_df

,Week,Name,Pos,Team,h/a,Oppt,DK points,DK salary,scoring_potential
414,1,San Francisco,Def,sfo,a,tam,27.0,2200,2
415,1,Tennessee,Def,ten,a,cle,23.0,2600,2
416,1,New York J,Def,nyj,h,buf,18.0,3100,1
417,1,Minnesota,Def,min,h,atl,16.0,3300,1
418,1,Green Bay,Def,gnb,a,chi,14.0,2700,0
...,...,...,...,...,...,...,...,...,...
6398,16,Cincinnati,Def,cin,a,mia,0.0,2900,0
6399,16,Carolina,Def,car,a,ind,-1.0,2400,0
6400,16,Washington,Def,was,h,nyg,-1.0,2800,0
6401,16,New York G,Def,nyg,a,was,-1.0,2800,0
6402,16,Tennessee,Def,ten,h,nor,-1.0,2100,0

In [6]:
def_df['fantasy_points_allowed_lw'] = 0
df['Oppt_pts_allowed_lw'] = 0
def_teams = [x for x in def_df['Team'].unique()]

for week in range(1,17):
    for team in def_teams:
        try:
            offense_df1 = df.loc[(df['Oppt']==team)&(df['Week']==week)]
            offense_df2 = df.loc[(df['Oppt']==team)&(df['Week']==week+1)]
            sum_ = offense_df1['DK points'].sum()
            def_df.loc[(df['Team']==team)&(df['Week']==week+1), 'fantasy_points_allowed_lw'] = sum_
            df.loc[(df['Oppt']==team)&(df['Week']==week+1), 'Oppt_pts_allowed_lw'] = sum_
        except:
            print('couldnt append data')
            pass

def_df

<ipython-input-6-c68496f0c442>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  def_df['fantasy_points_allowed_lw'] = 0
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Week,Name,Pos,Team,h/a,Oppt,DK points,DK salary,scoring_potential,fantasy_points_allowed_lw
414,1,San Francisco,Def,sfo,a,tam,27.0,2200,2,0.00
415,1,Tennessee,Def,ten,a,cle,23.0,2600,2,0.00
416,1,New York J,Def,nyj,h,buf,18.0,3100,1,0.00
417,1,Minnesota,Def,min,h,atl,16.0,3300,1,0.00
418,1,Green Bay,Def,gnb,a,chi,14.0,2700,0,0.00
...,...,...,...,...,...,...,...,...,...,...
6398,16,Cincinnati,Def,cin,a,mia,0.0,2900,0,96.42
6399,16,Carolina,Def,car,a,ind,-1.0,2400,0,119.44
6400,16,Washington,Def,was,h,nyg,-1.0,2800,0,128.94
6401,16,New York G,Def,nyg,a,was,-1.0,2800,0,99.26
6402,16,Tennessee,Def,ten,h,nor,-1.0,2100,0,103.02

In [7]:
# create a df without points, because those won't be available
# when projecting for the incoming week
df_no_points = df.drop(labels='DK points', axis=1)

In [6]:
# create dictionaries to match previous week 
# with "next" week's potential outcomes.
# When we train_test_split_dicts, we always compare most recent
# week with what's possible next week
x_df_dict={}
y_df_dict={}
for i in range(1,17):
    filt = df['Week'] == i
    x_df_dict[i] = df.loc[filt]
    y_df_dict[i] = df_no_points.loc[filt]

In [7]:
x_df_dict

{1:      Week                 Name  Pos Team h/a Oppt  DK points  DK salary  \
 0       1       Jackson, Lamar   QB  bal   a  mia      36.56       6000
 1       1        Prescott, Dak   QB  dal   h  nyg      36.40       5900
 2       1      Watson, Deshaun   QB  hou   a  nor      31.72       6800
 3       1    Stafford, Matthew   QB  det   a  ari      31.60       5400
 4       1  Mahomes II, Patrick   QB  kan   a  jac      30.32       7200
 ..    ...                  ...  ...  ...  ..  ...        ...        ...
 441     1           Washington  Def  was   a  phi       0.00       2500
 442     1           Pittsburgh  Def  pit   a  nwe       0.00       2800
 443     1                Miami  Def  mia   h  bal      -3.00       2100
 444     1         Jacksonville  Def  jac   h  kan      -4.00       2300
 445     1           New York G  Def  nyg   a  dal      -4.00       2300

      scoring_potential
 0                    3
 1                    3
 2                    3
 3                    3
 4                    3
 ..                 ...
 441                  0
 442                  0
 443                  0
 444                  0
 445                  0

 [446 rows x 9 columns],
 2:      Week                 Name  Pos Team h/a Oppt  DK points  DK salary  \
 446     2  Mahomes II, Patrick   QB  kan   a  oak      35.62       7500
 447     2       Jackson, Lamar   QB  bal   h  ari      33.88       6700
 448     2        Prescott, Dak   QB  dal   a  was      28.66       6300
 449     2      Wilson, Russell   QB  sea   a  pit      28.20       6200
 450     2           Ryan, Matt   QB  atl   h  phi      25.10       6100
 ..    ...                  ...  ...  ...  ..  ...        ...        ...
 869     2           Washington  Def  was   h  dal       2.00       2300
 870     2           New York G  Def  nyg   h  buf       2.00       2500
 871     2               Denver  Def  den   h  chi       1.00       2700
 872     2               Dallas  Def  dal   a  was       1.00       3300
 873     2           Cincinnati  Def  cin   h  sfo      -2.00       2600

      scoring_potential
 446                  3
 447                  3
 448                  2
 449                  2
 450                  2
 ..                 ...
 869                  0
 870                  0
 871                  0
 872                  0
 873                  0

 [428 rows x 9 columns],
 3:       Week                 Name  Pos Team h/a Oppt  DK points  DK salary  \
 874      3      Wilson, Russell   QB  sea   h  nor      44.34       6300
 875      3        Jones, Daniel   QB  nyg   a  tam      39.24       5000
 876      3  Mahomes II, Patrick   QB  kan   h  bal      30.86       7600
 877      3      Watson, Deshaun   QB  hou   a  lac      29.84       6400
 878      3      Winston, Jameis   QB  tam   h  nyg      29.50       5400
 ...    ...                  ...  ...  ...  ..  ...        ...        ...
 1289     3            Tennessee  Def  ten   a  jac       1.00       3300
 1290     3               Denver  Def  den   a  gnb       0.00       2600
 1291     3              Arizona  Def  ari   h  car       0.00       2700
 1292     3            Baltimore  Def  bal   a  kan       0.00       2500
 1293     3              Oakland  Def  oak   a  min      -1.00       2700

       scoring_potential
 874                   3
 875                   3
 876                   3
 877                   2
 878                   2
 ...                 ...
 1289                  0
 1290                  0
 1291                  0
 1292                  0
 1293                  0

 [420 rows x 9 columns],
 4:       Week             Name  Pos Team h/a Oppt  DK points  DK salary  \
 1294     4  Winston, Jameis   QB  tam   a  lar      33.30       5700
 1295     4   Rodgers, Aaron   QB  gnb   h  phi      30.48       6000
 1296     4      Goff, Jared   QB  lar   h  tam      27.68       6300
 1297     4   Jackson, Lamar   QB  bal   h  cle      26.48       6900
 1298     4      Flacco, Joe   QB  den   h  jac      26.02       4600
 ...    ...              ...  ...  ...  ..  ...        ...        ...
 1687     4        Minnesota  Def  min   a  chi       2.00       3400
 1688     4          Atlanta  Def  atl   h  ten       0.00       2900
 1689     4            Miami  Def  mia   h  lac       0.00       2000
 1690     4        Green Bay  Def  gnb   h  phi      -1.00       3100
 1691     4        Baltimore  Def  bal   h  cle      -1.00       3200

       scoring_potential
 1294                  3
 1295                  3
 1296                  2
 1297                  2
 1298                  2
 ...                 ...
 1687                  0
 1688                  0
 1689                  0
 1690                  0
 1691                  0

 [398 rows x 9 columns],
 5:       Week                Name  Pos Team h/a Oppt  DK points  DK salary  \
 1692     5     Watson, Deshaun   QB  hou   h  atl      44.74       6700
 1693     5          Ryan, Matt   QB  atl   a  hou      35.90       5900
 1694     5  Bridgewater, Teddy   QB  nor   h  tam      31.26       5200
 1695     5     Wilson, Russell   QB  sea   h  lar      29.92       6200
 1696     5       Prescott, Dak   QB  dal   h  gnb      29.22       6000
 ...    ...                 ...  ...  ...  ..  ...        ...        ...
 2087     5           Tampa Bay  Def  tam   a  nor       1.00       2200
 2088     5          Cincinnati  Def  cin   h  ari       1.00       2500
 2089     5              Dallas  Def  dal   h  gnb       1.00       2800
 2090     5             Arizona  Def  ari   a  cin       1.00       2900
 2091     5             Atlanta  Def  atl   a  hou      -2.00       2500

       scoring_potential
 1692                  3
 1693                  3
 1694                  3
 1695                  2
 1696                  2
 ...                 ...
 2087                  0
 2088                  0
 2089                  0
 2090                  0
 2091                  0

 [400 rows x 9 columns],
 6:       Week             Name  Pos Team h/a Oppt  DK points  DK salary  \
 2092     6       Ryan, Matt   QB  atl   a  ari      33.94       6400
 2093     6   Jackson, Lamar   QB  bal   h  cin      33.64       6900
 2094     6    Murray, Kyler   QB  ari   h  atl      31.80       6500
 2095     6  Watson, Deshaun   QB  hou   a  kan      31.40       6700
 2096     6    Cousins, Kirk   QB  min   h  phi      31.32       5200
 ...    ...              ...  ...  ...  ..  ...        ...        ...
 2459     6       New York J  Def  nyj   h  dal       1.00       1500
 2460     6            Miami  Def  mia   h  was       1.00       2700
 2461     6          Arizona  Def  ari   h  atl       1.00       1900
 2462     6        Tampa Bay  Def  tam   h  car       0.00       2500
 2463     6          Atlanta  Def  atl   a  ari      -1.00       2300

       scoring_potential
 2092                  3
 2093                  3
 2094                  3
 2095                  3
 2096                  3
 ...                 ...
 2459                  0
 2460                  0
 2461                  0
 2462                  0
 2463                  0

 [372 rows x 9 columns],
 7:       Week               Name  Pos Team h/a Oppt  DK points  DK salary  \
 2464     7     Rodgers, Aaron   QB  gnb   h  oak      46.76       6400
 2465     7  Stafford, Matthew   QB  det   h  min      32.56       5200
 2466     7      Cousins, Kirk   QB  min   a  det      32.18       5800
 2467     7   Brissett, Jacoby   QB  ind   h  hou      31.64       5600
 2468     7     Jackson, Lamar   QB  bal   a  sea      26.32       6800
 ...    ...                ...  ...  ...  ..  ...        ...        ...
 2838     7         New York J  Def  nyj   h  nwe       1.00       2100
 2839     7              Miami  Def  mia   a  buf       1.00       1500
 2840     7            Atlanta  Def  atl   h  lar      -1.00       2300
 2841     7            Oakland  Def  oak   a  gnb      -3.00       1900
 2842     7            Detroit  Def  det   h  min      -4.00       2300

       scoring_potential
 2464                  3
 2465                  3
 2466                  3
 2467                  3
 2468                  2
 ...                 ...
 2838                  0
 2839                  0
 2840                  0
 2841                  0
 2842                  0

 [379 rows x 9 columns],
 8:       Week               Name  Pos Team h/a Oppt  DK points  DK salary  \
 2843     8      Jones, Daniel   QB  nyg   a  det      32.18       5800
 2844     8     Rodgers, Aaron   QB  gnb   a  kan      30.10       7000
 2845     8        Brees, Drew   QB  nor   h  ari      28.92       6300
 2846     8    Watson, Deshaun   QB  hou   h  oak      27.76       7100
 2847     8  Stafford, Matthew   QB  det   h  nyg      27.38       6100
 ...    ...                ...  ...  ...  ..  ...        ...        ...
 3238     8           Carolina  Def  car   a  sfo       3.00       2400
 3239     8            Atlanta  Def  atl   h  sea       2.00       1800
 3240     8            Arizona  Def  ari   a  nor       1.00       1900
 3241     8         Cincinnati  Def  cin   a  lar       0.00       1700
 3242     8            Houston  Def  hou   h  oak       0.00       2700

       scoring_potential
 2843                  3
 2844                  3
 2845                  2
 2846                  2
 2847                  2
 ...                 ...
 3238                  0
 3239                  0
 3240                  0
 3241                  0
 3242                  0

 [400 rows x 9 columns],
 9:       Week               Name  Pos Team h/a Oppt  DK points  DK salary  \
 3243     9    Wilson, Russell   QB  sea   h  tam      42.22       7100
 3244     9   Garoppolo, Jimmy   QB  sfo   a  ari      31.88       6500
 3245     9  Stafford, Matthew   QB  det   a  oak      29.84       6800
 3246     9     Jackson, Lamar   QB  bal   h  nwe      28.62       6200
 3247     9    Tannehill, Ryan   QB  ten   a  car      28.04       5300
 ...    ...                ...  ...  ...  ..  ...        ...        ...
 3605     9         Washington  Def  was   a  buf       2.00       1800
 3606     9          Tampa Bay  Def  tam   a  sea       1.00       2100
 3607     9        Kansas City  Def  kan   h  min       1.00       2200
 3608     9            Detroit  Def  det   a  oak       0.00       2600
 3609     9            Arizona  Def  ari   h  sfo       0.00       2200

       scoring_potential
 3243                  3
 3244                  3
 3245                  2
 3246                  2
 3247                  2
 ...                 ...
 3605                  0
 3606                  0
 3607                  0
 3608                  0
 3609                  0

 [367 rows x 9 columns],
 10:       Week                 Name  Pos Team h/a Oppt  DK points  DK salary  \
 3610    10        Jones, Daniel   QB  nyg   a  nyj      34.32       5700
 3611    10       Jackson, Lamar   QB  bal   a  cin      33.42       7300
 3612    10  Mahomes II, Patrick   QB  kan   a  ten      32.84       7000
 3613    10        Murray, Kyler   QB  ari   a  tam      30.76       6500
 3614    10        Prescott, Dak   QB  dal   h  min      29.88       6400
 ...    ...                  ...  ...  ...  ..  ...        ...        ...
 3951    10             Carolina  Def  car   a  gnb       2.00       2600
 3952    10            Cleveland  Def  cle   h  buf       2.00       2500
 3953    10           New York G  Def  nyg   a  nyj       1.00       2800
 3954    10               Dallas  Def  dal   h  min       0.00       3100
 3955    10           Cincinnati  Def  cin   h  bal      -1.00       1700

       scoring_potential
 3610                  3
 3611                  3
 3612                  3
 3613                  3
 3614                  2
 ...                 ...
 3951                  0
 3952                  0
 3953                  0
 3954                  0
 3955                  0

 [346 rows x 9 columns],
 11:       Week              Name  Pos Team h/a Oppt  DK points  DK salary  \
 3956    11  Garoppolo, Jimmy   QB  sfo   h  ari      34.66       6700
 3957    11     Prescott, Dak   QB  dal   a  det      34.56       6700
 3958    11       Allen, Josh   QB  buf   a  mia      33.84       6600
 3959    11    Jackson, Lamar   QB  bal   h  hou      33.48       7700
 3960    11     Driskel, Jeff   QB  det   h  dal      27.46       4600
 ...    ...               ...  ...  ...  ..  ...        ...        ...
 4317    11             Miami  Def  mia   h  buf       2.00       2500
 4318    11        Pittsburgh  Def  pit   a  cle       1.00       3200
 4319    11         Tampa Bay  Def  tam   h  nor       0.00       2600
 4320    11           Detroit  Def  det   h  dal      -1.00       1800
 4321    11           Houston  Def  hou   a  bal      -3.00       2300

       scoring_potential
 3956                  3
 3957                  3
 3958                  3
 3959                  3
 3960                  2
 ...                 ...
 4317                  0
 4318                  0
 4319                  0
 4320                  0
 4321                  0

 [366 rows x 9 columns],
 12:       Week             Name  Pos Team h/a Oppt  DK points  DK salary  \
 4322    12   Jackson, Lamar   QB  bal   a  lar      36.26       7400
 4323    12  Tannehill, Ryan   QB  ten   h  jac      33.36       5300
 4324    12     Darnold, Sam   QB  nyj   h  oak      31.20       5800
 4325    12  Winston, Jameis   QB  tam   a  atl      29.32       6200
 4326    12  Mayfield, Baker   QB  cle   h  mia      27.58       5900
 ...    ...              ...  ...  ...  ..  ...        ...        ...
 4687    12          Houston  Def  hou   h  ind       2.00       2800
 4688    12     Jacksonville  Def  jac   a  ten       1.00       2800
 4689    12        Green Bay  Def  gnb   a  sfo      -1.00       2700
 4690    12            Miami  Def  mia   a  cle      -1.00       2000
 4691    12          LA Rams  Def  lar   h  bal      -1.00       2300

       scoring_potential
 4322                  3
 4323                  3
 4324                  3
 4325                  2
 4326                  2
 ...                 ...
 4687                  0
 4688                  0
 4689                  0
 4690                  0
 4691                  0

 [370 rows x 9 columns],
 13:       Week               Name  Pos Team h/a Oppt  DK points  DK salary  \
 4692    13  Fitzpatrick, Ryan   QB  mia   h  phi      30.80       5400
 4693    13    Watson, Deshaun   QB  hou   h  nwe      28.86       6300
 4694    13      Wentz, Carson   QB  phi   a  mia      28.40       5800
 4695    13         Brady, Tom   QB  nwe   a  hou      28.34       6100
 4696    13     Rodgers, Aaron   QB  gnb   a  nyg      28.12       6500
 ...    ...                ...  ...  ...  ..  ...        ...        ...
 5108    13       Philadelphia  Def  phi   a  mia       1.00       3600
 5109    13            Oakland  Def  oak   a  kan       0.00       1700
 5110    13            Atlanta  Def  atl   h  nor       0.00       2300
 5111    13            Arizona  Def  ari   h  lar       0.00       2300
 5112    13         New York G  Def  nyg   h  gnb      -1.00       1900

       scoring_potential
 4692                  3
 4693                  2
 4694                  2
 4695                  2
 4696                  2
 ...                 ...
 5108                  0
 5109                  0
 5110                  0
 5111                  0
 5112                  0

 [421 rows x 9 columns],
 14:       Week                Name  Pos Team h/a Oppt  DK points  DK salary  \
 5113    14         Brees, Drew   QB  nor   h  sfo      43.06       5900
 5114    14     Winston, Jameis   QB  tam   h  ind      40.74       6400
 5115    14  Trubisky, Mitchell   QB  chi   h  dal      33.06       5400
 5116    14    Garoppolo, Jimmy   QB  sfo   a  nor      32.06       5600
 5117    14     Tannehill, Ryan   QB  ten   a  oak      31.54       5800
 ...    ...                 ...  ...  ...  ..  ...        ...        ...
 5537    14         New Orleans  Def  nor   h  sfo       1.00       3100
 5538    14             Oakland  Def  oak   h  ten      -2.00       2700
 5539    14       San Francisco  Def  sfo   a  nor      -2.00       2700
 5540    14        Jacksonville  Def  jac   h  lac      -3.00       3100
 5541    14            Carolina  Def  car   a  atl      -3.00       2800

       scoring_potential
 5113                  3
 5114                  3
 5115                  3
 5116                  3
 5117                  3
 ...                 ...
 5537                  0
 5538                  0
 5539                  0
 5540                  0
 5541                  0

 [429 rows x 9 columns],
 15:       Week                 Name  Pos Team h/a Oppt  DK points  DK salary  \
 5542    15       Jackson, Lamar   QB  bal   h  nyj      37.08       7500
 5543    15      Winston, Jameis   QB  tam   a  det      36.72       6900
 5544    15          Brees, Drew   QB  nor   h  ind      31.28       6900
 5545    15  Mahomes II, Patrick   QB  kan   h  den      26.70       7100
 5546    15      Tannehill, Ryan   QB  ten   h  hou      25.16       6500
 ...    ...                  ...  ...  ...  ..  ...        ...        ...
 5966    15              Chicago  Def  chi   a  gnb       1.00       2400
 5967    15          LA Chargers  Def  lac   h  min       1.00       2400
 5968    15         Indianapolis  Def  ind   a  nor      -1.00       2100
 5969    15            Cleveland  Def  cle   a  ari      -2.00       3300
 5970    15              LA Rams  Def  lar   a  dal      -4.00       2900

       scoring_potential
 5542                  3
 5543                  3
 5544                  3
 5545                  2
 5546                  2
 ...                 ...
 5966                  0
 5967                  0
 5968                  0
 5969                  0
 5970                  0

 [429 rows x 9 columns],
 16:       Week                 Name  Pos Team h/a Oppt  DK points  DK salary  \
 5971    16        Jones, Daniel   QB  nyg   a  was      38.28       5900
 5972    16         Dalton, Andy   QB  cin   a  mia      37.84       5200
 5973    16    Fitzpatrick, Ryan   QB  mia   h  cin      35.66       6000
 5974    16       Jackson, Lamar   QB  bal   a  cle      33.82       8000
 5975    16  Mahomes II, Patrick   QB  kan   a  chi      25.44       6800
 ...    ...                  ...  ...  ...  ..  ...        ...        ...
 6398    16           Cincinnati  Def  cin   a  mia       0.00       2900
 6399    16             Carolina  Def  car   a  ind      -1.00       2400
 6400    16           Washington  Def  was   h  nyg      -1.00       2800
 6401    16           New York G  Def  nyg   a  was      -1.00       2800
 6402    16            Tennessee  Def  ten   h  nor      -1.00       2100

       scoring_potential
 5971                  3
 5972                  3
 5973                  3
 5974                  3
 5975                  2
 ...                 ...
 6398                  0
 6399                  0
 6400                  0
 6401                  0
 6402                  0

 [432 rows x 9 columns]}

In [8]:
y_df_dict

{1:      Week                 Name  Pos Team h/a Oppt  DK salary  \
 0       1       Jackson, Lamar   QB  bal   a  mia       6000
 1       1        Prescott, Dak   QB  dal   h  nyg       5900
 2       1      Watson, Deshaun   QB  hou   a  nor       6800
 3       1    Stafford, Matthew   QB  det   a  ari       5400
 4       1  Mahomes II, Patrick   QB  kan   a  jac       7200
 ..    ...                  ...  ...  ...  ..  ...        ...
 441     1           Washington  Def  was   a  phi       2500
 442     1           Pittsburgh  Def  pit   a  nwe       2800
 443     1                Miami  Def  mia   h  bal       2100
 444     1         Jacksonville  Def  jac   h  kan       2300
 445     1           New York G  Def  nyg   a  dal       2300

      scoring_potential
 0                    3
 1                    3
 2                    3
 3                    3
 4                    3
 ..                 ...
 441                  0
 442                  0
 443                  0
 444                  0
 445                  0

 [446 rows x 8 columns],
 2:      Week                 Name  Pos Team h/a Oppt  DK salary  \
 446     2  Mahomes II, Patrick   QB  kan   a  oak       7500
 447     2       Jackson, Lamar   QB  bal   h  ari       6700
 448     2        Prescott, Dak   QB  dal   a  was       6300
 449     2      Wilson, Russell   QB  sea   a  pit       6200
 450     2           Ryan, Matt   QB  atl   h  phi       6100
 ..    ...                  ...  ...  ...  ..  ...        ...
 869     2           Washington  Def  was   h  dal       2300
 870     2           New York G  Def  nyg   h  buf       2500
 871     2               Denver  Def  den   h  chi       2700
 872     2               Dallas  Def  dal   a  was       3300
 873     2           Cincinnati  Def  cin   h  sfo       2600

      scoring_potential
 446                  3
 447                  3
 448                  2
 449                  2
 450                  2
 ..                 ...
 869                  0
 870                  0
 871                  0
 872                  0
 873                  0

 [428 rows x 8 columns],
 3:       Week                 Name  Pos Team h/a Oppt  DK salary  \
 874      3      Wilson, Russell   QB  sea   h  nor       6300
 875      3        Jones, Daniel   QB  nyg   a  tam       5000
 876      3  Mahomes II, Patrick   QB  kan   h  bal       7600
 877      3      Watson, Deshaun   QB  hou   a  lac       6400
 878      3      Winston, Jameis   QB  tam   h  nyg       5400
 ...    ...                  ...  ...  ...  ..  ...        ...
 1289     3            Tennessee  Def  ten   a  jac       3300
 1290     3               Denver  Def  den   a  gnb       2600
 1291     3              Arizona  Def  ari   h  car       2700
 1292     3            Baltimore  Def  bal   a  kan       2500
 1293     3              Oakland  Def  oak   a  min       2700

       scoring_potential
 874                   3
 875                   3
 876                   3
 877                   2
 878                   2
 ...                 ...
 1289                  0
 1290                  0
 1291                  0
 1292                  0
 1293                  0

 [420 rows x 8 columns],
 4:       Week             Name  Pos Team h/a Oppt  DK salary  scoring_potential
 1294     4  Winston, Jameis   QB  tam   a  lar       5700                  3
 1295     4   Rodgers, Aaron   QB  gnb   h  phi       6000                  3
 1296     4      Goff, Jared   QB  lar   h  tam       6300                  2
 1297     4   Jackson, Lamar   QB  bal   h  cle       6900                  2
 1298     4      Flacco, Joe   QB  den   h  jac       4600                  2
 ...    ...              ...  ...  ...  ..  ...        ...                ...
 1687     4        Minnesota  Def  min   a  chi       3400                  0
 1688     4          Atlanta  Def  atl   h  ten       2900                  0
 1689     4            Miami  Def  mia   h  lac       2000                  0
 1690     4        Green Bay  Def  gnb   h  phi       3100                  0
 1691     4        Baltimore  Def  bal   h  cle       3200                  0

 [398 rows x 8 columns],
 5:       Week                Name  Pos Team h/a Oppt  DK salary  \
 1692     5     Watson, Deshaun   QB  hou   h  atl       6700
 1693     5          Ryan, Matt   QB  atl   a  hou       5900
 1694     5  Bridgewater, Teddy   QB  nor   h  tam       5200
 1695     5     Wilson, Russell   QB  sea   h  lar       6200
 1696     5       Prescott, Dak   QB  dal   h  gnb       6000
 ...    ...                 ...  ...  ...  ..  ...        ...
 2087     5           Tampa Bay  Def  tam   a  nor       2200
 2088     5          Cincinnati  Def  cin   h  ari       2500
 2089     5              Dallas  Def  dal   h  gnb       2800
 2090     5             Arizona  Def  ari   a  cin       2900
 2091     5             Atlanta  Def  atl   a  hou       2500

       scoring_potential
 1692                  3
 1693                  3
 1694                  3
 1695                  2
 1696                  2
 ...                 ...
 2087                  0
 2088                  0
 2089                  0
 2090                  0
 2091                  0

 [400 rows x 8 columns],
 6:       Week             Name  Pos Team h/a Oppt  DK salary  scoring_potential
 2092     6       Ryan, Matt   QB  atl   a  ari       6400                  3
 2093     6   Jackson, Lamar   QB  bal   h  cin       6900                  3
 2094     6    Murray, Kyler   QB  ari   h  atl       6500                  3
 2095     6  Watson, Deshaun   QB  hou   a  kan       6700                  3
 2096     6    Cousins, Kirk   QB  min   h  phi       5200                  3
 ...    ...              ...  ...  ...  ..  ...        ...                ...
 2459     6       New York J  Def  nyj   h  dal       1500                  0
 2460     6            Miami  Def  mia   h  was       2700                  0
 2461     6          Arizona  Def  ari   h  atl       1900                  0
 2462     6        Tampa Bay  Def  tam   h  car       2500                  0
 2463     6          Atlanta  Def  atl   a  ari       2300                  0

 [372 rows x 8 columns],
 7:       Week               Name  Pos Team h/a Oppt  DK salary  scoring_potential
 2464     7     Rodgers, Aaron   QB  gnb   h  oak       6400                  3
 2465     7  Stafford, Matthew   QB  det   h  min       5200                  3
 2466     7      Cousins, Kirk   QB  min   a  det       5800                  3
 2467     7   Brissett, Jacoby   QB  ind   h  hou       5600                  3
 2468     7     Jackson, Lamar   QB  bal   a  sea       6800                  2
 ...    ...                ...  ...  ...  ..  ...        ...                ...
 2838     7         New York J  Def  nyj   h  nwe       2100                  0
 2839     7              Miami  Def  mia   a  buf       1500                  0
 2840     7            Atlanta  Def  atl   h  lar       2300                  0
 2841     7            Oakland  Def  oak   a  gnb       1900                  0
 2842     7            Detroit  Def  det   h  min       2300                  0

 [379 rows x 8 columns],
 8:       Week               Name  Pos Team h/a Oppt  DK salary  scoring_potential
 2843     8      Jones, Daniel   QB  nyg   a  det       5800                  3
 2844     8     Rodgers, Aaron   QB  gnb   a  kan       7000                  3
 2845     8        Brees, Drew   QB  nor   h  ari       6300                  2
 2846     8    Watson, Deshaun   QB  hou   h  oak       7100                  2
 2847     8  Stafford, Matthew   QB  det   h  nyg       6100                  2
 ...    ...                ...  ...  ...  ..  ...        ...                ...
 3238     8           Carolina  Def  car   a  sfo       2400                  0
 3239     8            Atlanta  Def  atl   h  sea       1800                  0
 3240     8            Arizona  Def  ari   a  nor       1900                  0
 3241     8         Cincinnati  Def  cin   a  lar       1700                  0
 3242     8            Houston  Def  hou   h  oak       2700                  0

 [400 rows x 8 columns],
 9:       Week               Name  Pos Team h/a Oppt  DK salary  scoring_potential
 3243     9    Wilson, Russell   QB  sea   h  tam       7100                  3
 3244     9   Garoppolo, Jimmy   QB  sfo   a  ari       6500                  3
 3245     9  Stafford, Matthew   QB  det   a  oak       6800                  2
 3246     9     Jackson, Lamar   QB  bal   h  nwe       6200                  2
 3247     9    Tannehill, Ryan   QB  ten   a  car       5300                  2
 ...    ...                ...  ...  ...  ..  ...        ...                ...
 3605     9         Washington  Def  was   a  buf       1800                  0
 3606     9          Tampa Bay  Def  tam   a  sea       2100                  0
 3607     9        Kansas City  Def  kan   h  min       2200                  0
 3608     9            Detroit  Def  det   a  oak       2600                  0
 3609     9            Arizona  Def  ari   h  sfo       2200                  0

 [367 rows x 8 columns],
 10:       Week                 Name  Pos Team h/a Oppt  DK salary  \
 3610    10        Jones, Daniel   QB  nyg   a  nyj       5700
 3611    10       Jackson, Lamar   QB  bal   a  cin       7300
 3612    10  Mahomes II, Patrick   QB  kan   a  ten       7000
 3613    10        Murray, Kyler   QB  ari   a  tam       6500
 3614    10        Prescott, Dak   QB  dal   h  min       6400
 ...    ...                  ...  ...  ...  ..  ...        ...
 3951    10             Carolina  Def  car   a  gnb       2600
 3952    10            Cleveland  Def  cle   h  buf       2500
 3953    10           New York G  Def  nyg   a  nyj       2800
 3954    10               Dallas  Def  dal   h  min       3100
 3955    10           Cincinnati  Def  cin   h  bal       1700

       scoring_potential
 3610                  3
 3611                  3
 3612                  3
 3613                  3
 3614                  2
 ...                 ...
 3951                  0
 3952                  0
 3953                  0
 3954                  0
 3955                  0

 [346 rows x 8 columns],
 11:       Week              Name  Pos Team h/a Oppt  DK salary  scoring_potential
 3956    11  Garoppolo, Jimmy   QB  sfo   h  ari       6700                  3
 3957    11     Prescott, Dak   QB  dal   a  det       6700                  3
 3958    11       Allen, Josh   QB  buf   a  mia       6600                  3
 3959    11    Jackson, Lamar   QB  bal   h  hou       7700                  3
 3960    11     Driskel, Jeff   QB  det   h  dal       4600                  2
 ...    ...               ...  ...  ...  ..  ...        ...                ...
 4317    11             Miami  Def  mia   h  buf       2500                  0
 4318    11        Pittsburgh  Def  pit   a  cle       3200                  0
 4319    11         Tampa Bay  Def  tam   h  nor       2600                  0
 4320    11           Detroit  Def  det   h  dal       1800                  0
 4321    11           Houston  Def  hou   a  bal       2300                  0

 [366 rows x 8 columns],
 12:       Week             Name  Pos Team h/a Oppt  DK salary  scoring_potential
 4322    12   Jackson, Lamar   QB  bal   a  lar       7400                  3
 4323    12  Tannehill, Ryan   QB  ten   h  jac       5300                  3
 4324    12     Darnold, Sam   QB  nyj   h  oak       5800                  3
 4325    12  Winston, Jameis   QB  tam   a  atl       6200                  2
 4326    12  Mayfield, Baker   QB  cle   h  mia       5900                  2
 ...    ...              ...  ...  ...  ..  ...        ...                ...
 4687    12          Houston  Def  hou   h  ind       2800                  0
 4688    12     Jacksonville  Def  jac   a  ten       2800                  0
 4689    12        Green Bay  Def  gnb   a  sfo       2700                  0
 4690    12            Miami  Def  mia   a  cle       2000                  0
 4691    12          LA Rams  Def  lar   h  bal       2300                  0

 [370 rows x 8 columns],
 13:       Week               Name  Pos Team h/a Oppt  DK salary  scoring_potential
 4692    13  Fitzpatrick, Ryan   QB  mia   h  phi       5400                  3
 4693    13    Watson, Deshaun   QB  hou   h  nwe       6300                  2
 4694    13      Wentz, Carson   QB  phi   a  mia       5800                  2
 4695    13         Brady, Tom   QB  nwe   a  hou       6100                  2
 4696    13     Rodgers, Aaron   QB  gnb   a  nyg       6500                  2
 ...    ...                ...  ...  ...  ..  ...        ...                ...
 5108    13       Philadelphia  Def  phi   a  mia       3600                  0
 5109    13            Oakland  Def  oak   a  kan       1700                  0
 5110    13            Atlanta  Def  atl   h  nor       2300                  0
 5111    13            Arizona  Def  ari   h  lar       2300                  0
 5112    13         New York G  Def  nyg   h  gnb       1900                  0

 [421 rows x 8 columns],
 14:       Week                Name  Pos Team h/a Oppt  DK salary  \
 5113    14         Brees, Drew   QB  nor   h  sfo       5900
 5114    14     Winston, Jameis   QB  tam   h  ind       6400
 5115    14  Trubisky, Mitchell   QB  chi   h  dal       5400
 5116    14    Garoppolo, Jimmy   QB  sfo   a  nor       5600
 5117    14     Tannehill, Ryan   QB  ten   a  oak       5800
 ...    ...                 ...  ...  ...  ..  ...        ...
 5537    14         New Orleans  Def  nor   h  sfo       3100
 5538    14             Oakland  Def  oak   h  ten       2700
 5539    14       San Francisco  Def  sfo   a  nor       2700
 5540    14        Jacksonville  Def  jac   h  lac       3100
 5541    14            Carolina  Def  car   a  atl       2800

       scoring_potential
 5113                  3
 5114                  3
 5115                  3
 5116                  3
 5117                  3
 ...                 ...
 5537                  0
 5538                  0
 5539                  0
 5540                  0
 5541                  0

 [429 rows x 8 columns],
 15:       Week                 Name  Pos Team h/a Oppt  DK salary  \
 5542    15       Jackson, Lamar   QB  bal   h  nyj       7500
 5543    15      Winston, Jameis   QB  tam   a  det       6900
 5544    15          Brees, Drew   QB  nor   h  ind       6900
 5545    15  Mahomes II, Patrick   QB  kan   h  den       7100
 5546    15      Tannehill, Ryan   QB  ten   h  hou       6500
 ...    ...                  ...  ...  ...  ..  ...        ...
 5966    15              Chicago  Def  chi   a  gnb       2400
 5967    15          LA Chargers  Def  lac   h  min       2400
 5968    15         Indianapolis  Def  ind   a  nor       2100
 5969    15            Cleveland  Def  cle   a  ari       3300
 5970    15              LA Rams  Def  lar   a  dal       2900

       scoring_potential
 5542                  3
 5543                  3
 5544                  3
 5545                  2
 5546                  2
 ...                 ...
 5966                  0
 5967                  0
 5968                  0
 5969                  0
 5970                  0

 [429 rows x 8 columns],
 16:       Week                 Name  Pos Team h/a Oppt  DK salary  \
 5971    16        Jones, Daniel   QB  nyg   a  was       5900
 5972    16         Dalton, Andy   QB  cin   a  mia       5200
 5973    16    Fitzpatrick, Ryan   QB  mia   h  cin       6000
 5974    16       Jackson, Lamar   QB  bal   a  cle       8000
 5975    16  Mahomes II, Patrick   QB  kan   a  chi       6800
 ...    ...                  ...  ...  ...  ..  ...        ...
 6398    16           Cincinnati  Def  cin   a  mia       2900
 6399    16             Carolina  Def  car   a  ind       2400
 6400    16           Washington  Def  was   h  nyg       2800
 6401    16           New York G  Def  nyg   a  was       2800
 6402    16            Tennessee  Def  ten   h  nor       2100

       scoring_potential
 5971                  3
 5972                  3
 5973                  3
 5974                  3
 5975                  2
 ...                 ...
 6398                  0
 6399                  0
 6400                  0
 6401                  0
 6402                  0

 [432 rows x 8 columns]}

In [9]:
# Establish dependent and independent variables
# These will be non-scaled data for boost models
X_trains_list = []
y_trains_list = []
X_tests_list = []
y_tests_list = []
for num in range(1,17):
    try:
        # train/test split but save y_train as a dummy variable because 
        # we actually need a subset of X_train for it
        X_train, X_test, y_dummy, y_test = train_test_split_dicts(x_df_dict, y_df_dict, num)
        y_train = X_train[['scoring_potential']]
        X_trains_list.append(X_train)
        X_tests_list.append(X_test)
        y_trains_list.append(y_train)
        y_tests_list.append(y_test)
    except KeyError:
        pass

In [10]:
X_trains_list

[     Week_x               Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 21      1.0    Winston, Jameis    QB    tam     h    sfo      10.06
 377     1.0        Thomas, Ian    TE    car     h    lar       0.00
 234     1.0   Shepard, Russell    WR    nyg     a    dal       0.00
 195     1.0     Watkins, Sammy    WR    kan     a    jac      49.80
 55      1.0  Montgomery, David    RB    chi     h    gnb       5.50
 ..      ...                ...   ...    ...   ...    ...        ...
 340     1.0      Jarwin, Blake    TE    dal     h    nyg      12.90
 201     1.0      Hollins, Mack    WR    phi     h    was       0.00
 124     1.0      Bellore, Nick    RB    sea     h    cin       0.00
 52      1.0       Gurley, Todd    RB    lar     a    car      11.10
 180     1.0      Cooper, Amari    WR    dal     h    nyg      25.60

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 21        6600.0       2    QB    tam     a    car         5900
 377       2800.0       2    TE    car     h    tam         2700
 234       3000.0       2    WR    nyg     h    buf         3000
 195       5000.0       2    WR    kan     a    oak         7200
 55        5200.0       2    RB    chi     a    den         4900
 ..           ...     ...   ...    ...   ...    ...          ...
 340       2700.0       2    TE    dal     a    was         2900
 201       3000.0       2    WR    phi     a    atl         3000
 124       3000.0       2    RB    sea     a    pit         3000
 52        7900.0       2    RB    lar     h    nor         7000
 180       7000.0       2    WR    dal     a    was         7400

      scoring_potential
 21                   0
 377                  0
 234                  0
 195                  0
 55                   0
 ..                 ...
 340                  0
 201                  0
 124                  0
 52                   1
 180                  0

 [285 rows x 15 columns],
      Week_x              Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 244     2.0  McKenzie, Isaiah    WR    buf     a    nyg      12.40
 379     2.0   Toilolo, Levine    TE    sfo     a    cin       0.00
 149     2.0    Lockett, Tyler    WR    sea     a    pit      17.90
 24      2.0    Rodgers, Aaron    QB    gnb     h    min      15.36
 265     2.0     Gage, Russell    WR    atl     h    phi       0.00
 ..      ...               ...   ...    ...   ...    ...        ...
 343     2.0     Vannett, Nick    TE    sea     a    pit       2.30
 204     2.0     Snead, Willie    WR    bal     h    ari       1.50
 125     2.0     Cox, Chandler    RB    mia     h    nwe       0.00
 51      2.0  Williams, Darrel    RB    kan     a    oak       0.00
 183     2.0       Boyd, Tyler    WR    cin     h    sfo      25.20

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 244       3000.0       3    WR    buf     h    cin         3400
 379       2500.0       3    TE    sfo     h    pit         2500
 149       6200.0       3    WR    sea     h    nor         6200
 24        6500.0       3    QB    gnb     h    den         6100
 265       3000.0       3    WR    atl     a    ind         3000
 ..           ...     ...   ...    ...   ...    ...          ...
 343       2600.0       3    TE    sea     h    nor         2600
 204       4500.0       3    WR    bal     a    kan         4200
 125       3000.0       3    RB    mia     a    dal         3000
 51        3100.0       3    RB    kan     h    bal         3000
 183       6500.0       3    WR    cin     a    buf         6500

      scoring_potential
 244                  0
 379                  0
 149                  3
 24                   0
 265                  0
 ..                 ...
 343                  0
 204                  0
 125                  0
 51                   1
 183                  0

 [278 rows x 15 columns],
      Week_x                       Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 109     3.0            Sproles, Darren    RB    phi     h    det        0.4
 388     3.0                    Arizona   Def    ari     h    car        0.0
 215     3.0             Harmon, Kelvin    WR    was     h    chi        0.0
 313     3.0              Thomas, Logan    TE    det     a    phi        2.5
 295     3.0             Waller, Darren    TE    oak     a    min       30.1
 ..      ...                        ...   ...    ...   ...    ...        ...
 354     3.0               Uzomah, C.J.    TE    cin     a    buf        0.0
 208     3.0              Stills, Kenny    WR    hou     a    lac       12.9
 123     3.0              Howell, Buddy    RB    hou     a    lac        0.0
 50      3.0               Jones, Aaron    RB    gnb     h    den       15.3
 187     3.0  Valdes-Scantling, Marquez    WR    gnb     h    den       21.9

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 109       3600.0       4    RB    phi     a    gnb         3500
 388       2700.0       4   Def    ari     h    sea         2400
 215       3000.0       4    WR    was     a    nyg         3000
 313       2500.0       4    TE    det     h    kan         2500
 295       4100.0       4    TE    oak     a    ind         5200
 ..           ...     ...   ...    ...   ...    ...          ...
 354       2700.0       4    TE    cin     a    pit         2600
 208       3900.0       4    WR    hou     h    car         4200
 123       3000.0       4    RB    hou     h    car         3000
 50        6100.0       4    RB    gnb     h    phi         6300
 187       4300.0       4    WR    gnb     h    phi         4800

      scoring_potential
 109                  0
 388                  0
 215                  0
 313                  0
 295                  0
 ..                 ...
 354                  0
 208                  0
 123                  0
 50                   1
 187                  0

 [255 rows x 15 columns],
      Week_x                Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 41      4.0    Lindsay, Phillip    RB    den     h    jac        7.0
 378     4.0          Pittsburgh   Def    pit     h    cin       19.0
 126     4.0       Homer, Travis    RB    sea     a    ari        0.0
 42      4.0  Fournette, Leonard    RB    jac     a    den       29.5
 361     4.0        Yelder, Deon    TE    kan     a    det        6.3
 ..      ...                 ...   ...    ...   ...    ...        ...
 380     4.0             Houston   Def    hou     h    car       10.0
 228     4.0        Wilson, Bobo    WR    tam     a    lar        2.4
 138     4.0         Logan, T.J.    RB    tam     a    lar        0.0
 57      4.0        White, James    RB    nwe     a    buf       13.8
 202     4.0       Allen, Keenan    WR    lac     a    mia        9.8

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 41        5200.0       5    RB    den     a    lac         4900
 378       3200.0       5   Def    pit     h    bal         2100
 126       3000.0       5    RB    sea     h    lar         3000
 42        6000.0       5    RB    jac     a    car         6400
 361       2500.0       5    TE    kan     h    ind         2500
 ..           ...     ...   ...    ...   ...    ...          ...
 380       3100.0       5   Def    hou     h    atl         3300
 228       3000.0       5    WR    tam     a    nor         3000
 138       3000.0       5    RB    tam     a    nor         3000
 57        4900.0       5    RB    nwe     a    was         5000
 202       7600.0       5    WR    lac     h    den         7300

      scoring_potential
 41                   2
 378                  0
 126                  0
 42                   2
 361                  0
 ..                 ...
 380                  0
 228                  0
 138                  0
 57                   0
 202                  0

 [239 rows x 15 columns],
      Week_x              Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 250     5.0    Watson, Justin    WR    tam     a    nor        0.0
 305     5.0     DeValve, Seth    TE    jac     a    car        0.0
 363     5.0         Tennessee   Def    ten     h    buf        7.0
 108     5.0  Bonnafon, Reggie    RB    car     h    jac       14.0
 292     5.0    Smith Jr., Irv    TE    min     a    nyg        0.0
 ..      ...               ...   ...    ...   ...    ...        ...
 293     5.0      Uzomah, C.J.    TE    cin     h    ari        3.6
 229     5.0     Switzer, Ryan    WR    pit     h    bal        0.0
 141     5.0      Jones, Julio    WR    atl     a    hou        7.2
 59      5.0   Bolden, Brandon    RB    nwe     a    was       11.2
 206     5.0     Kumerow, Jake    WR    gnb     a    dal        1.9

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 250       3000.0       6    WR    tam     h    car         3000
 305       2500.0       6    TE    jac     h    nor         2500
 363       3000.0       6   Def    ten     a    den         2900
 108       3000.0       6    RB    car     a    tam         3700
 292       3000.0       6    TE    min     h    phi         3000
 ..           ...     ...   ...    ...   ...    ...          ...
 293       2600.0       6    TE    cin     a    bal         2600
 229       3200.0       6    WR    pit     a    lac         3100
 141       7700.0       6    WR    atl     a    ari         8000
 59        3000.0       6    RB    nwe     h    nyg         3000
 206       3800.0       6    WR    gnb     h    det         3900

      scoring_potential
 250                  0
 305                  0
 363                  0
 108                  0
 292                  0
 ..                 ...
 293                  0
 229                  0
 141                  2
 59                   0
 206                  0

 [224 rows x 15 columns],
      Week_x             Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 164     6.0      Brown, A.J.    WR    ten     a    den       4.30
 240     6.0     Carr, Austin    WR    nor     a    jac       0.00
 69      6.0     Ingram, Mark    RB    bal     h    cin      15.40
 179     6.0      Tate, Auden    WR    cin     a    bal      14.10
 23      6.0      Flacco, Joe    QB    den     h    ten       5.98
 ..      ...              ...   ...    ...   ...    ...        ...
 325     6.0  Lewis, Marcedes    TE    gnb     h    det       7.00
 248     6.0     Natson, JoJo    WR    lar     h    sfo       0.00
 158     6.0  Edelman, Julian    WR    nwe     h    nyg      23.30
 61      6.0   McKissic, J.D.    RB    det     a    gnb       3.10
 228     6.0     Fuller, Will    WR    hou     a    kan       9.40

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 164       4200.0       7    WR    ten     h    lac         3800
 240       3000.0       7    WR    nor     a    chi         3000
 69        6600.0       7    RB    bal     a    sea         6600
 179       4500.0       7    WR    cin     h    jac         4500
 23        4800.0       7    QB    den     h    kan         4900
 ..           ...     ...   ...    ...   ...    ...          ...
 325       2600.0       7    TE    gnb     h    oak         2700
 248       3000.0       7    WR    lar     a    atl         3000
 158       6900.0       7    WR    nwe     a    nyj         7000
 61        3000.0       7    RB    det     h    min         3000
 228       6000.0       7    WR    hou     a    ind         6200

      scoring_potential
 164                  0
 240                  0
 69                   0
 179                  0
 23                   0
 ..                 ...
 325                  0
 248                  0
 158                  0
 61                   0
 228                  0

 [207 rows x 15 columns],
      Week_x             Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 328     7.0    DeValve, Seth    TE    jac     a    cin        0.0
 265     7.0     Moore, Jason    WR    lac     a    ten        0.0
 112     7.0      Watt, Derek    RB    lac     a    ten        0.0
 181     7.0    Sharpe, Tajae    WR    ten     h    lac        9.9
 35      7.0     Jones, Aaron    RB    gnb     h    oak       18.3
 ..      ...              ...   ...    ...   ...    ...        ...
 313     7.0      Watson, Ben    TE    nwe     a    nyj        4.8
 237     7.0   Harmon, Kelvin    WR    was     h    sfo        0.0
 147     7.0  Thomas, Michael    WR    nor     a    chi       25.1
 58      7.0   Freeman, Royce    RB    den     h    kan       16.7
 213     7.0    Stills, Kenny    WR    hou     a    ind       17.5

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 328       2500.0       8    TE    jac     h    nyj         2500
 265       3100.0       8    WR    lac     a    chi         3000
 112       3000.0       8    RB    lac     a    chi         3000
 181       3200.0       8    WR    ten     h    tam         3200
 35        7100.0       8    RB    gnb     a    kan         6800
 ..           ...     ...   ...    ...   ...    ...          ...
 313       2500.0       8    TE    nwe     h    cle         3000
 237       3000.0       8    WR    was     a    min         3000
 147       7900.0       8    WR    nor     h    ari         8000
 58        4700.0       8    RB    den     a    ind         5500
 213       4300.0       8    WR    hou     h    oak         4700

      scoring_potential
 328                  0
 265                  0
 112                  0
 181                  0
 35                   3
 ..                 ...
 313                  0
 237                  0
 147                  3
 58                   0
 213                  0

 [226 rows x 15 columns],
      Week_x                       Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 246     8.0  Valdes-Scantling, Marquez    WR    gnb     a    kan        1.4
 304     8.0             Williams, Maxx    TE    ari     a    nor        1.9
 359     8.0                    Seattle   Def    sea     a    atl        9.0
 104     8.0                Davis, Mike    RB    chi     h    lac        1.8
 290     8.0          Harris, Demetrius    TE    cle     a    nwe       11.3
 ..      ...                        ...   ...    ...   ...    ...        ...
 291     8.0              Akins, Jordan    TE    hou     h    oak        3.1
 220     8.0     Patterson, Cordarrelle    WR    chi     h    lac        2.6
 133     8.0              Metcalf, D.K.    WR    sea     a    atl       16.3
 55      8.0         Fournette, Leonard    RB    jac     h    nyj       20.6
 194     8.0              Conley, Chris    WR    jac     h    nyj       23.3

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 246       5000.0       9    WR    gnb     a    lac         5600
 304       2600.0       9    TE    ari     h    sfo         2600
 359       2800.0       9   Def    sea     h    tam         3600
 104       3000.0       9    RB    chi     a    phi         3000
 290       2500.0       9    TE    cle     a    den         3000
 ..           ...     ...   ...    ...   ...    ...          ...
 291       2800.0       9    TE    hou     a    jac         2700
 220       3200.0       9    WR    chi     a    phi         3200
 133       5000.0       9    WR    sea     h    tam         5700
 55        7800.0       9    RB    jac     h    hou         7900
 194       3300.0       9    WR    jac     h    hou         4000

      scoring_potential
 246                  0
 304                  0
 359                  0
 104                  0
 290                  0
 ..                 ...
 291                  0
 220                  0
 133                  3
 55                   0
 194                  0

 [224 rows x 15 columns],
      Week_x                 Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 161     9.0     Johnson, Diontae    WR    pit     h    ind        1.5
 319     9.0       Brate, Cameron    TE    tam     a    sea        0.0
 31      9.0         Cook, Dalvin    RB    min     a    kan       15.6
 327     9.0                Miami   Def    mia     h    nyj        8.0
 145     9.0      Robinson, Allen    WR    chi     a    phi        1.6
 ..      ...                  ...   ...    ...   ...    ...        ...
 326     9.0           New York J   Def    nyj     a    mia        6.0
 247     9.0        Rudolph, Kyle    TE    min     a    kan       11.3
 152     9.0          Brown, John    WR    buf     h    was       11.6
 63      9.0  Mattison, Alexander    RB    min     a    kan        0.6
 223     9.0         Moore, Jason    WR    lac     h    gnb        0.0

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 161       4500.0      10    WR    pit     h    lar         4300
 319       3100.0      10    TE    tam     h    ari         3700
 31        9500.0      10    RB    min     a    dal         9100
 327       2700.0      10   Def    mia     a    ind         2400
 145       6800.0      10    WR    chi     h    det         6300
 ..           ...     ...   ...    ...   ...    ...          ...
 326       3500.0      10   Def    nyj     h    nyg         2700
 247       3300.0      10    TE    min     a    dal         3400
 152       6100.0      10    WR    buf     a    cle         6000
 63        5000.0      10    RB    min     a    dal         4500
 223       3000.0      10    WR    lac     a    oak         3000

      scoring_potential
 161                  0
 319                  0
 31                   3
 327                  0
 145                  0
 ..                 ...
 326                  1
 247                  1
 152                  0
 63                   0
 223                  0

 [187 rows x 15 columns],
      Week_x                Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 287    10.0       Jarwin, Blake    TE    dal     h    min        6.5
 242    10.0  Robinson, Demarcus    WR    kan     a    ten        9.6
 351    10.0          Cincinnati   Def    cin     h    bal       -1.0
 181    10.0        Hurns, Allen    WR    mia     a    ind        5.2
 44     10.0        Cohen, Tarik    RB    chi     h    det       13.7
 ..      ...                 ...   ...    ...   ...    ...        ...
 333    10.0     Toilolo, Levine    TE    sfo     h    sea        0.0
 260    10.0       Austin, Tavon    WR    dal     h    min        0.7
 159    10.0    Bourne, Kendrick    WR    sfo     h    sea       16.2
 62     10.0      Laird, Patrick    RB    mia     a    ind        3.9
 232    10.0      Erickson, Alex    WR    cin     h    bal        1.3

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 287       2800.0      11    TE    dal     a    det         2900
 242       3700.0      11    WR    kan     a    lac         3500
 351       1700.0      11   Def    cin     a    oak         2100
 181       3000.0      11    WR    mia     h    buf         3200
 44        4200.0      11    RB    chi     a    lar         4400
 ..           ...     ...   ...    ...   ...    ...          ...
 333       3000.0      11    TE    sfo     h    ari         3000
 260       3100.0      11    WR    dal     a    det         3300
 159       3000.0      11    WR    sfo     h    ari         3000
 62        3000.0      11    RB    mia     h    buf         3000
 232       3900.0      11    WR    cin     a    oak         3900

      scoring_potential
 287                  0
 242                  0
 351                  0
 181                  0
 44                   1
 ..                 ...
 333                  0
 260                  0
 159                  0
 62                   0
 232                  0

 [194 rows x 15 columns],
      Week_x              Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 151    11.0   Edelman, Julian    WR    nwe     a    phi      14.90
 236    11.0     Cooper, Amari    WR    dal     a    det       6.80
 69     11.0  Bernard, Giovani    RB    cin     a    oak       5.60
 165    11.0    Meyers, Jakobi    WR    nwe     a    phi       1.70
 23     11.0     Prescott, Dak    QB    dal     a    det      34.56
 ..      ...               ...   ...    ...   ...    ...        ...

In [11]:
X_tests_list

[     Week_x                Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 252     1.0      Willis, Damion    WR    cin     a    sea        6.0
 314     1.0      Waller, Darren    TE    oak     h    den       14.0
 316     1.0        Engram, Evan    TE    nyg     a    dal       31.6
 370     1.0     Lewis, Marcedes    TE    gnb     a    chi        3.4
 109     1.0    Ogunbowale, Dare    RB    tam     h    sfo        7.3
 ..      ...                 ...   ...    ...   ...    ...        ...
 141     1.0   Armstead, Ryquell    RB    jac     h    kan        0.7
 103     1.0       Hill, Justice    RB    bal     a    mia        2.7
 388     1.0         Bell, Blake    TE    kan     a    jac        1.7
 96      1.0  Smallwood, Wendell    RB    was     a    phi        0.0
 319     1.0     Walker, Delanie    TE    ten     a    cle       22.5

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 252       3000.0       2    WR    cin     h    sfo         3200
 314       3000.0       2    TE    oak     h    kan         3300
 316       4800.0       2    TE    nyg     h    buf         5200
 370       2500.0       2    TE    gnb     h    min         2500
 109       3000.0       2    RB    tam     a    car         3200
 ..           ...     ...   ...    ...   ...    ...          ...
 141       3000.0       2    RB    jac     a    hou         3200
 103       3600.0       2    RB    bal     h    ari         3300
 388       2500.0       2    TE    kan     a    oak         2500
 96        3200.0       2    RB    was     h    dal         3200
 319       3500.0       2    TE    ten     h    ind         3500

      scoring_potential
 252                  0
 314                  0
 316                  0
 370                  0
 109                  0
 ..                 ...
 141                  0
 103                  0
 388                  0
 96                   0
 319                  0

 [123 rows x 15 columns],
      Week_x              Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 69      2.0     Prosise, C.J.    RB    sea     a    pit        5.0
 141     2.0       Logan, T.J.    RB    tam     a    car        0.0
 78      2.0   Jackson, Justin    RB    lac     a    det        7.4
 82      2.0      Yeldon, T.J.    RB    buf     a    nyg        0.0
 41      2.0      Cook, Dalvin    RB    min     a    gnb       31.1
 ..      ...               ...   ...    ...   ...    ...        ...
 250     2.0       Wims, Javon    WR    chi     a    den        0.0
 373     2.0     Green, Virgil    TE    lac     a    det        1.9
 97      2.0       Boone, Mike    RB    min     a    gnb        0.0
 235     2.0  Inman, Dontrelle    WR    lac     a    det        3.8
 342     2.0     Clay, Charles    TE    ari     a    bal        1.6

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 69        3000.0       3    RB    sea     h    nor         3000
 141       3000.0       3    RB    tam     h    nyg         3000
 78        4400.0       3    RB    lac     h    hou         4200
 82        3200.0       3    RB    buf     h    cin         3800
 41        7200.0       3    RB    min     h    oak         7800
 ..           ...     ...   ...    ...   ...    ...          ...
 250       3100.0       3    WR    chi     a    was         3100
 373       2700.0       3    TE    lac     h    hou         2600
 97        3000.0       3    RB    min     h    oak         3000
 235       3000.0       3    WR    lac     h    hou         3000
 342       2700.0       3    TE    ari     h    car         2600

      scoring_potential
 69                   0
 141                  0
 78                   0
 82                   0
 41                   2
 ..                 ...
 250                  0
 373                  0
 97                   0
 235                  0
 342                  0

 [120 rows x 15 columns],
      Week_x                    Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 112     3.0        Thompson, Darwin    RB    kan     h    bal       0.80
 286     3.0          Hooper, Austin    TE    atl     a    ind      24.60
 48      3.0            Cook, Dalvin    RB    min     h    oak      27.30
 27      3.0            Dalton, Andy    QB    cin     a    buf      18.06
 83      3.0          McKissic, J.D.    RB    det     a    phi       4.40
 ..      ...                     ...   ...    ...   ...    ...        ...
 237     3.0        Spencer, Diontae    WR    den     a    gnb       0.00
 158     3.0       Allison, Geronimo    WR    gnb     h    den       0.90
 349     3.0         Schultz, Dalton    TE    dal     h    mia       0.00
 256     3.0           Gage, Russell    WR    atl     a    ind       0.00
 239     3.0  Patterson, Cordarrelle    WR    chi     a    was       3.00

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 112       3000.0       4    RB    kan     a    det         4300
 286       3600.0       4    TE    atl     h    ten         4300
 48        7800.0       4    RB    min     a    chi         8300
 27        5300.0       4    QB    cin     a    pit         5200
 83        3000.0       4    RB    det     h    kan         3000
 ..           ...     ...   ...    ...   ...    ...          ...
 237       3000.0       4    WR    den     h    jac         3000
 158       4800.0       4    WR    gnb     h    phi         4500
 349       2500.0       4    TE    dal     a    nor         2500
 256       3000.0       4    WR    atl     h    ten         3000
 239       3300.0       4    WR    chi     h    min         3600

      scoring_potential
 112                  0
 286                  2
 48                   1
 27                   0
 83                   0
 ..                 ...
 237                  0
 158                  0
 349                  0
 256                  0
 239                  0

 [110 rows x 15 columns],
      Week_x                Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 110     4.0     Sproles, Darren    RB    phi     a    gnb       0.40
 328     4.0        Howard, O.J.    TE    tam     a    lar       6.30
 155     4.0      Ridley, Calvin    WR    atl     h    ten       6.20
 327     4.0     Walker, Delanie    TE    ten     a    atl       1.40
 6       4.0    Minshew, Gardner    QB    jac     a    den      16.72
 ..      ...                 ...   ...    ...   ...    ...        ...
 360     4.0         Bell, Blake    TE    kan     a    det       0.00
 207     4.0        Davis, Corey    WR    ten     a    atl      20.10
 295     4.0          Izzo, Ryan    TE    nwe     a    buf       0.00
 263     4.0  Thomas, De'Anthony    WR    kan     a    det       0.00
 5       4.0          Brady, Tom    QB    nwe     a    buf       4.70

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 110       3500.0       5    RB    phi     h    nyj         3500
 328       3900.0       5    TE    tam     a    nor         3900
 155       5000.0       5    WR    atl     a    hou         4900
 327       4800.0       5    TE    ten     h    buf         3900
 6         5200.0       5    QB    jac     a    car         5300
 ..           ...     ...   ...    ...   ...    ...          ...
 360       2500.0       5    TE    kan     h    ind         2500
 207       4200.0       5    WR    ten     h    buf         4400
 295       2500.0       5    TE    nwe     a    was         2500
 263       3000.0       5    WR    kan     h    ind         3000
 5         6600.0       5    QB    nwe     a    was         6500

      scoring_potential
 110                  0
 328                  0
 155                  1
 327                  0
 6                    2
 ..                 ...
 360                  0
 207                  0
 295                  0
 263                  0
 5                    2

 [103 rows x 15 columns],
      Week_x              Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 217     5.0    Harmon, Kelvin    WR    was     h    nwe       1.40
 300     5.0     Eifert, Tyler    TE    cin     h    ari       3.40
 17      5.0      Dalton, Andy    QB    cin     h    ari      18.98
 78      5.0    Montgomery, Ty    RB    nyj     a    phi       0.10
 253     5.0   Carter, DeAndre    WR    hou     h    atl      -1.00
 ..      ...               ...   ...    ...   ...    ...        ...
 297     5.0        Fant, Noah    TE    den     a    lac       1.60
 37      5.0     Carson, Chris    RB    sea     h    lar      22.30
 120     5.0  Sherman, Anthony    RB    kan     h    ind       0.20
 24      5.0       Flacco, Joe    QB    den     a    lac       9.98
 57      5.0    Freeman, Royce    RB    den     a    lac       8.70

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 217       3000.0       6    WR    was     a    mia         3000
 300       3300.0       6    TE    cin     a    bal         3500
 17        5700.0       6    QB    cin     a    bal         5400
 78        4500.0       6    RB    nyj     h    dal         3700
 253       3200.0       6    WR    hou     a    kan         3100
 ..           ...     ...   ...    ...   ...    ...          ...
 297       2800.0       6    TE    den     h    ten         2900
 37        6000.0       6    RB    sea     a    cle         6000
 120       3000.0       6    RB    kan     h    hou         3000
 24        4700.0       6    QB    den     h    ten         4800
 57        4600.0       6    RB    den     h    ten         4500

      scoring_potential
 217                  0
 300                  0
 17                   0
 78                   0
 253                  0
 ..                 ...
 297                  0
 37                   2
 120                  0
 24                   0
 57                   0

 [96 rows x 15 columns],
      Week_x                Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 298     6.0       Fells, Darren    TE    hou     a    kan       12.9
 293     6.0       Andrews, Mark    TE    bal     h    cin       14.9
 15      6.0  Bridgewater, Teddy    QB    nor     a    jac       13.6
 278     6.0       Henry, Hunter    TE    lac     h    pit       33.0
 342     6.0         Bell, Blake    TE    kan     h    hou        0.0
 ..      ...                 ...   ...    ...   ...    ...        ...
 166     6.0   Sanders, Emmanuel    WR    den     h    ten        1.0
 168     6.0     Hardman, Mecole    WR    kan     h    hou        8.5
 58      6.0           Ham, C.J.    RB    min     h    phi        0.0
 308     6.0       Hurst, Hayden    TE    bal     h    cin        1.4
 369     6.0          Cincinnati   Def    cin     a    bal        9.0

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 298       3100.0       7    TE    hou     a    ind         3100
 293       4800.0       7    TE    bal     a    sea         4900
 15        5300.0       7    QB    nor     a    chi         5300
 278       3600.0       7    TE    lac     a    ten         4000
 342       2500.0       7    TE    kan     a    den         2500
 ..           ...     ...   ...    ...   ...    ...          ...
 166       4800.0       7    WR    den     h    kan         4900
 168       5300.0       7    WR    kan     a    den         4500
 58        3000.0       7    RB    min     a    det         3000
 308       3200.0       7    TE    bal     a    sea         3000
 369       1700.0       7   Def    cin     h    jac         2100

      scoring_potential
 298                  0
 293                  0
 15                   1
 278                  1
 342                  0
 ..                 ...
 166                  0
 168                  0
 58                   0
 308                  0
 369                  0

 [89 rows x 15 columns],
      Week_x              Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 367     7.0     Wesco, Trevon    TE    nyj     h    nwe       0.00
 78      7.0      Breida, Matt    RB    sfo     a    was       4.60
 18      7.0      Hill, Taysom    QB    nor     a    chi       9.50
 343     7.0      Beck, Andrew    TE    den     h    kan       0.00
 175     7.0   Parker, DeVante    WR    mia     a    buf      16.50
 ..      ...               ...   ...    ...   ...    ...        ...
 37      7.0  Murray, Latavius    RB    nor     a    chi      35.00
 259     7.0  Berrios, Braxton    WR    nyj     h    nwe       0.10
 24      7.0    Rivers, Philip    QB    lac     a    ten      24.16
 57      7.0      White, James    RB    nwe     a    nyj      12.90
 234     7.0       Quinn, Trey    WR    was     h    sfo       5.00

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 367       2500.0       8    TE    nyj     a    jac         2500
 78        5300.0       8    RB    sfo     h    car         4800
 18        4100.0       8    QB    nor     h    ari         4400
 343       2500.0       8    TE    den     a    ind         2500
 175       3800.0       8    WR    mia     a    pit         4200
 ..           ...     ...   ...    ...   ...    ...          ...
 37        5100.0       8    RB    nor     h    ari         5800
 259       3000.0       8    WR    nyj     a    jac         3000
 24        5500.0       8    QB    lac     a    chi         5300
 57        4900.0       8    RB    nwe     h    cle         5100
 234       3400.0       8    WR    was     a    min         3200

      scoring_potential
 367                  0
 78                   0
 18                   1
 343                  0
 175                  0
 ..                 ...
 37                   3
 259                  0
 24                   0
 57                   0
 234                  0

 [98 rows x 15 columns],
      Week_x                 Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 206     8.0       Cooper, Pharoh    WR    ari     a    nor       0.00
 300     8.0       Carrier, Derek    TE    oak     a    hou       0.00
 19      8.0        Jones, Daniel    QB    nyg     a    det      32.18
 75      8.0  Washington, DeAndre    RB    oak     a    hou       3.70
 250     8.0      Slater, Matthew    WR    nwe     h    cle       0.00
 ..      ...                  ...   ...    ...   ...    ...        ...
 296     8.0          Ebron, Eric    TE    ind     h    den       5.60
 34      8.0     Williams, Damien    RB    kan     h    gnb       9.00
 112     8.0      Bolden, Brandon    RB    nwe     h    cle       0.00
 24      8.0       Rivers, Philip    QB    lac     a    chi      11.04
 54      8.0          Chubb, Nick    RB    cle     a    nwe      15.80

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 206       3200.0       9    WR    ari     h    sfo         3100
 300       2500.0       9    TE    oak     h    det         2500
 19        5800.0       9    QB    nyg     h    dal         5200
 75        3100.0       9    RB    oak     h    det         3000
 250       3000.0       9    WR    nwe     a    bal         3000
 ..           ...     ...   ...    ...   ...    ...          ...
 296       3400.0       9    TE    ind     a    pit         3600
 34        5300.0       9    RB    kan     h    min         4000
 112       3500.0       9    RB    nwe     a    bal         3300
 24        5300.0       9    QB    lac     h    gnb         5100
 54        6600.0       9    RB    cle     a    den         7300

      scoring_potential
 206                  0
 300                  0
 19                   0
 75                   0
 250                  0
 ..                 ...
 296                  0
 34                   2
 112                  0
 24                   0
 54                   0

 [96 rows x 15 columns],
      Week_x               Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 123     9.0      Pollard, Tony    RB    dal     a    nyg        4.0
 336     9.0            Buffalo   Def    buf     h    was        8.0
 106     9.0  Johnson, D'Ernest    RB    cle     a    den        0.0
 115     9.0         Smith, Rod    RB    ten     a    car        0.0
 228     9.0     Smith, Vyncint    WR    nyj     a    mia        3.0
 ..      ...                ...   ...    ...   ...    ...        ...
 333     9.0       Indianapolis   Def    ind     a    pit        8.0
 298     9.0        Thomas, Ian    TE    car     h    ten        0.0
 47      9.0     Barber, Peyton    RB    tam     a    sea        1.5
 135     9.0     Adams, Davante    WR    gnb     a    lac       11.1
 188     9.0  Sanders, Emmanuel    WR    sfo     a    ari       27.2

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 123       4500.0      10    RB    dal     h    min         4800
 336       3800.0      10   Def    buf     a    cle         2900
 106       3000.0      10    RB    cle     h    buf         3000
 115       3000.0      10    RB    ten     h    kan         3000
 228       3000.0      10    WR    nyj     h    nyg         3000
 ..           ...     ...   ...    ...   ...    ...          ...
 333       2800.0      10   Def    ind     h    mia         3500
 298       2500.0      10    TE    car     a    gnb         2500
 47        3900.0      10    RB    tam     h    ari         3700
 135       7100.0      10    WR    gnb     h    car         6900
 188       6100.0      10    WR    sfo     h    sea         6800

      scoring_potential
 123                  0
 336                  0
 106                  0
 115                  0
 228                  0
 ..                 ...
 333                  0
 298                  0
 47                   0
 135                  2
 188                  0

 [81 rows x 15 columns],
      Week_x               Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 293    10.0      Hurst, Hayden    TE    bal     a    cin       4.00
 304    10.0    Hockenson, T.J.    TE    det     a    chi       7.70
 256    10.0    White, DeAndrew    WR    car     a    gnb       0.00
 18     10.0  Fitzpatrick, Ryan    QB    mia     a    ind      14.06
 75     10.0    Ollison, Qadree    RB    atl     a    nor       0.00
 ..      ...                ...   ...    ...   ...    ...        ...
 292    10.0        Boyle, Nick    TE    bal     a    cin      11.80
 330    10.0       Howard, O.J.    TE    tam     h    ari      14.70
 207    10.0    Golladay, Kenny    WR    det     a    chi      14.70
 100    10.0   Williams, Damien    RB    kan     a    ten      14.90
 275    10.0     Smith Jr., Irv    TE    min     a    dal       8.40

      DK salary_x  Week_y Pos_y Team_y h/a_y Oppt_y  DK salary_y  \
 293       2500.0      11    TE    bal     h    hou         2600
 304       3900.0      11    TE    det     h    dal         3600
 256       3000.0      11    WR    car     h    atl         3000
 18        5200.0      11    QB    mia     h    buf         5100
 75        3600.0      11    RB    atl     a    car         3000
 ..           ...     ...   ...    ...   ...    ...          ...
 292       2500.0      11    TE    bal     h    hou         2700
 330       3300.0      11    TE    tam     h    nor         3600
 207       7000.0      11    WR    det     h    dal         6700
 100       4900.0      11    RB    kan     a    lac         5300
 275       2700.0      11    TE    min     h    den         3100

      scoring_potential
 293                  0
 304                  0
 256                  0
 18                   1
 75                   0
 ..                 ...
 292                  0
 330                  0
 207                  0
 100                  0
 275                  0

 [84 rows x 15 columns],
      Week_x               Name Pos_x Team_x h/a_x Oppt_x  DK points  \
 291    11.0       Knox, Dawson    TE    buf     a    mia      11.20
 289    11.0  Harris, Demetrius    TE    cle     h    pit       0.00
 14     11.0        Foles, Nick    QB    jac     a    ind      18.84
 274    11.0      Griffin, Ryan    TE    nyj     a    was      24.90
 335    11.0      Stocker, Luke    TE    atl     a    car       0.00
 ..      ...                ...   ...    ...   ...    ...        ...
 154    11.0      Snead, Willie    WR    bal     h    hou       3.30

In [12]:
y_trains_list

[     scoring_potential
 21                   0
 377                  0
 234                  0
 195                  0
 55                   0
 ..                 ...
 340                  0
 201                  0
 124                  0
 52                   1
 180                  0

 [285 rows x 1 columns],
      scoring_potential
 244                  0
 379                  0
 149                  3
 24                   0
 265                  0
 ..                 ...
 343                  0
 204                  0
 125                  0
 51                   1
 183                  0

 [278 rows x 1 columns],
      scoring_potential
 109                  0
 388                  0
 215                  0
 313                  0
 295                  0
 ..                 ...
 354                  0
 208                  0
 123                  0
 50                   1
 187                  0

 [255 rows x 1 columns],
      scoring_potential
 41                   2
 378                  0
 126                  0
 42                   2
 361                  0
 ..                 ...
 380                  0
 228                  0
 138                  0
 57                   0
 202                  0

 [239 rows x 1 columns],
      scoring_potential
 250                  0
 305                  0
 363                  0
 108                  0
 292                  0
 ..                 ...
 293                  0
 229                  0
 141                  2
 59                   0
 206                  0

 [224 rows x 1 columns],
      scoring_potential
 164                  0
 240                  0
 69                   0
 179                  0
 23                   0
 ..                 ...
 325                  0
 248                  0
 158                  0
 61                   0
 228                  0

 [207 rows x 1 columns],
      scoring_potential
 328                  0
 265                  0
 112                  0
 181                  0
 35                   3
 ..                 ...
 313                  0
 237                  0
 147                  3
 58                   0
 213                  0

 [226 rows x 1 columns],
      scoring_potential
 246                  0
 304                  0
 359                  0
 104                  0
 290                  0
 ..                 ...
 291                  0
 220                  0
 133                  3
 55                   0
 194                  0

 [224 rows x 1 columns],
      scoring_potential
 161                  0
 319                  0
 31                   3
 327                  0
 145                  0
 ..                 ...
 326                  1
 247                  1
 152                  0
 63                   0
 223                  0

 [187 rows x 1 columns],
      scoring_potential
 287                  0
 242                  0
 351                  0
 181                  0
 44                   1
 ..                 ...
 333                  0
 260                  0
 159                  0
 62                   0
 232                  0

 [194 rows x 1 columns],
      scoring_potential
 151                  1
 236                  0
 69                   0
 165                  0
 23                   0
 ..                 ...
 321                  0
 245                  0
 145                  2
 61                   0
 217                  0

 [206 rows x 1 columns],
      scoring_potential
 387                  0
 149                  0
 188                  0
 56                   1
 177                  0
 ..                 ...
 403                  0
 235                  0
 146                  0
 59                   0
 211                  0

 [237 rows x 1 columns],
      scoring_potential
 185                  0
 170                  1
 153                  3
 235                  0
 69                   0
 ..                 ...
 353                  0
 207                  0
 127                  0
 50                   1
 184                  0

 [275 rows x 1 columns],
      scoring_potential
 101                  0
 242                  0
 256                  0
 253                  0
 407                  0
 ..                 ...
 350                  0
 208                  0
 129                  0
 52                   1
 187                  0

 [280 rows x 1 columns],
      scoring_potential
 105                  0
 242                  0
 254                  0
 252                  0
 409                  0
 ..                 ...
 349                  0
 208                  0
 130                  0
 56                   0
 188                  0

 [280 rows x 1 columns]]

In [13]:
y_tests_list

[     scoring_potential
 252                  0
 314                  0
 316                  0
 370                  0
 109                  0
 ..                 ...
 141                  0
 103                  0
 388                  0
 96                   0
 319                  0

 [123 rows x 1 columns],
      scoring_potential
 69                   0
 141                  0
 78                   0
 82                   0
 41                   2
 ..                 ...
 250                  0
 373                  0
 97                   0
 235                  0
 342                  0

 [120 rows x 1 columns],
      scoring_potential
 112                  0
 286                  2
 48                   1
 27                   0
 83                   0
 ..                 ...
 237                  0
 158                  0
 349                  0
 256                  0
 239                  0

 [110 rows x 1 columns],
      scoring_potential
 110                  0
 328                  0
 155                  1
 327                  0
 6                    2
 ..                 ...
 360                  0
 207                  0
 295                  0
 263                  0
 5                    2

 [103 rows x 1 columns],
      scoring_potential
 217                  0
 300                  0
 17                   0
 78                   0
 253                  0
 ..                 ...
 297                  0
 37                   2
 120                  0
 24                   0
 57                   0

 [96 rows x 1 columns],
      scoring_potential
 298                  0
 293                  0
 15                   1
 278                  1
 342                  0
 ..                 ...
 166                  0
 168                  0
 58                   0
 308                  0
 369                  0

 [89 rows x 1 columns],
      scoring_potential
 367                  0
 78                   0
 18                   1
 343                  0
 175                  0
 ..                 ...
 37                   3
 259                  0
 24                   0
 57                   0
 234                  0

 [98 rows x 1 columns],
      scoring_potential
 206                  0
 300                  0
 19                   0
 75                   0
 250                  0
 ..                 ...
 296                  0
 34                   2
 112                  0
 24                   0
 54                   0

 [96 rows x 1 columns],
      scoring_potential
 123                  0
 336                  0
 106                  0
 115                  0
 228                  0
 ..                 ...
 333                  0
 298                  0
 47                   0
 135                  2
 188                  0

 [81 rows x 1 columns],
      scoring_potential
 293                  0
 304                  0
 256                  0
 18                   1
 75                   0
 ..                 ...
 292                  0
 330                  0
 207                  0
 100                  0
 275                  0

 [84 rows x 1 columns],
      scoring_potential
 291                  0
 289                  0
 14                   0
 274                  0
 335                  0
 ..                 ...
 154                  1
 156                  0
 57                   0
 302                  0
 348                  0

 [89 rows x 1 columns],
      scoring_potential
 99                   0
 334                  0
 281                  0
 195                  0
 302                  0
 ..                 ...
 287                  0
 45                   2
 175                  1
 121                  0
 109                  0

 [102 rows x 1 columns],
      scoring_potential
 121                  0
 309                  3
 72                   0
 166                  1
 359                  0
 ..                 ...
 180                  0
 145                  0
 23                   0
 392                  0
 357                  0

 [119 rows x 1 columns],
      scoring_potential
 146                  0
 335                  0
 370                  0
 214                  0
 269                  0
 ..                 ...
 235                  0
 282                  0
 54                   1
 260                  0
 372                  0

 [120 rows x 1 columns],
      scoring_potential
 147                  0
 332                  0
 369                  0
 212                  0
 267                  0
 ..                 ...
 234                  0
 280                  0
 58                   0
 259                  0
 371                  0

 [120 rows x 1 columns]]

In [14]:
# Encode data - label encoding, because one hot encoding was 
# creating huge amounts of unbalanced data
# borrowed from https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn
d = defaultdict(LabelEncoder)
for num in range(0, len(X_trains_list)):
    X_trains_list[num] = X_trains_list[num].apply(LabelEncoder().fit_transform)
for num in range(0, len(X_trains_list)):
    X_tests_list[num] = X_tests_list[num].apply(LabelEncoder().fit_transform)
# for num in range(0, len(X_trains_list)):
#     y_trains_list[num] = y_trains_list[num].apply(LabelEncoder().fit_transform)
# for num in range(0, len(X_trains_list)):
#     y_tests_list[num] = y_tests_list[num].apply(LabelEncoder().fit_transform)

In [15]:
# Scaled Data
scaled_X_trains = []
scaled_X_tests = []
sc = StandardScaler()
for num in range(0,len(X_trains_list)):
    scaled_X_train, scaled_X_test = scale_features(sc, X_trains_list[num], X_tests_list[num])
    scaled_X_trains.append(scaled_X_train)
    scaled_X_tests.append(scaled_X_test)

## Non-Boost Methods (using scaled data)

In [16]:
# use this to set data to use
# just uncomment the one you want
# data_to_use = 'scaled'
data_to_use = 'un-scaled'

In [17]:
best_acc_method = ""
best_f1_method = ""
best_acc = -100
best_f1 = -100

# Logistic Regression - non-scaled data
def make_log_reg(X_train, y_train, X_test, y_test):
    classifier = LogisticRegression(random_state=0)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

lr_accs = []
for x in range(0,16):
    print(x)
    try:
        if data_to_use == 'scaled':
            cm, acc_score, f1 = make_log_reg(scaled_X_trains[x], y_trains_list[x],scaled_X_tests[x],y_tests_list[x])
        else:
            cm, acc_score, f1 = make_log_reg(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        lr_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "Logistic Regression"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "Logistic Regression"
#     except ValueError:
#         # sample sizes are mismatched
#         print("ValueError")
#         pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
print("mean accuracy: " + str(np.mean(lr_accs)))

0
Confusion Matrix:

[[96  0  0  2]
 [ 3  3  1  2]
 [ 0  4  8  0]
 [ 0  0  4  0]]


Accuracy:

0.8699186991869918


F1:

0.8664039866286988
===================
1
Confusion Matrix:

[[95  0  0  0]
 [ 6  4  0  1]
 [ 5  5  1  1]
 [ 1  1  0  0]]


Accuracy:

0.8333333333333334


F1:

0.7949422140016199
===================
2
Confusion Matrix:

[[86  3  0]
 [ 7  4  1]
 [ 5  2  2]]


Accuracy:

0.8363636363636363


F1:

0.813021737620668
===================
3
Confusion Matrix:

[[86  2  0  0]
 [ 3  2  1  0]
 [ 0  1  2  2]
 [ 0  1  1  2]]


Accuracy:

0.8932038834951457


F1:

0.8906441409321121
===================
4

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Confusion Matrix:

[[77  0  2  1]
 [ 4  1  1  0]
 [ 1  4  1  2]
 [ 0  1  0  1]]


Accuracy:

0.8333333333333334


F1:

0.8234310699588478
===================
5
Confusion Matrix:

[[73  0  0  0]
 [ 6  1  0  0]
 [ 0  4  3  0]
 [ 0  0  2  0]]


Accuracy:

0.8651685393258427


F1:

0.8402818844864971
===================
6
Confusion Matrix:

[[82  0  0  0]
 [ 2  1  1  0]
 [ 0  5  4  0]
 [ 0  2  1  0]]


Accuracy:

0.8877551020408163


F1:

0.88243586591263
===================
7
Confusion Matrix:

[[75  0  0  0]
 [ 7  0  3  0]
 [ 0  2  7  0]
 [ 0  0  2  0]]


Accuracy:

0.8541666666666666


F1:

0.8089171974522293
===================
8
Confusion Matrix:

[[62  1  0  0]
 [ 2  6  1  0]
 [ 0  3  4  0]
 [ 0  0  2  0]]


Accuracy:

0.8888888888888888


F1:

0.8789632290115783
===================
9
Confusion Matrix:

[[66  0  0  3]
 [ 2  0  2  3]
 [ 0  1  5  2]
 [ 0  0  0  0]]


Accuracy:

0.8452380952380952


F1:

0.8549414899779864
===================
10
Confusion Matrix:

[[81  0  0  0]
 [ 1  0  1  0]
 [ 0  1  3  1]
 [ 0  0  1  0]]


Accuracy:

0.9438202247191011


F1:

0.9382367133108155
===================
11
Confusion Matrix:

[[83  0  0  0]
 [ 2  5  1  0]
 [ 0  5  4  1]
 [ 0  0  1  0]]


Accuracy:

0.9019607843137255


F1:

0.896630874572051
===================
12
Confusion Matrix:

[[95  0  0  0]
 [ 6  1  2  0]
 [ 0  2  6  1]
 [ 0  3  3  0]]


Accuracy:

0.8571428571428571


F1:

0.8293431658377637
===================
13
Confusion Matrix:

[[91  0  0  0]
 [ 3  2  6  1]
 [ 0  0 12  1]
 [ 0  0  4  0]]


Accuracy:

0.875


F1:

0.848893178893179
===================
14

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Confusion Matrix:

[[94  0  0  1]
 [ 8  1  1  1]
 [ 1  0  9  3]
 [ 0  0  1  0]]


Accuracy:

0.8666666666666667


F1:

0.8482112794612795
===================
15
IndexError
===================
mean accuracy: 0.8701307140476735

In [18]:
# K-NN 
def make_knn(X_train, y_train, X_test, y_test):
    classifier = KNeighborsClassifier(n_neighbors = 3, metric = 'minkowski', p = 2)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

knn_accs = []
for x in range(0,16):
    print(x)
    try:
        if data_to_use == 'scaled':
            cm, acc_score, f1 = make_knn(scaled_X_trains[x], y_trains_list[x],scaled_X_tests[x],y_tests_list[x])
        else:
            cm, acc_score, f1 = make_knn(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        knn_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "K-NN"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "K-NN"
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')

print("mean accuracy: " + str(np.mean(knn_accs)))

0
Confusion Matrix:

[[93  5  0  0]
 [ 9  0  0  0]
 [11  1  0  0]
 [ 3  1  0  0]]


Accuracy:

0.7560975609756098


F1:

0.6925005698655118
===================
1
Confusion Matrix:

[[94  1  0  0]
 [11  0  0  0]
 [11  1  0  0]
 [ 2  0  0  0]]


Accuracy:

0.7833333333333333


F1:

0.6987480438184662
===================
2
Confusion Matrix:

[[88  0  1]
 [12  0  0]
 [ 9  0  0]]


Accuracy:

0.8


F1:

0.719191919191919
===================
3
Confusion Matrix:

[[88  0  0  0]
 [ 4  1  0  1]
 [ 5  0  0  0]
 [ 4  0  0  0]]


Accuracy:

0.8640776699029126


F1:

0.8122463656444239
===================
4
Confusion Matrix:

[[79  0  0  1]
 [ 6  0  0  0]
 [ 7  1  0  0]
 [ 2  0  0  0]]


Accuracy:

0.8229166666666666


F1:

0.7567049808429118
===================
5
Confusion Matrix:

[[73  0  0  0]
 [ 7  0  0  0]
 [ 7  0  0  0]
 [ 2  0  0  0]]


Accuracy:

0.8202247191011236


F1:

0.7392148703010126
===================
6
Confusion Matrix:

[[82  0  0  0]
 [ 4  0  0  0]
 [ 9  0  0  0]
 [ 3  0  0  0]]


Accuracy:

0.8367346938775511


F1:

0.7623582766439909
===================
7
Confusion Matrix:

[[74  0  1  0]
 [10  0  0  0]
 [ 9  0  0  0]
 [ 2  0  0  0]]


Accuracy:

0.7708333333333334


F1:

0.6801470588235294
===================
8
Confusion Matrix:

[[63  0  0  0]
 [ 9  0  0  0]
 [ 7  0  0  0]
 [ 2  0  0  0]]


Accuracy:

0.7777777777777778


F1:

0.6805555555555557
===================
9
Confusion Matrix:

[[69  0  0]
 [ 7  0  0]
 [ 7  0  1]]


Accuracy:

0.8333333333333334


F1:

0.7669346978557504
===================
10
Confusion Matrix:

[[79  2  0  0]
 [ 2  0  0  0]
 [ 4  1  0  0]
 [ 1  0  0  0]]


Accuracy:

0.8876404494382022


F1:

0.8610643880777769
===================
11
Confusion Matrix:

[[83  0  0  0]
 [ 8  0  0  0]
 [10  0  0  0]
 [ 1  0  0  0]]


Accuracy:

0.8137254901960784


F1:

0.7301536830948595
===================
12
Confusion Matrix:

[[93  1  1  0]
 [ 8  0  1  0]
 [ 6  3  0  0]
 [ 6  0  0  0]]


Accuracy:

0.7815126050420168


F1:

0.7138817065287653
===================
13
Confusion Matrix:

[[91  0  0  0]
 [11  1  0  0]
 [13  0  0  0]
 [ 4  0  0  0]]


Accuracy:

0.7666666666666667


F1:

0.6726068376068375
===================
14
Confusion Matrix:

[[93  0  0  2]
 [10  0  1  0]
 [11  0  2  0]
 [ 1  0  0  0]]


Accuracy:

0.7916666666666666


F1:

0.7282738095238095
===================
15
IndexError
===================
mean accuracy: 0.8071027310874183

<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-18-83c0f1f3c2e6>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)

In [19]:
# SVM 
def make_svm(X_train, y_train, X_test, y_test):
    classifier = SVC(kernel = 'linear', random_state = 0)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

svm_accs = []
for x in range(0,16):
    print(x)
    try:
        if data_to_use == 'scaled':
            cm, acc_score, f1 = make_svm(scaled_X_trains[x], y_trains_list[x],scaled_X_tests[x],y_tests_list[x])
        else:
            cm, acc_score, f1 = make_svm(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        svm_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "SVM"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "SVM"
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
    

print("mean accuracy: " + str(np.mean(svm_accs)))

0

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[98  0  0  0]
 [ 0  9  0  0]
 [ 0  0 12  0]
 [ 0  0  4  0]]


Accuracy:

0.967479674796748


F1:

0.9535423925667827
===================
1
Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 12  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
2
Confusion Matrix:

[[89  0  0]
 [ 0 12  0]
 [ 0  0  9]]


Accuracy:

1.0


F1:

1.0
===================
3
Confusion Matrix:

[[88  0  0  0]
 [ 0  6  0  0]
 [ 0  0  5  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
4
Confusion Matrix:

[[80  0  0  0]
 [ 0  6  0  0]
 [ 0  0  8  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
5

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[73  0  0  0]
 [ 0  7  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
6
Confusion Matrix:

[[82  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  3  0]]


Accuracy:

0.9693877551020408


F1:

0.956268221574344
===================
7
Confusion Matrix:

[[75  0  0  0]
 [ 0 10  0  0]
 [ 0  0  9  0]
 [ 0  0  2  0]]


Accuracy:

0.9791666666666666


F1:

0.9697916666666666
===================
8
Confusion Matrix:

[[63  0  0  0]
 [ 0  9  0  0]
 [ 0  0  7  0]
 [ 0  2  0  0]]


Accuracy:

0.9753086419753086


F1:

0.9641975308641975
===================
9
Confusion Matrix:

[[69  0  0]
 [ 2  5  0]
 [ 0  3  5]]


Accuracy:

0.9404761904761905


F1:

0.9385095063666494
===================
10
Confusion Matrix:

[[81  0  0  0]
 [ 0  2  0  0]
 [ 0  0  5  0]
 [ 0  0  1  0]]


Accuracy:

0.9887640449438202


F1:

0.9836567926455567

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

===================
11
Confusion Matrix:

[[83  0  0  0]
 [ 0  8  0  0]
 [ 0  2  8  0]
 [ 0  0  1  0]]


Accuracy:

0.9705882352941176


F1:

0.9660016053204907
===================
12

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[95  0  0  0]
 [ 0  9  0  0]
 [ 0  0  9  0]
 [ 0  0  0  6]]


Accuracy:

1.0


F1:

1.0
===================
13
Confusion Matrix:

[[91  0  0  0]
 [ 1 11  0  0]
 [ 0  0 13  0]
 [ 0  0  4  0]]


Accuracy:

0.9583333333333334


F1:

0.9437304981389086
===================
14
Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 13  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
15
IndexError
===================
mean accuracy: 0.9833003028392151

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [20]:
# # Kernel SVM

def make_k_svm(X_train, y_train, X_test, y_test):
    classifier = SVC(kernel = 'rbf', random_state = 0)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

k_svm_accs = []
for x in range(0,16):
    print(x)
    try:
        if data_to_use == 'scaled':
            cm, acc_score, f1 = make_k_svm(scaled_X_trains[x], y_trains_list[x],scaled_X_tests[x],y_tests_list[x])
        else:
            cm, acc_score, f1 = make_k_svm(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        k_svm_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "Kernel SVM"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "Kernel SVM"
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
    

print("mean accuracy: " + str(np.mean(k_svm_accs)))

0
Confusion Matrix:

[[98  0  0  0]
 [ 9  0  0  0]
 [12  0  0  0]
 [ 4  0  0  0]]


Accuracy:

0.7967479674796748


F1:

0.7066181069050509
===================
1
Confusion Matrix:

[[95  0  0  0]
 [11  0  0  0]
 [12  0  0  0]
 [ 2  0  0  0]]


Accuracy:

0.7916666666666666


F1:

0.6996124031007752
===================
2
Confusion Matrix:

[[89  0  0]
 [12  0  0]
 [ 9  0  0]]


Accuracy:

0.8090909090909091


F1:

0.723709456372773
===================
3

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[88  0  0  0]
 [ 6  0  0  0]
 [ 5  0  0  0]
 [ 4  0  0  0]]


Accuracy:

0.8543689320388349


F1:

0.7872718954912824
===================
4
Confusion Matrix:

[[80  0  0  0]
 [ 6  0  0  0]
 [ 8  0  0  0]
 [ 2  0  0  0]]


Accuracy:

0.8333333333333334


F1:

0.7575757575757575
===================
5
Confusion Matrix:

[[73  0  0  0]
 [ 7  0  0  0]
 [ 7  0  0  0]
 [ 2  0  0  0]]


Accuracy:

0.8202247191011236


F1:

0.7392148703010126
===================
6
Confusion Matrix:

[[82  0  0  0]
 [ 4  0  0  0]
 [ 9  0  0  0]
 [ 3  0  0  0]]


Accuracy:

0.8367346938775511


F1:

0.7623582766439909
===================
7
Confusion Matrix:

[[75  0  0  0]
 [10  0  0  0]
 [ 9  0  0  0]
 [ 2  0  0  0]]


Accuracy:

0.78125


F1:

0.6853070175438596
===================
8
Confusion Matrix:

[[63  0  0  0]
 [ 9  0  0  0]
 [ 7  0  0  0]
 [ 2  0  0  0]]


Accuracy:

0.7777777777777778


F1:

0.6805555555555557
===================
9
Confusion Matrix:

[[69  0  0]
 [ 7  0  0]
 [ 8  0  0]]


Accuracy:

0.8214285714285714


F1:

0.7408963585434174
===================
10
Confusion Matrix:

[[81  0  0  0]
 [ 2  0  0  0]
 [ 5  0  0  0]
 [ 1  0  0  0]]


Accuracy:

0.9101123595505618


F1:

0.8672835426305353
===================
11
Confusion Matrix:

[[83  0  0  0]
 [ 8  0  0  0]
 [10  0  0  0]
 [ 1  0  0  0]]


Accuracy:

0.8137254901960784


F1:

0.7301536830948595
===================
12
Confusion Matrix:

[[95  0  0  0]
 [ 9  0  0  0]
 [ 9  0  0  0]
 [ 6  0  0  0]]


Accuracy:

0.7983193277310925


F1:

0.7087881881724652
===================
13
Confusion Matrix:

[[91  0  0  0]
 [12  0  0  0]
 [13  0  0  0]
 [ 4  0  0  0]]


Accuracy:

0.7583333333333333


F1:

0.6541074249605056
===================
14
Confusion Matrix:

[[95  0  0  0]
 [11  0  0  0]
 [13  0  0  0]
 [ 1  0  0  0]]


Accuracy:

0.7916666666666666


F1:

0.6996124031007752
===================
15
IndexError
===================
mean accuracy: 0.8129853832181451

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [21]:
# Naive Bayes
def make_nb(X_train, y_train, X_test, y_test):
    classifier = GaussianNB()
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1
nb_accs = []
for x in range(0,16):
    print(x)
    try:
        if data_to_use == 'scaled':
            cm, acc_score, f1 = make_nb(scaled_X_trains[x], y_trains_list[x],scaled_X_tests[x],y_tests_list[x])
        else:
            cm, acc_score, f1 = make_nb(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        nb_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "Naive Bayes"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "Naive Bayes"
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
    

print("mean accuracy: " + str(np.mean(nb_accs)))

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0
Confusion Matrix:

[[98  0  0  0]
 [ 0  9  0  0]
 [ 0  0 12  0]
 [ 0  0  2  2]]


Accuracy:

0.983739837398374


F1:

0.9816552011673964
===================
1
Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 12  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
2
Confusion Matrix:

[[89  0  0]
 [ 0 12  0]
 [ 0  0  9]]


Accuracy:

1.0


F1:

1.0
===================
3
Confusion Matrix:

[[88  0  0  0]
 [ 0  6  0  0]
 [ 0  0  5  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
4

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[80  0  0  0]
 [ 0  6  0  0]
 [ 0  0  8  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
5
Confusion Matrix:

[[73  0  0  0]
 [ 0  7  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
6
Confusion Matrix:

[[82  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0  3]]


Accuracy:

1.0


F1:

1.0
===================
7
Confusion Matrix:

[[75  0  0  0]
 [ 0 10  0  0]
 [ 0  0  9  0]
 [ 0  0  2  0]]


Accuracy:

0.9791666666666666


F1:

0.9697916666666666
===================
8
Confusion Matrix:

[[63  0  0  0]
 [ 0  9  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
9
Confusion Matrix:

[[69  0  0]
 [ 0  7  0]
 [ 0  0  8]]


Accuracy:

1.0


F1:

1.0
===================
10
Confusion Matrix:

[[81  0  0  0]
 [ 0  2  0  0]
 [ 0  0  5  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
11
Confusion Matrix:

[[83  0  0  0]
 [ 0  8  0  0]
 [ 0  0 10  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
12
Confusion Matrix:

[[95  0  0  0]
 [ 0  9  0  0]
 [ 0  0  9  0]
 [ 0  0  0  6]]


Accuracy:

1.0


F1:

1.0
===================
13
Confusion Matrix:

[[91  0  0  0]
 [ 0 12  0  0]
 [ 0  0 13  0]
 [ 0  0  2  2]]


Accuracy:

0.9833333333333333


F1:

0.9811507936507937
===================
14
Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 13  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
15
IndexError
===================
mean accuracy: 0.9964159891598915

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [22]:
# Decision Tree 
def make_tree(X_train, y_train, X_test, y_test):
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

dt_accs = []
for x in range(0,16):
    print(x)
    try:
        if data_to_use == 'scaled':
            cm, acc_score, f1 = make_tree(scaled_X_trains[x], y_trains_list[x],scaled_X_tests[x],y_tests_list[x])
        else:
            cm, acc_score, f1 = make_tree(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        dt_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "Decision Tree"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "Decision Tree"
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
    

print("mean accuracy: " + str(np.mean(dt_accs)))

0
Confusion Matrix:

[[98  0  0  0]
 [ 0  9  0  0]
 [ 0  0 12  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
1
Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 12  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
2
Confusion Matrix:

[[89  0  0]
 [ 0 12  0]
 [ 0  0  9]]


Accuracy:

1.0


F1:

1.0
===================
3
Confusion Matrix:

[[88  0  0  0]
 [ 0  6  0  0]
 [ 0  0  5  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
4
Confusion Matrix:

[[80  0  0  0]
 [ 0  6  0  0]
 [ 0  0  8  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
5
Confusion Matrix:

[[73  0  0  0]
 [ 0  7  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
6
Confusion Matrix:

[[82  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0  3]]


Accuracy:

1.0


F1:

1.0
===================
7
Confusion Matrix:

[[75  0  0  0]
 [ 0 10  0  0]
 [ 0  0  9  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
8
Confusion Matrix:

[[63  0  0  0]
 [ 0  9  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
9
Confusion Matrix:

[[69  0  0]
 [ 0  7  0]
 [ 0  0  8]]


Accuracy:

1.0


F1:

1.0
===================
10
Confusion Matrix:

[[81  0  0  0]
 [ 0  2  0  0]
 [ 0  0  5  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
11
Confusion Matrix:

[[83  0  0  0]
 [ 0  8  0  0]
 [ 0  0 10  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
12
Confusion Matrix:

[[95  0  0  0]
 [ 0  9  0  0]
 [ 0  0  9  0]
 [ 0  0  0  6]]


Accuracy:

1.0


F1:

1.0
===================
13
Confusion Matrix:

[[91  0  0  0]
 [ 0 12  0  0]
 [ 0  0 13  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
14
Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 13  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
15
IndexError
===================
mean accuracy: 1.0

In [23]:
# Random Forest
def make_forest(X_train, y_train, X_test, y_test):
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

rf_accs = []
for x in range(0,16):
    print(x)
    try:
        if data_to_use == 'scaled':
            cm, acc_score, f1 = make_forest(scaled_X_trains[x], y_trains_list[x],scaled_X_tests[x],y_tests_list[x])
        else:
            cm, acc_score, f1 = make_forest(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        rf_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "Random Forest"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "Random Forest"
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
    

print("mean accuracy: " + str(np.mean(rf_accs)))

0
Confusion Matrix:

[[98  0  0  0]
 [ 5  4  0  0]
 [ 4  3  5  0]
 [ 1  0  3  0]]


Accuracy:

0.8699186991869918


F1:

0.8434367353382272
===================
1
Confusion Matrix:

[[95  0  0  0]
 [ 3  8  0  0]
 [ 0  2 10  0]
 [ 1  0  1  0]]


Accuracy:

0.9416666666666667


F1:

0.9321414341920842
===================
2
Confusion Matrix:

[[89  0  0  0]
 [ 6  6  0  0]
 [ 2  0  6  1]
 [ 0  0  0  0]]


Accuracy:

0.9181818181818182


F1:

0.9124731182795699
===================
3
Confusion Matrix:

[[88  0  0  0]
 [ 2  4  0  0]
 [ 1  2  2  0]
 [ 2  1  0  1]]


Accuracy:

0.9223300970873787


F1:

0.9098884594459342
===================
4
Confusion Matrix:

[[80  0  0  0]
 [ 3  1  2  0]
 [ 1  1  4  2]
 [ 0  1  0  1]]


Accuracy:

0.8958333333333334


F1:

0.8828493999225705
===================
5
Confusion Matrix:

[[73  0  0  0]
 [ 6  1  0  0]
 [ 3  0  4  0]
 [ 1  1  0  0]]


Accuracy:

0.8764044943820225


F1:

0.8423255895166007
===================
6
Confusion Matrix:

[[82  0  0  0]
 [ 3  1  0  0]
 [ 2  4  3  0]
 [ 2  1  0  0]]


Accuracy:

0.8775510204081632


F1:

0.8565640291204201
===================
7

<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)

Confusion Matrix:

[[75  0  0  0]
 [ 5  4  1  0]
 [ 3  0  6  0]
 [ 0  1  1  0]]


Accuracy:

0.8854166666666666


F1:

0.8634250641184744
===================
8
Confusion Matrix:

[[63  0  0  0]
 [ 3  5  1  0]
 [ 3  2  2  0]
 [ 1  1  0  0]]


Accuracy:

0.8641975308641975


F1:

0.8367694836219088
===================
9
Confusion Matrix:

[[69  0  0]
 [ 3  2  2]
 [ 1  2  5]]


Accuracy:

0.9047619047619048


F1:

0.8920848322256774
===================
10
Confusion Matrix:

[[81  0  0  0]
 [ 1  1  0  0]
 [ 0  1  4  0]
 [ 0  0  1  0]]


Accuracy:

0.9662921348314607


F1:

0.9607086234231751
===================
11
Confusion Matrix:

[[83  0  0  0]
 [ 2  6  0  0]
 [ 3  3  4  0]
 [ 0  1  0  0]]


Accuracy:

0.9117647058823529


F1:

0.8982423378708209
===================
12
Confusion Matrix:

[[95  0  0  0]
 [ 2  5  2  0]
 [ 1  3  4  1]
 [ 0  2  3  1]]


Accuracy:

0.8823529411764706


F1:

0.8719341022473893
===================
13
Confusion Matrix:

[[91  0  0  0]
 [ 2  9  1  0]
 [ 0  4  9  0]
 [ 0  2  2  0]]


Accuracy:

0.9083333333333333


F1:

0.8947572463768115
===================
14
Confusion Matrix:

[[95  0  0  0]
 [ 6  4  1  0]
 [ 2  1 10  0]
 [ 0  0  1  0]]


Accuracy:

0.9083333333333333


F1:

0.8921801346801348
===================
15
IndexError
===================
mean accuracy: 0.902222578673073

<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)
<ipython-input-23-bbd6cf1f7b25>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)

In [24]:
# Summary
print(best_acc)
print(best_acc_method)
print(best_f1)
print(best_f1_method)

1.0
SVM
1.0
SVM

## Boost Methods (using non-scaled data)

In [25]:
best_acc_method = ""
best_f1_method = ""
best_acc = -100
best_f1 = -100

# AdaBoost
def make_adaboost(X_train, y_train, X_test, y_test):
    classifier = AdaBoostClassifier()
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

ada_accs = []
for x in range(0,16):
    print(x)
    try:
        cm, acc_score, f1 = make_adaboost(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        ada_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "AdaBoost"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "AdaBoost"
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
    

print("mean accuracy: " + str(np.mean(ada_accs)))

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0
Confusion Matrix:

[[98  0  0  0]
 [ 0  9  0  0]
 [ 0 12  0  0]
 [ 0  0  0  4]]


Accuracy:

0.9024390243902439


F1:

0.8731707317073171
===================
1
Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0 12  0  0]
 [ 0  0  0  2]]


Accuracy:

0.9


F1:

0.8676470588235294
===================
2

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[89  0  0]
 [ 0 12  0]
 [ 0  9  0]]


Accuracy:

0.9181818181818182


F1:

0.8884297520661156
===================
3

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[88  0  0  0]
 [ 0  0  6  0]
 [ 0  0  5  0]
 [ 0  0  0  4]]


Accuracy:

0.941747572815534


F1:

0.9235436893203883
===================
4

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[80  0  0  0]
 [ 0  0  6  0]
 [ 0  0  8  0]
 [ 0  0  0  2]]


Accuracy:

0.9375


F1:

0.9147727272727272
===================
5
Confusion Matrix:

[[73  0  0  0]
 [ 0  0  7  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

0.9213483146067416


F1:

0.8951310861423222
===================
6

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[82  0  0  0]
 [ 0  4  0  0]
 [ 0  9  0  0]
 [ 0  0  0  3]]


Accuracy:

0.9081632653061225


F1:

0.8865546218487395
===================
7

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[75  0  0  0]
 [ 0 10  0  0]
 [ 0  9  0  0]
 [ 0  0  0  2]]


Accuracy:

0.90625


F1:

0.8739224137931035
===================
8
Confusion Matrix:

[[63  0  0  0]
 [ 0  9  0  0]
 [ 0  7  0  0]
 [ 0  0  0  2]]


Accuracy:

0.9135802469135802


F1:

0.8824691358024692
===================
9

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[69  0  0]
 [ 0  7  0]
 [ 0  8  0]]


Accuracy:

0.9047619047619048


F1:

0.8744588744588745
===================
10

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[81  0  0  0]
 [ 0  2  0  0]
 [ 0  5  0  0]
 [ 0  0  0  1]]


Accuracy:

0.9438202247191011


F1:

0.9313358302122346
===================
11

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[83  0  0  0]
 [ 0  0  8  0]
 [ 0  0 10  0]
 [ 0  0  0  1]]


Accuracy:

0.9215686274509803


F1:

0.8935574229691876
===================
12
Confusion Matrix:

[[95  0  0  0]
 [ 0  0  9  0]
 [ 0  0  9  0]
 [ 0  0  0  6]]


Accuracy:

0.9243697478991597


F1:

0.8991596638655462
===================
13
Confusion Matrix:

[[91  0  0  0]
 [ 0 12  0  0]
 [ 0 13  0  0]
 [ 0  0  0  4]]


Accuracy:

0.8916666666666667


F1:

0.8565315315315316
===================
14

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[95  0  0  0]
 [ 0  0 11  0]
 [ 0  0 13  0]
 [ 0  0  0  1]]


Accuracy:

0.9083333333333333


F1:

0.8761261261261261
===================
15
IndexError
===================
mean accuracy: 0.9162487164696792

In [26]:
# GradientBoost
def make_gradientboost(X_train, y_train, X_test, y_test):
    classifier = GradientBoostingClassifier()
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

grad_accs = []
for x in range(0,16):
    print(x)
    try:
        cm, acc_score, f1 = make_gradientboost(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        grad_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "Gradient Boost"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "Gradient Boost"
            
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
    
print("mean accuracy: " + str(np.mean(grad_accs)))

0

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[98  0  0  0]
 [ 0  9  0  0]
 [ 0  0 12  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
1

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 12  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
2

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[89  0  0]
 [ 0 12  0]
 [ 0  0  9]]


Accuracy:

1.0


F1:

1.0
===================
3

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[88  0  0  0]
 [ 0  6  0  0]
 [ 0  0  5  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
4

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[80  0  0  0]
 [ 0  6  0  0]
 [ 0  0  8  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
5

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[73  0  0  0]
 [ 0  7  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
6

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[82  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0  3]]


Accuracy:

1.0


F1:

1.0
===================
7

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[75  0  0  0]
 [ 0 10  0  0]
 [ 0  0  9  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
8

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[63  0  0  0]
 [ 0  9  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
9

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[69  0  0]
 [ 0  7  0]
 [ 0  0  8]]


Accuracy:

1.0


F1:

1.0
===================
10

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[81  0  0  0]
 [ 0  2  0  0]
 [ 0  0  5  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
11

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[83  0  0  0]
 [ 0  8  0  0]
 [ 0  0 10  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
12

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[95  0  0  0]
 [ 0  9  0  0]
 [ 0  0  9  0]
 [ 0  0  0  6]]


Accuracy:

1.0


F1:

1.0
===================
13

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[91  0  0  0]
 [ 0 12  0  0]
 [ 0  0 13  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
14

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 13  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
15
IndexError
===================
mean accuracy: 1.0

In [27]:
# XGBoost
def make_xgboost(X_train, y_train, X_test, y_test):
    classifier = XGBClassifier()
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    cm, acc_score = make_confusion_matrix(y_test, y_pred)
    f1 = f1_score(y_test, y_pred, average='weighted')
    print("Confusion Matrix: \n")
    print(cm)
    print("\n")
    print("Accuracy: \n")
    print(acc_score)
    print("\n")
    print("F1: \n")
    print(f1)
    return cm, acc_score, f1

xgb_accs = []
for x in range(0,16):
    print(x)
    try:
        cm, acc_score, f1 = make_xgboost(X_trains_list[x], y_trains_list[x],X_tests_list[x],y_tests_list[x])
        xgb_accs.append(acc_score)
        if acc_score > best_acc:
            best_acc = acc_score
            best_acc_method = "XGBoost"
        if f1 > best_f1:
            best_f1 = f1
            best_f1_method = "XGBoost"
    except ValueError:
        # sample sizes are mismatched
        print("ValueError")
        pass
    except IndexError:
        # end of the loop
        print("IndexError")
        pass
    print('===================')
    
print("mean accuracy: " + str(np.mean(xgb_accs)))

0
[10:26:31] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[98  0  0  0]
 [ 0  9  0  0]
 [ 0  0 12  0]
 [ 0  0  3  1]]


Accuracy:

0.975609756097561


F1:

0.9696476964769648
===================
1
[10:26:31] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\maxw2\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 12  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
2
[10:26:31] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[89  0  0]
 [ 0 12  0]
 [ 0  0  9]]


Accuracy:

1.0


F1:

1.0
===================
3
[10:26:32] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[88  0  0  0]
 [ 0  6  0  0]
 [ 0  0  5  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
4
[10:26:32] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[80  0  0  0]
 [ 0  6  0  0]
 [ 0  0  8  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
5
[10:26:32] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[73  0  0  0]
 [ 0  7  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
6
[10:26:32] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[82  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0  3]]


Accuracy:

1.0


F1:

1.0
===================
7
[10:26:32] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[75  0  0  0]
 [ 0 10  0  0]
 [ 0  0  9  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
8
[10:26:32] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[63  0  0  0]
 [ 0  9  0  0]
 [ 0  0  7  0]
 [ 0  0  0  2]]


Accuracy:

1.0


F1:

1.0
===================
9
[10:26:33] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[69  0  0]
 [ 0  7  0]
 [ 0  0  8]]


Accuracy:

1.0


F1:

1.0
===================
10
[10:26:33] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[81  0  0  0]
 [ 0  2  0  0]
 [ 0  0  5  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
11
[10:26:33] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[83  0  0  0]
 [ 0  8  0  0]
 [ 0  0 10  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
12
[10:26:33] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[95  0  0  0]
 [ 0  9  0  0]
 [ 0  0  9  0]
 [ 0  0  0  6]]


Accuracy:

1.0


F1:

1.0
===================
13
[10:26:33] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[91  0  0  0]
 [ 0 12  0  0]
 [ 0  0 13  0]
 [ 0  0  0  4]]


Accuracy:

1.0


F1:

1.0
===================
14
[10:26:33] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[95  0  0  0]
 [ 0 11  0  0]
 [ 0  0 13  0]
 [ 0  0  0  1]]


Accuracy:

1.0


F1:

1.0
===================
15
IndexError
===================
mean accuracy: 0.9983739837398374

In [28]:
# Summary
print(best_acc)
print(best_acc_method)
print(best_f1)
print(best_f1_method)

1.0
Gradient Boost
1.0
Gradient Boost

## Results

In [29]:
print("LR: " + str(round(np.mean(lr_accs), 4)))
print("KNN: " + str(round(np.mean(knn_accs), 4)))
print("SVM: " + str(round(np.mean(svm_accs), 4)))
print("K_SVM: " + str(round(np.mean(k_svm_accs), 4)))
print("NB: " + str(round(np.mean(nb_accs), 4)))
print("DT: " + str(round(np.mean(dt_accs), 4)))
print("RF: " + str(round(np.mean(rf_accs), 4)))
print("Ada: " + str(round(np.mean(ada_accs), 4)))
print("Grad: " + str(round(np.mean(grad_accs), 4)))
print("XGB: " + str(round(np.mean(xgb_accs), 4)))

LR: 0.8701
KNN: 0.8071
SVM: 0.9833
K_SVM: 0.813
NB: 0.9964
DT: 1.0
RF: 0.9022
Ada: 0.9162
Grad: 1.0
XGB: 0.9984

From just the baselines, all of the models have super high mean accuracies, which is promising, but I remain skeptical. SVM, Naive Bayes, and Decision Trees are at the top for non-boosted methods, while Gradient and XGBoosting are the best boosted methods.

So next, we want to try a run where we use an example week of data, and try to project possible high scoring players for the following week.

We'll use the best scoring methods mentioned above to see how they perform.

## Test Run

<a id='test_run'></a>

In [30]:
# let's say that week 7 just finished, and week 8 is coming up.
# time to put together a lineup for week 8, or at least form a pool
# of suspected high scoring players.

# mess with these numbers to experiment, but 
# comments below are for week 7 in the 2020 season

season = 2015
week = 7
next_week = week+1 # will be used a little later

if week == 1:
    dataset = get_season_data(season-1)
else: 
    dataset = get_ytd_season_data(season, week)

In [31]:
dataset

      Week                Name  Pos Team h/a Oppt  DK points  DK salary
0        1      Palmer, Carson   QB  ari   h  nor      28.68     6500.0
1        1          Brady, Tom   QB  nwe   h  pit      27.62     7700.0
2        1          Romo, Tony   QB  dal   h  nyg      27.14     7300.0
3        1     Mariota, Marcus   QB  ten   a  tam      24.96     6000.0
4        1      Rivers, Philip   QB  sdg   h  det      24.96     7100.0
...    ...                 ...  ...  ...  ..  ...        ...        ...
2795     7  New York J Defense  Def  nyj   a  nwe       2.00     2900.0
2796     7     Houston Defense  Def  hou   a  mia       2.00     2900.0
2797     7      Dallas Defense  Def  dal   a  nyg       2.00     2500.0
2798     7  Pittsburgh Defense  Def  pit   a  kan       2.00     2600.0
2799     7   San Diego Defense  Def  sdg   h  oak      -3.00     2600.0

[2800 rows x 8 columns]

In [32]:
df_ytd = find_scoring_potentials(dataset)
df_ytd

,Week,Name,Pos,Team,h/a,Oppt,DK points,DK salary,scoring_potential
0,1,"Palmer, Carson",QB,ari,h,nor,28.68,6500.0,2
1,1,"Brady, Tom",QB,nwe,h,pit,27.62,7700.0,2
2,1,"Romo, Tony",QB,dal,h,nyg,27.14,7300.0,2
3,1,"Mariota, Marcus",QB,ten,a,tam,24.96,6000.0,2
4,1,"Rivers, Philip",QB,sdg,h,det,24.96,7100.0,2
...,...,...,...,...,...,...,...,...,...
2795,7,New York J Defense,Def,nyj,a,nwe,2.00,2900.0,0
2796,7,Houston Defense,Def,hou,a,mia,2.00,2900.0,0
2797,7,Dallas Defense,Def,dal,a,nyg,2.00,2500.0,0
2798,7,Pittsburgh Defense,Def,pit,a,kan,2.00,2600.0,0
2799,7,San Diego Defense,Def,sdg,h,oak,-3.00,2600.0,0

In [33]:
# take care of players with 0s for salaries
df_ytd['DK salary'] = df_ytd['DK salary'].replace(to_replace=0.0, value=np.mean(df_ytd['DK salary']))

In [34]:
df_ytd

,Week,Name,Pos,Team,h/a,Oppt,DK points,DK salary,scoring_potential
0,1,"Palmer, Carson",QB,ari,h,nor,28.68,6500.0,2
1,1,"Brady, Tom",QB,nwe,h,pit,27.62,7700.0,2
2,1,"Romo, Tony",QB,dal,h,nyg,27.14,7300.0,2
3,1,"Mariota, Marcus",QB,ten,a,tam,24.96,6000.0,2
4,1,"Rivers, Philip",QB,sdg,h,det,24.96,7100.0,2
...,...,...,...,...,...,...,...,...,...
2795,7,New York J Defense,Def,nyj,a,nwe,2.00,2900.0,0
2796,7,Houston Defense,Def,hou,a,mia,2.00,2900.0,0
2797,7,Dallas Defense,Def,dal,a,nyg,2.00,2500.0,0
2798,7,Pittsburgh Defense,Def,pit,a,kan,2.00,2600.0,0
2799,7,San Diego Defense,Def,sdg,h,oak,-3.00,2600.0,0

In [35]:
if week == 1:
    x_filt = df_ytd['Week']<=16, ['Week', 'Name', 'Pos', 'Team', 'h/a', 'Oppt', 'DK points', 'DK salary']
    y_filt = df_ytd['Week']<=16, ['scoring_potential']
else: 
    x_filt = df_ytd['Week']<=week, ['Week', 'Name', 'Pos', 'Team', 'h/a', 'Oppt', 'DK points', 'DK salary']
    y_filt = df_ytd['Week']<=week, ['scoring_potential']

X_train, X_test, y_train, y_test = train_test_split(df_ytd.loc[x_filt],
                                                    df_ytd.loc[y_filt], 
                                                    test_size=0.5,
                                                    random_state=0)

In [36]:
X_train

      Week                 Name  Pos Team h/a Oppt  DK points  DK salary
2633     7     Matthews, Jordan   WR  phi   a  car        4.4     6400.0
2164     6      Darkwa, Orleans   RB  nyg   a  phi        0.0     3000.0
2183     6     Ripkowski, Aaron   RB  gnb   h  sdg        0.0     3000.0
2598     7   Williams, Terrance   WR  dal   a  nyg       11.0     4200.0
785      2        Harris, Clark   TE  cin   h  sdg        0.0     2500.0
...    ...                  ...  ...  ...  ..  ...        ...        ...
763      2           Ertz, Zach   TE  phi   h  dal        4.7     3600.0
835      2  New Orleans Defense  Def  nor   h  tam        7.0     2800.0
1653     4   Pittsburgh Defense  Def  pit   h  bal        9.0     2900.0
2607     7        Austin, Miles   WR  phi   a  car        9.2     3000.0
2732     7     Cumberland, Jeff   TE  nyj   a  nwe        2.6     2500.0

[1400 rows x 8 columns]

In [37]:
X_test

      Week                Name  Pos Team h/a Oppt  DK points  DK salary
1390     4    Langford, Jeremy   RB  chi   h  oak        0.4     3000.0
196      1      Maclin, Jeremy   WR  kan   a  hou       10.2     6900.0
253      1  Thomas, De'Anthony   WR  kan   a  hou        2.1     3000.0
2586     7    Bryant, Martavis   WR  pit   a  kan       14.8     4700.0
1043     3     Amendola, Danny   WR  nwe   h  jac       14.9     3300.0
...    ...                 ...  ...  ...  ..  ...        ...        ...
823      2      Denver Defense  Def  den   a  kan       21.0     2800.0
1234     3      Escobar, Gavin   TE  dal   h  atl        0.0     2600.0
1815     5    Hopkins, DeAndre   WR  hou   h  ind       30.9     7200.0
2500     7        White, James   RB  nwe   h  nyj        6.0     3000.0
1117     3    Johnson, Charles   WR  min   h  sdg        1.9     4000.0

[1400 rows x 8 columns]

In [38]:
# re-work training variables here...
# before, was using scoring_potential_y to train,
# which wouldn't exist in production.
# y_train = X_train[['scoring_potential_x']]
# X_train = X_train.drop(labels='scoring_potential_x', axis=1)
# X_test = X_test.drop(labels='scoring_potential_x', axis=1)
y_train

      scoring_potential
2633                  0
2164                  0
2183                  0
2598                  0
785                   0
...                 ...
763                   0
835                   0
1653                  0
2607                  0
2732                  0

[1400 rows x 1 columns]

In [39]:
y_test

      scoring_potential
1390                  0
196                   0
253                   0
2586                  0
1043                  0
...                 ...
823                   2
1234                  0
1815                  3
2500                  0
1117                  0

[1400 rows x 1 columns]

In [40]:
# encode data
X_train = X_train.apply(LabelEncoder().fit_transform)
X_test = X_test.apply(LabelEncoder().fit_transform)

In [41]:
# scale data for models that need scaling
scaled_X_train, scaled_X_test = scale_features(sc, X_train, X_test)

In [42]:
svm_clf = SVC(kernel = 'linear', random_state = 0)
nb_clf = GaussianNB()
dt_clf = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
# grad_clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1, max_depth=2, random_state=0)
grad_clf = GradientBoostingClassifier()
xgb_clf = XGBClassifier()

In [43]:
# SVM
svm_clf.fit(scaled_X_train, y_train)
y_pred = svm_clf.predict(scaled_X_test)
cm, acc_score = make_confusion_matrix(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')
print("Confusion Matrix: \n")
print(cm)
print("\n")
print("Accuracy: \n")
print(acc_score)
print("\n")
print("F1: \n")
print(f1)

Confusion Matrix:

[[1143    4    0    0]
 [   4  100    6    0]
 [   0    4   93    7]
 [   0    0    2   37]]


Accuracy:

0.9807142857142858


F1:

0.9807496365284042

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [44]:
# Naive Bayes
nb_clf.fit(scaled_X_train, y_train)
y_pred = svm_clf.predict(scaled_X_test)
cm, acc_score = make_confusion_matrix(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')
print("Confusion Matrix: \n")
print(cm)
print("\n")
print("Accuracy: \n")
print(acc_score)
print("\n")
print("F1: \n")
print(f1)

Confusion Matrix:

[[1143    4    0    0]
 [   4  100    6    0]
 [   0    4   93    7]
 [   0    0    2   37]]


Accuracy:

0.9807142857142858


F1:

0.9807496365284042

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [45]:
# Decision Tree
dt_clf.fit(scaled_X_train, y_train)
y_pred = svm_clf.predict(scaled_X_test)
cm, acc_score = make_confusion_matrix(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')
print("Confusion Matrix: \n")
print(cm)
print("\n")
print("Accuracy: \n")
print(acc_score)
print("\n")
print("F1: \n")
print(f1)

Confusion Matrix:

[[1143    4    0    0]
 [   4  100    6    0]
 [   0    4   93    7]
 [   0    0    2   37]]


Accuracy:

0.9807142857142858


F1:

0.9807496365284042

In [46]:
# Gradient Boost
grad_clf.fit(X_train, y_train)
y_pred = grad_clf.predict(X_test)
cm, acc_score = make_confusion_matrix(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')
print("Confusion Matrix: \n")
print(cm)
print("\n")
print("Accuracy: \n")
print(acc_score)
print("\n")
print("F1: \n")
print(f1)

C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

Confusion Matrix:

[[1147    0    0    0]
 [   6  101    3    0]
 [   0    0  104    0]
 [   0    0    1   38]]


Accuracy:

0.9928571428571429


F1:

0.9927479466439697

In [47]:
# XGBoost
xgb_clf.fit(X_train, y_train)
y_pred = grad_clf.predict(X_test)
cm, acc_score = make_confusion_matrix(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average='weighted')
print("Confusion Matrix: \n")
print(cm)
print("\n")
print("Accuracy: \n")
print(acc_score)
print("\n")
print("F1: \n")
print(f1)

[10:26:35] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Confusion Matrix:

[[1147    0    0    0]
 [   6  101    3    0]
 [   0    0  104    0]
 [   0    0    1   38]]


Accuracy:

0.9928571428571429


F1:

0.9927479466439697

C:\Users\maxw2\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\maxw2\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

So it's interesting here that training the models leads to a drop in performance for the boosted methods. So I'd say those ones, we can safely ignore.

That leaves us with just the 3 non-boosted methods (SVM, Naive Bayes, and Decision Tree).

In [48]:
df_next_week = get_weekly_data(next_week, season).drop(['Unnamed: 0', 'Year'], axis=1)
df_next_week

     Week                 Name  Pos Team h/a Oppt  DK points  DK salary
0       8          Brees, Drew   QB  nor   h  nyg      49.30       6700
1       8         Manning, Eli   QB  nyg   a  nor      41.00       6600
2       8       Palmer, Carson   QB  ari   a  cle      33.56       7000
3       8           Brady, Tom   QB  nwe   h  mia      33.34       8300
4       8          Carr, Derek   QB  oak   h  nyj      32.12       5300
..    ...                  ...  ...  ...  ..  ...        ...        ...
375     8    San Diego Defense  Def  sdg   a  bal       2.00       2200
376     8  New Orleans Defense  Def  nor   h  nyg       1.00       2000
377     8        Miami Defense  Def  mia   a  nwe       1.00       2700
378     8   New York J Defense  Def  nyj   a  oak      -1.00       2900
379     8      Detroit Defense  Def  det   a  kan      -1.00       2600

[380 rows x 8 columns]

In [49]:
df_ytd

,Week,Name,Pos,Team,h/a,Oppt,DK points,DK salary,scoring_potential
0,1,"Palmer, Carson",QB,ari,h,nor,28.68,6500.0,2
1,1,"Brady, Tom",QB,nwe,h,pit,27.62,7700.0,2
2,1,"Romo, Tony",QB,dal,h,nyg,27.14,7300.0,2
3,1,"Mariota, Marcus",QB,ten,a,tam,24.96,6000.0,2
4,1,"Rivers, Philip",QB,sdg,h,det,24.96,7100.0,2
...,...,...,...,...,...,...,...,...,...
2795,7,New York J Defense,Def,nyj,a,nwe,2.00,2900.0,0
2796,7,Houston Defense,Def,hou,a,mia,2.00,2900.0,0
2797,7,Dallas Defense,Def,dal,a,nyg,2.00,2500.0,0
2798,7,Pittsburgh Defense,Def,pit,a,kan,2.00,2600.0,0
2799,7,San Diego Defense,Def,sdg,h,oak,-3.00,2600.0,0

In [50]:
# Because we won't have access to some stats since we are trying to 
# project into the future, we'll need to be a little more creative.
# Instead of dropping 'DK points', substitute avg PPG for that value

def get_avg_ppg(ytd_df, player_name):
    filt = ytd_df['Name']==player_name
    working_df = ytd_df.loc[filt]
    mean = np.mean(working_df['DK points'])
    return mean

# def get_avg_scoring_potential(ytd_df, player_name):
#     filt = ytd_df['Name']==player_name
#     working_df = ytd_df.loc[filt]
#     mean = round(np.mean(working_df['scoring_potential']),0)
#     return mean

if week == 1:
    df_next_week['DK points'] = 0
    for num in range(0,len(df_next_week)):
        df_next_week['DK points'][num] = get_avg_ppg(df_ytd, df_next_week['Name'][num])
else:
    df_next_week['DK points'] = 0
#     df_next_week['scoring_potential'] = 0
    for num in range(0,len(df_next_week)):
        df_next_week['DK points'][num] = get_avg_ppg(df_ytd, df_next_week['Name'][num])
#         df_next_week['scoring_potential'][num] = get_avg_scoring_potential(df_ytd, df_next_week['Name'][num])
df_next_week = df_next_week.fillna(0)
df_next_week

<ipython-input-50-33611fb623f8>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_next_week['DK points'][num] = get_avg_ppg(df_ytd, df_next_week['Name'][num])
C:\Users\maxw2\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

     Week                 Name  Pos Team h/a Oppt  DK points  DK salary
0       8          Brees, Drew   QB  nor   h  nyg  18.000000       6700
1       8         Manning, Eli   QB  nyg   a  nor  16.000000       6600
2       8       Palmer, Carson   QB  ari   a  cle  21.000000       7000
3       8           Brady, Tom   QB  nwe   h  mia  28.000000       8300
4       8          Carr, Derek   QB  oak   h  nyj  17.000000       5300
..    ...                  ...  ...  ...  ..  ...        ...        ...
375     8    San Diego Defense  Def  sdg   a  bal   3.285714       2200
376     8  New Orleans Defense  Def  nor   h  nyg   6.857143       2000
377     8        Miami Defense  Def  mia   a  nwe   8.166667       2700
378     8   New York J Defense  Def  nyj   a  oak   8.333333       2900
379     8      Detroit Defense  Def  det   a  kan   7.142857       2600

[380 rows x 8 columns]

In [51]:
X_test = df_next_week
X_train_le = X_train.apply(LabelEncoder().fit_transform)
X_train_le_scaled = sc.transform(X_train_le)
X_test_le = X_test.apply(LabelEncoder().fit_transform)
X_test_le_scaled = sc.transform(X_test_le)

In [52]:
# use svm_clf 
y_pred = svm_clf.predict([X_test_le_scaled[0]])

y_pred[0]

2

In [53]:
# The results say Justin Hebert is a decent pick for week 8 in 2019...
# Let's see.

df_check_results = get_weekly_data(next_week, season).drop(['Unnamed: 0', 'Year'], axis=1)
df_check_results

     Week                 Name  Pos Team h/a Oppt  DK points  DK salary
0       8          Brees, Drew   QB  nor   h  nyg      49.30       6700
1       8         Manning, Eli   QB  nyg   a  nor      41.00       6600
2       8       Palmer, Carson   QB  ari   a  cle      33.56       7000
3       8           Brady, Tom   QB  nwe   h  mia      33.34       8300
4       8          Carr, Derek   QB  oak   h  nyj      32.12       5300
..    ...                  ...  ...  ...  ..  ...        ...        ...
375     8    San Diego Defense  Def  sdg   a  bal       2.00       2200
376     8  New Orleans Defense  Def  nor   h  nyg       1.00       2000
377     8        Miami Defense  Def  mia   a  nwe       1.00       2700
378     8   New York J Defense  Def  nyj   a  oak      -1.00       2900
379     8      Detroit Defense  Def  det   a  kan      -1.00       2600

[380 rows x 8 columns]

Not bad. Let's see the rest of the predictions...

In [54]:
y_true = np.array(find_scoring_potentials(df_check_results)[['scoring_potential']]).flatten()
y_true

array([3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 2, 2, 2, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0], dtype=int64)

In [55]:
y_pred = svm_clf.predict(X_test_le_scaled)
y_pred

array([2, 2, 2, 3, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 0, 2, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 1, 2, 1,
       1, 2, 2, 2, 0, 2, 1, 0, 0, 1, 2, 0, 1, 1, 0, 2, 1, 1, 1, 0, 1, 2,
       2, 1, 1, 3, 0, 1, 0, 2, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 2,
       2, 1, 1, 2, 0, 1, 0, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 1, 1, 0, 1, 0, 0, 0, 2, 0, 2, 3, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 2, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 2, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 2, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 2, 0, 2, 2, 0, 2,
       0, 1, 0, 1, 0, 0, 2, 0, 1, 0, 2, 0, 0, 1, 0, 0, 1, 0, 0, 1, 2, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 2, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0], dtype=int64)

In [56]:
len(y_pred)

380

In [57]:
# if len(y_pred)and len(y_true) are different,
# the rest of the notebook fails. this could happen due 
# to bye weeks and injuries. so for now, just 
# append 0s to the shorter one until they are 
# the same length

def match_arr_lengths(y_pred, y_true):
    if len(y_pred) < len(y_true):
        while len(y_pred) < len(y_true):
            print('adding 0 to y_pred')
            y_pred = np.append(y_pred, 0)

    if len(y_true) < len(y_pred):
        while len(y_true) < len(y_pred):
            print('adding 0 to y_true')
            y_true = np.append(y_true, 0)
    
    return y_pred, y_true

y_pred, y_true = match_arr_lengths(y_pred, y_true)

In [58]:
print(len(y_pred))
print(len(y_true))

380
380

In [59]:
cm, acc_score = make_confusion_matrix(y_true, y_pred)
cm

array([[227,  52,  35,   2],
       [  8,   2,  15,   0],
       [  8,   5,  16,   0],
       [  0,   1,   8,   1]], dtype=int64)

In [60]:
acc_score

0.6473684210526316

:Sad Face Emoji: Right away, the thing that stands out is that SVM predicts a LOT of 30 pt scorers, which wasn't reflected before.

So now let's check the other models and see how they do.

In [61]:
y_pred_nb = nb_clf.predict(X_test_le_scaled)
y_pred_dt = dt_clf.predict(X_test_le_scaled)
y_pred_grad = grad_clf.predict(X_test_le)
y_pred_xgb = xgb_clf.predict(X_test_le)

y_pred_nb, y_true = match_arr_lengths(y_pred_nb, y_true)
y_pred_dt, y_true = match_arr_lengths(y_pred_dt, y_true)
y_pred_grad, y_true = match_arr_lengths(y_pred_grad, y_true)
y_pred_xgb, y_true = match_arr_lengths(y_pred_xgb, y_true)

cm_nb, acc_score_nb = make_confusion_matrix(y_true, y_pred_nb)
cm_dt, acc_score_dt = make_confusion_matrix(y_true, y_pred_dt)
cm_grad, acc_score_grad = make_confusion_matrix(y_true, y_pred_grad)
cm_xgb, acc_score_xgb = make_confusion_matrix(y_true, y_pred_xgb)

cms = [cm_nb, cm_dt, cm_grad, cm_xgb]
accs = [acc_score_nb, acc_score_dt, acc_score_grad, acc_score_xgb]

# naive bayes and svm in my own testing have identical results, so they're together
model = ["SVM/NB", "Decision Tree", "Gradient Boost", "XG Boost"]

In [62]:
print(f"season: {season}")
print(f"training week: {week}")
print(f"predicting week: {next_week}")
for i in range(0,4):
    print('Model: '+ model[i])
    print('CM: ')
    print(cms[i])
    print('Acc: ')
    print(round(accs[i]*100, 4))
    print('==============')

season: 2015
training week: 7
predicting week: 8
Model: SVM/NB
CM:
[[226  55  35   0]
 [  8   2  15   0]
 [  9   4  16   0]
 [  0   1   9   0]]
Acc:
64.2105
==============
Model: Decision Tree
CM:
[[231  50  35   0]
 [  8   3  14   0]
 [  9   4  16   0]
 [  0   1   9   0]]
Acc:
65.7895
==============
Model: Gradient Boost
CM:
[[231  50  35   0]
 [  8   3  14   0]
 [  9   4  16   0]
 [  0   1   9   0]]
Acc:
65.7895
==============
Model: XG Boost
CM:
[[231  50  35   0]
 [  8   3  14   0]
 [  9   4  16   0]
 [  0   1   9   0]]
Acc:
65.7895
==============

These results are pretty interesting. Naive Bayes and SVM appear to be the most accurate, but that appears to be largely due to a larger number of correct 0 predictions.

Gradient boosting appears to be very close behind them.

Decision trees and XGBoosting are in last place.

Taking a look at our criteria from the top of this page:

1. Correct 3 predictions - none of them
2. Correct 0 predictions - Gradient Boosting, SVM/NB
3. Bottom right 2x2 has most counts - Decision tree, Gradient, XGB
4. Minimize top row (not including top left) - SVM/NB, but gradient boosting is close
5. Minimize left column (not including top left) - Decision tree and Xgb

Gradient boosting checks 3 boxes, while the rest all check 2.

So next, to minimize decisions that need to be made when putting lineups together, it'd be helpful to use models to filter out poor picks and then use the best model to predict the good players.

[Try again](#test_run)

## Build Player Pools Based on Results

In [63]:
X_test

     Week                 Name  Pos Team h/a Oppt  DK points  DK salary
0       8          Brees, Drew   QB  nor   h  nyg  18.000000       6700
1       8         Manning, Eli   QB  nyg   a  nor  16.000000       6600
2       8       Palmer, Carson   QB  ari   a  cle  21.000000       7000
3       8           Brady, Tom   QB  nwe   h  mia  28.000000       8300
4       8          Carr, Derek   QB  oak   h  nyj  17.000000       5300
..    ...                  ...  ...  ...  ..  ...        ...        ...
375     8    San Diego Defense  Def  sdg   a  bal   3.285714       2200
376     8  New Orleans Defense  Def  nor   h  nyg   6.857143       2000
377     8        Miami Defense  Def  mia   a  nwe   8.166667       2700
378     8   New York J Defense  Def  nyj   a  oak   8.333333       2900
379     8      Detroit Defense  Def  det   a  kan   7.142857       2600

[380 rows x 8 columns]

In [64]:
y_pred

array([2, 2, 2, 3, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 0, 2, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 1, 2, 1,
       1, 2, 2, 2, 0, 2, 1, 0, 0, 1, 2, 0, 1, 1, 0, 2, 1, 1, 1, 0, 1, 2,
       2, 1, 1, 3, 0, 1, 0, 2, 0, 2, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 0, 2,
       2, 1, 1, 2, 0, 1, 0, 2, 2, 2, 2, 0, 0, 0, 0, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 1, 1, 0, 1, 0, 0, 0, 2, 0, 2, 3, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 2, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 2, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 2, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 2, 0, 2, 2, 0, 2,
       0, 1, 0, 1, 0, 0, 2, 0, 1, 0, 2, 0, 0, 1, 0, 0, 1, 0, 0, 1, 2, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 2, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 0], dtype=int64)

In [65]:
y_true

array([3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3, 3, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 2, 2, 2, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0], dtype=int64)

In [66]:
X_test.rename(columns={'scoring_potential': 'est_scoring_pot', 'DK points': 'avg_points'}, inplace=True)
# X_test['pred_scoring_pot'] = y_pred
# X_test['pred_scoring_pot'] = y_pred_nb
X_test['pred_scoring_pot'] = y_pred_dt
# X_test['pred_scoring_pot'] = y_pred_grad
# X_test['pred_scoring_pot'] = y_pred_xgb
X_test['act_scoring_pot'] = y_true
X_test['act_pts_scored'] = df_check_results['DK points']
X_test

,Week,Name,Pos,Team,h/a,Oppt,avg_points,DK salary,pred_scoring_pot,act_scoring_pot,act_pts_scored
0,8,"Brees, Drew",QB,nor,h,nyg,18.000000,6700,2,3,49.30
1,8,"Manning, Eli",QB,nyg,a,nor,16.000000,6600,2,3,41.00
2,8,"Palmer, Carson",QB,ari,a,cle,21.000000,7000,2,3,33.56
3,8,"Brady, Tom",QB,nwe,h,mia,28.000000,8300,2,3,33.34
4,8,"Carr, Derek",QB,oak,h,nyj,17.000000,5300,2,3,32.12
...,...,...,...,...,...,...,...,...,...,...,...
375,8,San Diego Defense,Def,sdg,a,bal,3.285714,2200,0,0,2.00
376,8,New Orleans Defense,Def,nor,h,nyg,6.857143,2000,0,0,1.00
377,8,Miami Defense,Def,mia,a,nwe,8.166667,2700,0,0,1.00
378,8,New York J Defense,Def,nyj,a,oak,8.333333,2900,0,0,-1.00
379,8,Detroit Defense,Def,det,a,kan,7.142857,2600,0,0,-1.00

In [67]:
# Wanting to print entire dataframes from here on
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [68]:
X_test.loc[X_test.Pos=='QB']

,Week,Name,Pos,Team,h/a,Oppt,avg_points,DK salary,pred_scoring_pot,act_scoring_pot,act_pts_scored
0,8,"Brees, Drew",QB,nor,h,nyg,18.000000,6700,2,3,49.30
1,8,"Manning, Eli",QB,nyg,a,nor,16.000000,6600,2,3,41.00
2,8,"Palmer, Carson",QB,ari,a,cle,21.000000,7000,2,3,33.56
3,8,"Brady, Tom",QB,nwe,h,mia,28.000000,8300,2,3,33.34
4,8,"Carr, Derek",QB,oak,h,nyj,17.000000,5300,2,3,32.12
5,8,"Smith, Alex",QB,kan,h,det,16.000000,5000,2,2,27.60
6,8,"Rivers, Philip",QB,sdg,a,bal,24.000000,6600,2,2,27.04
7,8,"Flacco, Joe",QB,bal,h,sdg,17.000000,5500,2,2,25.96
8,8,"Ryan, Matt",QB,atl,h,tam,16.000000,7100,2,2,25.08
9,8,"Smith, Geno",QB,nyj,a,oak,0.000000,5000,0,2,21.00
10,8,"McCown, Josh",QB,cle,h,ari,19.540000,5000,2,2,20.24
11,8,"Newton, Cam",QB,car,h,ind,21.750000,6800,2,2,20.02
12,8,"Cutler, Jay",QB,chi,h,min,17.088000,5200,2,1,19.54
13,8,"Winston, Jameis",QB,tam,a,atl,16.923333,5200,2,1,19.48
14,8,"Luck, Andrew",QB,ind,a,car,22.124000,7400,2,1,17.74
15,8,"Hoyer, Brian",QB,hou,h,ten,19.748000,5300,2,1,17.30
16,8,"Manning, Peyton",QB,den,h,gnb,13.593333,6400,1,1,15.60
17,8,"Wilson, Russell",QB,sea,a,dal,16.974286,6300,2,0,14.60
18,8,"Foles, Nick",QB,stl,h,sfo,11.643333,5100,1,0,13.34
19,8,"Tannehill, Ryan",QB,mia,a,nwe,19.753333,5600,2,0,12.90
20,8,"Bridgewater, Teddy",QB,min,a,chi,13.676667,5100,2,0,12.58
21,8,"Dalton, Andy",QB,cin,a,pit,24.956667,6000,2,0,11.64
22,8,"Roethlisberger, Ben",QB,pit,h,cin,20.793333,6700,2,0,11.48
23,8,"Stafford, Matthew",QB,det,a,kan,17.462857,5800,2,0,11.18
24,8,"Kaepernick, Colin",QB,sfo,a,stl,16.131429,5000,2,0,9.28
25,8,"Cassel, Matt",QB,dal,h,sea,5.240000,5000,0,0,8.18
26,8,"Rodgers, Aaron",QB,gnb,a,den,22.940000,7500,2,0,6.18
27,8,"Mettenberger, Zach",QB,ten,a,hou,3.966667,5100,0,0,4.84
28,8,"Fitzpatrick, Ryan",QB,nyj,a,oak,18.680000,5200,2,0,3.04
29,8,"Manziel, Johnny",QB,cle,h,ari,9.446667,5000,1,0,0.58
30,8,"Orlovsky, Dan",QB,det,a,kan,5.320000,5000,0,0,0.40
31,8,"Daniel, Chase",QB,kan,h,det,0.000000,5000,0,0,0.16
32,8,"Tolzien, Scott",QB,gnb,a,den,0.000000,5000,0,0,0.00
33,8,"McCown, Luke",QB,nor,h,nyg,2.200000,5000,0,0,0.00
34,8,"Webb, Joe",QB,car,h,ind,0.000000,5000,0,0,0.00
35,8,"Whitehurst, Charlie",QB,ind,a,car,0.000000,5000,0,0,0.00
36,8,"Garoppolo, Jimmy",QB,nwe,h,mia,-0.200000,5000,0,0,0.00

In [69]:
X_test.loc[X_test.Pos=='RB']

,Week,Name,Pos,Team,h/a,Oppt,avg_points,DK salary,pred_scoring_pot,act_scoring_pot,act_pts_scored
37,8,"Gurley, Todd",RB,stl,h,sfo,19.425000,6300,2,2,26.6
38,8,"Lewis, Dion",RB,nwe,h,mia,17.740000,6400,2,2,23.2
39,8,"West, Charcandrick",RB,kan,h,det,5.071429,4700,0,2,22.2
40,8,"Anderson, C.J.",RB,den,h,gnb,6.833333,4300,0,2,20.6
41,8,"Vereen, Shane",RB,nyg,a,nor,9.385714,4100,1,2,20.3
42,8,"Freeman, Devonta",RB,atl,h,tam,28.442857,8000,2,1,19.1
43,8,"Hillman, Ronnie",RB,den,h,gnb,9.666667,4600,1,1,18.5
44,8,"McFadden, Darren",RB,dal,h,sea,11.383333,3800,1,1,17.3
45,8,"Murray, Latavius",RB,oak,h,nyj,15.000000,5900,2,1,15.9
46,8,"Peterson, Adrian",RB,min,a,chi,16.516667,7400,2,1,15.9
47,8,"Ingram, Mark",RB,nor,h,nyg,18.500000,6400,2,1,15.9
48,8,"Williams, DeAngelo",RB,pit,h,cin,7.671429,3000,0,1,15.0
49,8,"Miller, Lamar",RB,mia,a,nwe,16.033333,4700,2,0,14.4
50,8,"Stewart, Jonathan",RB,car,h,ind,11.050000,4100,1,0,14.3
51,8,"Jones, Taiwan",RB,oak,h,nyj,3.525000,3000,0,0,13.4
52,8,"Blue, Alfred",RB,hou,h,ten,6.266667,3500,0,0,12.2
53,8,"Gore, Frank",RB,ind,a,car,12.285714,4800,1,0,12.2
54,8,"Johnson, Chris",RB,ari,a,cle,13.471429,4600,1,0,11.9
55,8,"Lacy, Eddie",RB,gnb,a,den,8.216667,6200,0,0,11.7
56,8,"Spiller, C.J.",RB,nor,h,nyg,8.466667,3000,0,0,11.6
57,8,"Andrews, Antonio",RB,ten,a,hou,9.175000,3300,1,0,11.2
58,8,"Gordon, Melvin",RB,sdg,a,bal,7.342857,4000,0,0,11.1
59,8,"Forte, Matt",RB,chi,h,min,18.800000,7300,2,0,10.9
60,8,"Riddick, Theo",RB,det,a,kan,11.914286,3400,1,0,10.7
61,8,"Jennings, Rashad",RB,nyg,a,nor,9.200000,3900,1,0,10.5
62,8,"Lynch, Marshawn",RB,sea,a,dal,12.700000,7100,1,0,10.2
63,8,"Gray, Jonas",RB,mia,a,nwe,4.075000,3000,0,0,9.1
64,8,"Johnson, Duke",RB,cle,h,ari,11.557143,4200,1,0,9.1
65,8,"Martin, Doug",RB,tam,a,atl,18.833333,5500,2,0,8.8
66,8,"Forsett, Justin",RB,bal,h,sdg,15.285714,6100,2,0,8.4
67,8,"Blount, LeGarrette",RB,nwe,h,mia,11.820000,4700,1,0,8.4
68,8,"Hill, Jeremy",RB,cin,a,pit,10.816667,5300,1,0,7.8
69,8,"Bell, Le'Veon",RB,pit,h,cin,22.480000,8300,2,0,7.8
70,8,"McCluster, Dexter",RB,ten,a,hou,8.533333,3400,1,0,7.8
71,8,"Sims, Charles",RB,tam,a,atl,11.066667,3600,1,0,7.6
72,8,"Ware, Spencer",RB,kan,h,det,0.800000,3000,0,0,7.2
73,8,"Ivory, Chris",RB,nyj,a,oak,20.300000,6000,2,0,7.1
74,8,"Johnson, David",RB,ari,a,cle,5.292857,3500,0,0,6.8
75,8,"Woodhead, Danny",RB,sdg,a,bal,17.357143,4500,2,0,6.5
76,8,"Mason, Tre",RB,stl,h,sfo,2.450000,3300,0,0,6.2
77,8,"Allen, Javorius",RB,bal,h,sdg,3.228571,3500,0,0,6.1
78,8,"Reece, Marcel",RB,oak,h,nyj,8.900000,3000,1,0,5.6
79,8,"Bell, Joique",RB,det,a,kan,5.700000,3200,0,0,5.6
80,8,"Bernard, Giovani",RB,cin,a,pit,14.600000,4800,2,0,5.4
81,8,"Oliver, Branden",RB,sdg,a,bal,4.228571,3000,0,0,5.4
82,8,"Tolbert, Mike",RB,car,h,ind,5.366667,3000,0,0,5.0
83,8,"Juszczyk, Kyle",RB,bal,h,sdg,5.714286,3000,0,0,4.9
84,8,"Langford, Jeremy",RB,chi,h,min,3.416667,3000,0,0,4.6
85,8,"Gaskins, Kendall",RB,sfo,a,stl,0.000000,0,0,0,4.3
86,8,"Asiata, Matt",RB,min,a,chi,2.800000,3000,0,0,4.1
87,8,"Davis, Mike",RB,sfo,a,stl,1.475000,3000,0,0,3.8
88,8,"Starks, James",RB,gnb,a,den,10.183333,4300,1,0,3.8
89,8,"Robinson, Khiry",RB,nor,h,nyg,9.542857,3000,1,0,3.7
90,8,"Crowell, Isaiah",RB,cle,h,ari,8.757143,3400,1,0,3.6
91,8,"Polk, Chris",RB,hou,h,ten,5.457143,3000,0,0,3.2
92,8,"Grimes, Jonathan",RB,hou,h,ten,4.500000,3000,0,0,3.2
93,8,"Coleman, Tevin",RB,atl,h,tam,4.380000,3600,0,0,3.1
94,8,"Bradshaw, Ahmad",RB,ind,a,car,2.450000,3000,0,0,3.1
95,8,"Stacy, Zac",RB,nyj,a,oak,4.940000,3000,0,0,2.8
96,8,"Darkwa, Orleans",RB,nyg,a,nor,1.542857,3600,0,0,2.3
97,8,"Michael, Christine",RB,dal,h,sea,1.166667,3000,0,0,2.0
98,8,"Jackson, Fred",RB,sea,a,dal,5.814286,3000,0,0,1.9
99,8,"McKinnon, Jerick",RB,min,a,chi,2.116667,3000,0,0,1.8
100,8,"Ward, Terron",RB,atl,h,tam,3.042857,3000,0,0,1.8
101,8,"DiMarco, Patrick",RB,atl,h,tam,1.157143,3000,0,0,1.8
102,8,"Rawls, Thomas",RB,sea,a,dal,7.485714,3500,0,0,1.0
103,8,"Davis, Knile",RB,kan,h,det,2.085714,3500,0,0,0.9
104,8,"Williams, Andre",RB,nyg,a,nor,3.142857,3000,0,0,0.7
105,8,"White, James",RB,nwe,h,mia,3.350000,3000,0,0,0.3
106,8,"Abdullah, Ameer",RB,det,a,kan,8.228571,3900,0,0,0.3
107,8,"Whittaker, Fozzy",RB,car,h,ind,1.916667,3000,0,0,0.3
108,8,"Turbin, Robert",RB,cle,h,ari,4.250000,3000,0,0,0.3
109,8,"Harris, Alonzo",RB,gnb,a,den,0.566667,3000,0,0,0.2
110,8,"Mostert, Raheem",RB,bal,h,sdg,0.000000,3000,0,0,0.0
111,8,"Tukuafu, Will",RB,sea,a,dal,0.000000,3000,0,0,0.0
112,8,"Burton, Michael",RB,det,a,kan,0.442857,3000,0,0,0.0
113,8,"Kuhn, John",RB,gnb,a,den,2.033333,3000,0,0,0.0
114,8,"Burkhead, Rex",RB,cin,a,pit,1.283333,3000,0,0,0.0
115,8,"Miller, Bruce",RB,sfo,a,stl,2.557143,3000,0,0,0.0
116,8,"Line, Zach",RB,min,a,chi,3.266667,3000,0,0,0.0
117,8,"Williams, Damien",RB,mia,a,nwe,3.500000,3000,0,0,0.0
118,8,"Johnson, Will",RB,pit,h,cin,0.957143,3000,0,0,0.0
119,8,"Todman, Jordan",RB,pit,h,cin,0.157143,3000,0,0,0.0
120,8,"Bush, Reggie",RB,sfo,a,stl,2.175000,3200,0,0,0.0
121,8,"Murphy, Marcus",RB,nor,h,nyg,0.857143,3000,0,0,0.0
122,8,"Ellington, Andre",RB,ari,a,cle,10.300000,4300,1,0,0.0
123,8,"Reynolds, Chase",RB,stl,h,sfo,0.000000,3000,0,0,0.0
124,8,"Cunningham, Benny",RB,stl,h,sfo,6.583333,3000,0,0,0.0
125,8,"Taylor, Stepfan",RB,ari,a,cle,0.357143,3000,0,0,0.0
126,8,"Bohanon, Tommy",RB,nyj,a,oak,0.966667,3000,0,0,0.0
127,8,"Sherman, Anthony",RB,kan,h,det,0.471429,3000,0,0,0.0
128,8,"Bolden, Brandon",RB,nwe,h,mia,0.720000,3000,0,0,0.0
129,8,"Rainey, Bobby",RB,tam,a,atl,0.933333,3000,0,0,0.0
130,8,"Lane, Jorvorskie",RB,tam,a,atl,0.000000,3000,0,0,0.0
131,8,"Winn, George",RB,det,a,kan,0.000000,3000,0,0,0.0
132,8,"Nix, Roosevelt",RB,pit,h,cin,0.000000,3000,0,0,0.0
133,8,"Johnson, Austin",RB,nor,h,nyg,1.880000,3000,0,0,0.0
134,8,"Tipton, Zurlon",RB,ind,a,car,0.300000,3000,0,0,0.0
135,8,"Smith, Rod",RB,dal,h,sea,0.500000,3000,0,0,0.0
136,8,"Peerman, Cedric",RB,cin,a,pit,0.000000,3000,0,0,0.0
137,8,"Clutts, Tyler",RB,dal,h,sea,0.233333,3000,0,0,0.0
138,8,"Coleman, Derrick",RB,sea,a,dal,0.240000,3000,0,0,0.0
139,8,"Fowler, Jalston",RB,ten,a,hou,1.683333,3000,0,0,0.0
140,8,"Smith, Antone",RB,chi,h,min,0.000000,3000,0,0,0.0
141,8,"Ripkowski, Aaron",RB,gnb,a,den,0.000000,3000,0,0,0.0
142,8,"Olawale, Jamize",RB,oak,h,nyj,1.775000,3000,0,0,0.0
143,8,"Helu, Roy",RB,oak,h,nyj,3.760000,3000,0,0,0.0
144,8,"Johnson, Malcolm",RB,cle,h,ari,0.628571,3000,0,0,0.0
145,8,"Prosch, Jay",RB,hou,h,ten,0.400000,3000,0,0,0.0
146,8,"Thompson, Juwan",RB,den,h,gnb,0.740000,3000,0,0,-0.1
147,8,"Sankey, Bishop",RB,ten,a,hou,7.200000,3300,0,0,-1.0

In [70]:
X_test.loc[X_test.Pos=='WR']

,Week,Name,Pos,Team,h/a,Oppt,avg_points,DK salary,pred_scoring_pot,act_scoring_pot,act_pts_scored
148,8,"Beckham Jr., Odell",WR,nyg,a,nor,17.814286,8500,2,3,42.0
149,8,"Jones, Julio",WR,atl,h,tam,25.142857,9200,2,3,36.2
150,8,"Green, A.J.",WR,cin,a,pit,18.183333,7600,2,3,31.8
151,8,"Jeffery, Alshon",WR,chi,h,min,22.250000,6400,2,3,30.6
152,8,"Colston, Marques",WR,nor,h,nyg,6.833333,3200,0,2,28.4
153,8,"Thomas, Demaryius",WR,den,h,gnb,18.616667,7700,2,2,27.8
154,8,"Edelman, Julian",WR,nwe,h,mia,20.766667,8100,2,2,27.1
155,8,"Austin, Tavon",WR,stl,h,sfo,13.450000,4600,1,2,26.9
156,8,"Cooks, Brandin",WR,nor,h,nyg,12.628571,5400,1,2,26.5
157,8,"Crabtree, Michael",WR,oak,h,nyj,14.350000,4700,2,2,26.2
158,8,"Floyd, Malcom",WR,sdg,a,bal,7.814286,3500,0,2,25.2
159,8,"Snead, Willie",WR,nor,h,nyg,11.871429,4500,1,2,25.0
160,8,"Floyd, Michael",WR,ari,a,cle,7.042857,3500,0,2,23.6
161,8,"Hopkins, DeAndre",WR,hou,h,ten,25.657143,8700,2,2,23.4
162,8,"Marshall, Brandon",WR,nyj,a,oak,22.133333,7600,2,2,22.8
163,8,"Fitzgerald, Larry",WR,ari,a,cle,21.314286,7700,2,2,22.4
164,8,"Diggs, Stefon",WR,min,a,chi,21.433333,4800,2,2,21.5
165,8,"Holmes, Andre",WR,oak,h,nyj,2.550000,3000,0,1,19.4
166,8,"Hartline, Brian",WR,cle,h,ari,3.857143,3000,0,1,19.2
167,8,"Harris, Dwayne",WR,nyg,a,nor,6.642857,3300,0,1,18.7
168,8,"Johnson, Andre",WR,ind,a,car,7.528571,4000,0,1,18.1
169,8,"Decker, Eric",WR,nyj,a,oak,16.060000,5300,2,1,18.0
170,8,"Washington, Nate",WR,hou,h,ten,14.740000,3600,2,1,17.4
171,8,"Brown, Antonio",WR,pit,h,cin,19.957143,7800,2,1,16.7
172,8,"Brown, Corey",WR,car,h,ind,5.500000,3000,0,0,14.6
173,8,"Allen, Keenan",WR,sdg,a,bal,22.428571,7700,2,0,14.5
174,8,"Johnson, Calvin",WR,det,a,kan,17.200000,7900,2,0,13.5
175,8,"Smith, Steve",WR,bal,h,sdg,21.133333,6100,2,0,13.2
176,8,"Matthews, Rishard",WR,mia,a,nwe,16.633333,4300,2,0,13.2
177,8,"Landry, Jarvis",WR,mia,a,nwe,18.700000,6200,2,0,13.1
178,8,"Maclin, Jeremy",WR,kan,h,det,17.266667,6200,2,0,12.5
179,8,"Thomas, De'Anthony",WR,kan,h,det,3.542857,3000,0,0,12.2
180,8,"Aiken, Kamar",WR,bal,h,sdg,8.157143,4200,0,0,12.2
181,8,"Tate, Golden",WR,det,a,kan,10.314286,5000,1,0,11.9
182,8,"Moore, Lance",WR,det,a,kan,7.971429,3000,0,0,11.9
183,8,"Randle, Rueben",WR,nyg,a,nor,10.557143,4200,1,0,10.5
184,8,"Kerley, Jeremy",WR,nyj,a,oak,4.500000,3000,0,0,10.3
185,8,"Thompkins, Kenbrell",WR,nyj,a,oak,0.000000,3000,0,0,10.1
186,8,"Nelson, J.J.",WR,ari,a,cle,-0.333333,3000,0,0,10.0
187,8,"Cooper, Amari",WR,oak,h,nyj,18.516667,6700,2,0,9.8
188,8,"Whalen, Griff",WR,ind,a,car,1.800000,3000,0,0,9.8
189,8,"Cobb, Randall",WR,gnb,a,den,15.533333,7000,2,0,9.7
190,8,"Bryant, Martavis",WR,pit,h,cin,25.150000,5300,2,0,8.9
191,8,"Stills, Kenny",WR,mia,a,nwe,5.116667,3000,0,0,8.8
192,8,"Givens, Chris",WR,bal,h,sdg,1.900000,3000,0,0,8.7
193,8,"LaFell, Brandon",WR,nwe,h,mia,4.500000,0,0,0,8.7
194,8,"Ginn Jr., Ted",WR,car,h,ind,11.433333,3400,1,0,8.0
195,8,"Evans, Mike",WR,tam,a,atl,13.360000,6800,1,0,7.8
196,8,"Gabriel, Taylor",WR,cle,h,ari,5.171429,3000,0,0,7.2
197,8,"Wright, Kendall",WR,ten,a,hou,13.100000,5100,1,0,6.8
198,8,"Lockett, Tyler",WR,sea,a,dal,7.971429,3000,0,0,6.6
199,8,"Baldwin, Doug",WR,sea,a,dal,10.142857,3500,1,0,6.5
200,8,"Simpson, Jerome",WR,sfo,a,stl,0.000000,3000,0,0,6.4
201,8,"Benjamin, Travis",WR,cle,h,ari,18.071429,5300,2,0,5.6
202,8,"Patton, Quinton",WR,sfo,a,stl,4.442857,3000,0,0,5.3
203,8,"Ross, Jeremy",WR,bal,h,sdg,3.966667,3000,0,0,5.1
204,8,"Brown, Jaron",WR,ari,a,cle,2.300000,3000,0,0,4.9
205,8,"Johnson, Steve",WR,sdg,a,bal,11.900000,3200,1,0,4.8
206,8,"Johnson, Charles",WR,min,a,chi,3.425000,3000,0,0,4.5
207,8,"White, Roddy",WR,atl,h,tam,5.514286,3900,0,0,4.4
208,8,"Humphries, Adam",WR,tam,a,atl,1.700000,0,0,0,4.4
209,8,"Sanders, Emmanuel",WR,den,h,gnb,19.116667,7500,2,0,4.2
210,8,"Wilson, Albert",WR,kan,h,det,6.060000,3000,0,0,4.2
211,8,"Fowler, Bennie",WR,den,h,gnb,2.950000,3000,0,0,4.1
212,8,"Hardy, Justin",WR,atl,h,tam,0.000000,3000,0,0,4.1
213,8,"Williams, Terrance",WR,dal,h,sea,9.883333,4100,1,0,4.0
214,8,"Smith, Torrey",WR,sfo,a,stl,9.042857,4100,1,0,3.9
215,8,"Cotchery, Jerricho",WR,car,h,ind,5.750000,3000,0,0,3.8
216,8,"Moncrief, Donte",WR,ind,a,car,15.014286,5500,2,0,3.8
217,8,"Hunter, Justin",WR,ten,a,hou,5.216667,3000,0,0,3.7
218,8,"Jones, Marvin",WR,cin,a,pit,12.500000,4200,1,0,3.4
219,8,"Caldwell, Andre",WR,den,h,gnb,1.283333,3000,0,0,3.4
220,8,"Bryant, Dez",WR,dal,h,sea,9.800000,8000,1,0,3.2
221,8,"Roberts, Seth",WR,oak,h,nyj,4.766667,3000,0,0,3.1
222,8,"Royal, Eddie",WR,chi,h,min,9.180000,3500,1,0,3.1
223,8,"Sanu, Mohamed",WR,cin,a,pit,7.233333,3200,0,0,3.0
224,8,"Mariani, Marc",WR,chi,h,min,0.000000,3000,0,0,2.9
225,8,"Ellington, Bruce",WR,sfo,a,stl,2.100000,3000,0,0,2.8
226,8,"Hilton, T.Y.",WR,ind,a,car,16.942857,6900,2,0,2.5
227,8,"Coleman, Brandon",WR,nor,h,nyg,4.242857,3000,0,0,2.4
228,8,"Wilson, Marquess",WR,chi,h,min,8.633333,4000,1,0,2.4
229,8,"Green-Beckham, Dorial",WR,ten,a,hou,4.533333,3100,0,0,2.2
230,8,"Weems, Eric",WR,atl,h,tam,0.000000,3000,0,0,2.1
231,8,"Amendola, Danny",WR,nwe,h,mia,11.533333,3600,1,0,2.1
232,8,"Inman, Dontrelle",WR,sdg,a,bal,4.533333,3000,0,0,2.0
233,8,"Wright, Jarius",WR,min,a,chi,5.016667,3000,0,0,1.8
234,8,"Adams, Davante",WR,gnb,a,den,6.066667,3900,0,0,1.8
235,8,"White, Myles",WR,nyg,a,nor,0.000000,3000,0,0,1.8
236,8,"Funchess, Devin",WR,car,h,ind,2.366667,3000,0,0,1.8
237,8,"Conley, Chris",WR,kan,h,det,4.914286,3000,0,0,1.6
238,8,"Quick, Brian",WR,stl,h,sfo,0.666667,3000,0,0,1.5
239,8,"Marquez, Bradley",WR,stl,h,sfo,0.000000,3000,0,0,1.5
240,8,"Wheaton, Markus",WR,pit,h,cin,6.457143,3000,0,0,1.5
241,8,"Dye, Donteea",WR,tam,a,atl,7.700000,3000,0,0,1.4
242,8,"Lockette, Ricardo",WR,sea,a,dal,2.228571,3000,0,0,1.3
243,8,"Mumphery, Keith",WR,hou,h,ten,3.657143,3000,0,0,1.3
244,8,"Jones, James",WR,gnb,a,den,17.066667,5700,2,0,1.2
245,8,"Whitehead, Lucky",WR,dal,h,sea,2.100000,3000,0,0,0.2
246,8,"Moore, Marlon",WR,cle,h,ari,0.416667,3000,0,0,0.0
247,8,"Heyward-Bey, Darrius",WR,pit,h,cin,7.128571,3000,0,0,0.0
248,8,"Britt, Kenny",WR,stl,h,sfo,7.233333,3600,0,0,0.0
249,8,"Golden, Brittan",WR,ari,a,cle,0.000000,3000,0,0,0.0
250,8,"Avant, Jason",WR,kan,h,det,2.228571,3000,0,0,0.0
251,8,"Abbrederis, Jared",WR,gnb,a,den,0.000000,3000,0,0,0.0
252,8,"Kearse, Jermaine",WR,sea,a,dal,8.685714,3400,1,0,0.0
253,8,"Beasley, Cole",WR,dal,h,sea,6.900000,3000,0,0,0.0
254,8,"Patterson, Cordarrelle",WR,min,a,chi,0.650000,3000,0,0,0.0
255,8,"Davis, Geremy",WR,nyg,a,nor,0.585714,3000,0,0,0.0
256,8,"Strong, Jaelen",WR,hou,h,ten,6.933333,3000,0,0,0.0
257,8,"Bailey, Stedman",WR,stl,h,sfo,5.483333,3000,0,0,0.0
258,8,"Tate, Brandon",WR,cin,a,pit,2.083333,3000,0,0,0.0
259,8,"Richardson, Rico",WR,ten,a,hou,0.000000,3000,0,0,0.0
260,8,"Fuller, Corey",WR,det,a,kan,1.350000,3000,0,0,0.0
261,8,"Latimer, Cody",WR,den,h,gnb,0.000000,3000,0,0,0.0
262,8,"Archer, Dri",WR,pit,h,cin,0.000000,3000,0,0,0.0
263,8,"Janis, Jeff",WR,gnb,a,den,1.650000,3300,0,0,0.0
264,8,"Matthews, Chris",WR,sea,a,dal,1.342857,3000,0,0,0.0
265,8,"Bersin, Brenton",WR,car,h,ind,2.925000,3000,0,0,0.0
266,8,"Parker, DeVante",WR,mia,a,nwe,1.483333,3000,0,0,0.0
267,8,"Brown, Marlon",WR,bal,h,sdg,3.371429,3000,0,0,0.0
268,8,"Slater, Matthew",WR,nwe,h,mia,0.000000,3000,0,0,0.0
269,8,"Dobson, Aaron",WR,nwe,h,mia,5.725000,3000,0,0,0.0
270,8,"Bowe, Dwayne",WR,cle,h,ari,0.000000,3000,0,0,0.0
271,8,"Street, Devin",WR,dal,h,sea,2.433333,3000,0,0,0.0
272,8,"Wallace, Mike",WR,min,a,chi,10.200000,4200,1,0,0.0
273,8,"Thielen, Adam",WR,min,a,chi,3.433333,3000,0,0,0.0
274,8,"Bellamy, Josh",WR,chi,h,min,3.483333,3000,0,0,0.0
275,8,"Jones, Jacoby",WR,sdg,a,bal,0.000000,3000,0,0,0.0
276,8,"Jennings, Greg",WR,mia,a,nwe,3.400000,3000,0,0,0.0
277,8,"Shepard, Russell",WR,tam,a,atl,0.533333,3000,0,0,0.0

In [71]:
X_test.loc[X_test.Pos=='TE']

,Week,Name,Pos,Team,h/a,Oppt,avg_points,DK salary,pred_scoring_pot,act_scoring_pot,act_pts_scored
278,8,"Watson, Ben",TE,nor,h,nyg,10.785714,3500,1,3,32.7
279,8,"Tamme, Jacob",TE,atl,h,tam,8.100000,2700,0,2,29.3
280,8,"Gronkowski, Rob",TE,nwe,h,mia,22.050000,8000,2,2,26.3
281,8,"Miller, Heath",TE,pit,h,cin,5.971429,2700,0,2,23.5
282,8,"Olsen, Greg",TE,car,h,ind,15.816667,6500,2,1,19.9
283,8,"Barnidge, Gary",TE,cle,h,ari,17.628571,4700,2,1,18.3
284,8,"Fleener, Coby",TE,ind,a,car,7.357143,2800,0,1,17.3
285,8,"Kelce, Travis",TE,kan,h,det,14.128571,5000,2,1,16.9
286,8,"Niklas, Troy",TE,ari,a,cle,0.328571,2500,0,1,15.2
287,8,"Graham, Jimmy",TE,sea,a,dal,11.928571,5100,1,0,14.5
288,8,"Brate, Cameron",TE,tam,a,atl,1.100000,2500,0,0,12.8
289,8,"Walker, Delanie",TE,ten,a,hou,12.980000,4100,1,0,12.2
290,8,"Willson, Luke",TE,sea,a,dal,2.566667,2500,0,0,12.1
291,8,"Cook, Jared",TE,stl,h,sfo,5.800000,2600,0,0,9.7
292,8,"Gates, Antonio",TE,sdg,a,bal,24.350000,4800,2,0,9.6
293,8,"Green, Virgil",TE,den,h,gnb,2.133333,2500,0,0,9.1
294,8,"Gillmore, Crockett",TE,bal,h,sdg,10.680000,2500,1,0,8.8
295,8,"Davis, Vernon",TE,sfo,a,stl,5.800000,2900,0,0,8.4
296,8,"Eifert, Tyler",TE,cin,a,pit,16.866667,5300,2,0,7.9
297,8,"Daniels, Owen",TE,den,h,gnb,5.750000,2600,0,0,7.4
298,8,"Davis, Kellen",TE,nyj,a,oak,0.000000,2500,0,0,7.1
299,8,"Bennett, Martellus",TE,chi,h,min,12.533333,4900,1,0,6.2
300,8,"Myers, Brandon",TE,tam,a,atl,2.000000,2500,0,0,6.2
301,8,"Cameron, Jordan",TE,mia,a,nwe,7.550000,3300,0,0,5.4
302,8,"Ebron, Eric",TE,det,a,kan,12.960000,3100,1,0,5.4
303,8,"Rudolph, Kyle",TE,min,a,chi,8.050000,3000,0,0,4.2
304,8,"Gresham, Jermaine",TE,ari,a,cle,2.900000,2500,0,0,3.9
305,8,"Rodgers, Richard",TE,gnb,a,den,9.166667,3000,1,0,3.6
306,8,"Witten, Jason",TE,dal,h,sea,13.566667,5200,1,0,3.6
307,8,"Pruitt, MyCole",TE,min,a,chi,0.575000,2500,0,0,3.5
308,8,"Fiedorowicz, C.J.",TE,hou,h,ten,2.771429,2500,0,0,3.5
309,8,"Walford, Clive",TE,oak,h,nyj,3.166667,2600,0,0,3.3
310,8,"Donnell, Larry",TE,nyg,a,nor,8.585714,3300,1,0,3.2
311,8,"Hewitt, Ryan",TE,cin,a,pit,0.433333,2500,0,0,3.2
312,8,"Phillips, John",TE,sdg,a,bal,2.300000,2500,0,0,3.1
313,8,"Kendricks, Lance",TE,stl,h,sfo,4.300000,2500,0,0,2.7
314,8,"Boyle, Nick",TE,bal,h,sdg,2.828571,2500,0,0,2.5
315,8,"McDonald, Vance",TE,sfo,a,stl,1.533333,2500,0,0,2.3
316,8,"Green, Ladarius",TE,sdg,a,bal,14.066667,3000,2,0,2.0
317,8,"Fasano, Anthony",TE,ten,a,hou,5.500000,2500,0,0,1.9
318,8,"Chandler, Scott",TE,nwe,h,mia,4.700000,2500,0,0,1.9
319,8,"Stevens, Craig",TE,ten,a,hou,1.383333,2500,0,0,1.9
320,8,"Cumberland, Jeff",TE,nyj,a,oak,1.120000,2500,0,0,1.7
321,8,"Tye, Will",TE,nyg,a,nor,4.333333,2500,0,0,1.7
322,8,"Toilolo, Levine",TE,atl,h,tam,1.257143,2500,0,0,1.7
323,8,"Perillo, Justin",TE,gnb,a,den,3.100000,2500,0,0,1.6
324,8,"Sims, Dion",TE,mia,a,nwe,4.666667,2500,0,0,1.6
325,8,"Smith, Lee",TE,oak,h,nyj,1.483333,2500,0,0,1.6
326,8,"Hill, Josh",TE,nor,h,nyg,2.728571,2500,0,0,1.5
327,8,"Spaeth, Matt",TE,pit,h,cin,0.000000,2500,0,0,1.4
328,8,"Allen, Dwayne",TE,ind,a,car,4.220000,2500,0,0,1.4
329,8,"Hanna, James",TE,dal,h,sea,0.825000,2500,0,0,1.0
330,8,"Celek, Garrett",TE,sfo,a,stl,4.985714,2500,0,0,0.0
331,8,"Harris, Clark",TE,cin,a,pit,0.000000,2500,0,0,0.0
332,8,"Doyle, Jack",TE,ind,a,car,1.414286,2500,0,0,0.0
333,8,"Lee, Khari",TE,chi,h,min,0.000000,2500,0,0,0.0
334,8,"Williams, Michael",TE,nwe,h,mia,0.780000,2500,0,0,0.0
335,8,"Miller, Zach",TE,chi,h,min,1.083333,2500,0,0,0.0
336,8,"Supernaw, Phillip",TE,ten,a,hou,0.000000,2500,0,0,0.0
337,8,"Harris, Demetrius",TE,kan,h,det,0.500000,2500,0,0,0.0
338,8,"Escobar, Gavin",TE,dal,h,sea,1.900000,2500,0,0,0.0
339,8,"Pettigrew, Brandon",TE,det,a,kan,2.950000,2500,0,0,0.0
340,8,"Moeaki, Tony",TE,atl,h,tam,1.050000,2500,0,0,0.0
341,8,"Rivera, Mychal",TE,oak,h,nyj,3.083333,2500,0,0,0.0
342,8,"Dickson, Ed",TE,car,h,ind,3.216667,2500,0,0,0.0
343,8,"Kroft, Tyler",TE,cin,a,pit,0.000000,2500,0,0,0.0
344,8,"Hoomanawanui, Michael",TE,nor,h,nyg,3.100000,2500,0,0,0.0
345,8,"Stocker, Luke",TE,tam,a,atl,1.300000,2500,0,0,0.0
346,8,"Harkey, Cory",TE,stl,h,sfo,0.466667,2500,0,0,0.0
347,8,"Graham, Garrett",TE,hou,h,ten,1.857143,2500,0,0,0.0
348,8,"Dray, Jim",TE,cle,h,ari,1.000000,2500,0,0,0.0
349,8,"Williams, Brandon",TE,mia,a,nwe,0.000000,2500,0,0,0.0
350,8,"Williams, Maxx",TE,bal,h,sdg,3.800000,2500,0,0,0.0
351,8,"Johnson, David",TE,sdg,a,bal,5.292857,2500,0,0,0.0

In [72]:
X_test.loc[X_test.Pos=='Def']

,Week,Name,Pos,Team,h/a,Oppt,avg_points,DK salary,pred_scoring_pot,act_scoring_pot,act_pts_scored
352,8,Houston Defense,Def,hou,h,ten,4.285714,3100,0,2,20.0
353,8,New England Defense,Def,nwe,h,mia,7.666667,3000,0,1,15.0
354,8,Kansas City Defense,Def,kan,h,det,6.285714,2800,0,0,14.0
355,8,Cincinnati Defense,Def,cin,a,pit,7.000000,3000,0,0,13.0
356,8,St. Louis Defense,Def,stl,h,sfo,12.166667,3200,1,0,12.0
357,8,Tampa Bay Defense,Def,tam,a,atl,7.166667,2300,0,0,10.0
358,8,Carolina Defense,Def,car,h,ind,10.000000,3200,1,0,10.0
359,8,Pittsburgh Defense,Def,pit,h,cin,7.857143,2600,0,0,10.0
360,8,Denver Defense,Def,den,h,gnb,17.000000,2900,2,0,9.0
361,8,Dallas Defense,Def,dal,h,sea,4.500000,2700,0,0,8.0
362,8,Cleveland Defense,Def,cle,h,ari,6.000000,2000,0,0,8.0
363,8,Minnesota Defense,Def,min,a,chi,8.500000,3100,1,0,8.0
364,8,Indianapolis Defense,Def,ind,a,car,5.714286,2100,0,0,7.0
365,8,Oakland Defense,Def,oak,h,nyj,6.500000,2200,0,0,6.0
366,8,Arizona Defense,Def,ari,a,cle,10.714286,4000,1,0,6.0
367,8,New York G Defense,Def,nyg,a,nor,9.857143,2700,1,0,6.0
368,8,Seattle Defense,Def,sea,a,dal,12.000000,3700,1,0,5.0
369,8,San Francisco Defense,Def,sfo,a,stl,4.571429,2100,0,0,4.0
370,8,Tennessee Defense,Def,ten,a,hou,7.000000,2500,0,0,4.0
371,8,Chicago Defense,Def,chi,h,min,3.833333,2400,0,0,3.0
372,8,Baltimore Defense,Def,bal,h,sdg,5.857143,3000,0,0,3.0
373,8,Atlanta Defense,Def,atl,h,tam,7.714286,3400,0,0,2.0
374,8,Green Bay Defense,Def,gnb,a,den,10.500000,3300,1,0,2.0
375,8,San Diego Defense,Def,sdg,a,bal,3.285714,2200,0,0,2.0
376,8,New Orleans Defense,Def,nor,h,nyg,6.857143,2000,0,0,1.0
377,8,Miami Defense,Def,mia,a,nwe,8.166667,2700,0,0,1.0
378,8,New York J Defense,Def,nyj,a,oak,8.333333,2900,0,0,-1.0
379,8,Detroit Defense,Def,det,a,kan,7.142857,2600,0,0,-1.0

## Some observations...

The algorithm, so far, is pretty decent at picking everything except for defenses. So that'll need to be re-examined later, but for now, we'll just use whatever it gives us.

In [73]:
X_test.loc[X_test.pred_scoring_pot>1]

,Week,Name,Pos,Team,h/a,Oppt,avg_points,DK salary,pred_scoring_pot,act_scoring_pot,act_pts_scored
0,8,"Brees, Drew",QB,nor,h,nyg,18.000000,6700,2,3,49.30
1,8,"Manning, Eli",QB,nyg,a,nor,16.000000,6600,2,3,41.00
2,8,"Palmer, Carson",QB,ari,a,cle,21.000000,7000,2,3,33.56
3,8,"Brady, Tom",QB,nwe,h,mia,28.000000,8300,2,3,33.34
4,8,"Carr, Derek",QB,oak,h,nyj,17.000000,5300,2,3,32.12
5,8,"Smith, Alex",QB,kan,h,det,16.000000,5000,2,2,27.60
6,8,"Rivers, Philip",QB,sdg,a,bal,24.000000,6600,2,2,27.04
7,8,"Flacco, Joe",QB,bal,h,sdg,17.000000,5500,2,2,25.96
8,8,"Ryan, Matt",QB,atl,h,tam,16.000000,7100,2,2,25.08
10,8,"McCown, Josh",QB,cle,h,ari,19.540000,5000,2,2,20.24
11,8,"Newton, Cam",QB,car,h,ind,21.750000,6800,2,2,20.02
12,8,"Cutler, Jay",QB,chi,h,min,17.088000,5200,2,1,19.54
13,8,"Winston, Jameis",QB,tam,a,atl,16.923333,5200,2,1,19.48
14,8,"Luck, Andrew",QB,ind,a,car,22.124000,7400,2,1,17.74
15,8,"Hoyer, Brian",QB,hou,h,ten,19.748000,5300,2,1,17.30
17,8,"Wilson, Russell",QB,sea,a,dal,16.974286,6300,2,0,14.60
19,8,"Tannehill, Ryan",QB,mia,a,nwe,19.753333,5600,2,0,12.90
20,8,"Bridgewater, Teddy",QB,min,a,chi,13.676667,5100,2,0,12.58
21,8,"Dalton, Andy",QB,cin,a,pit,24.956667,6000,2,0,11.64
22,8,"Roethlisberger, Ben",QB,pit,h,cin,20.793333,6700,2,0,11.48
23,8,"Stafford, Matthew",QB,det,a,kan,17.462857,5800,2,0,11.18
24,8,"Kaepernick, Colin",QB,sfo,a,stl,16.131429,5000,2,0,9.28
26,8,"Rodgers, Aaron",QB,gnb,a,den,22.940000,7500,2,0,6.18
28,8,"Fitzpatrick, Ryan",QB,nyj,a,oak,18.680000,5200,2,0,3.04
37,8,"Gurley, Todd",RB,stl,h,sfo,19.425000,6300,2,2,26.60
38,8,"Lewis, Dion",RB,nwe,h,mia,17.740000,6400,2,2,23.20
42,8,"Freeman, Devonta",RB,atl,h,tam,28.442857,8000,2,1,19.10
45,8,"Murray, Latavius",RB,oak,h,nyj,15.000000,5900,2,1,15.90
46,8,"Peterson, Adrian",RB,min,a,chi,16.516667,7400,2,1,15.90
47,8,"Ingram, Mark",RB,nor,h,nyg,18.500000,6400,2,1,15.90
49,8,"Miller, Lamar",RB,mia,a,nwe,16.033333,4700,2,0,14.40
59,8,"Forte, Matt",RB,chi,h,min,18.800000,7300,2,0,10.90
65,8,"Martin, Doug",RB,tam,a,atl,18.833333,5500,2,0,8.80
66,8,"Forsett, Justin",RB,bal,h,sdg,15.285714,6100,2,0,8.40
69,8,"Bell, Le'Veon",RB,pit,h,cin,22.480000,8300,2,0,7.80
73,8,"Ivory, Chris",RB,nyj,a,oak,20.300000,6000,2,0,7.10
75,8,"Woodhead, Danny",RB,sdg,a,bal,17.357143,4500,2,0,6.50
80,8,"Bernard, Giovani",RB,cin,a,pit,14.600000,4800,2,0,5.40
148,8,"Beckham Jr., Odell",WR,nyg,a,nor,17.814286,8500,2,3,42.00
149,8,"Jones, Julio",WR,atl,h,tam,25.142857,9200,2,3,36.20
150,8,"Green, A.J.",WR,cin,a,pit,18.183333,7600,2,3,31.80
151,8,"Jeffery, Alshon",WR,chi,h,min,22.250000,6400,2,3,30.60
153,8,"Thomas, Demaryius",WR,den,h,gnb,18.616667,7700,2,2,27.80
154,8,"Edelman, Julian",WR,nwe,h,mia,20.766667,8100,2,2,27.10
157,8,"Crabtree, Michael",WR,oak,h,nyj,14.350000,4700,2,2,26.20
161,8,"Hopkins, DeAndre",WR,hou,h,ten,25.657143,8700,2,2,23.40
162,8,"Marshall, Brandon",WR,nyj,a,oak,22.133333,7600,2,2,22.80
163,8,"Fitzgerald, Larry",WR,ari,a,cle,21.314286,7700,2,2,22.40
164,8,"Diggs, Stefon",WR,min,a,chi,21.433333,4800,2,2,21.50
169,8,"Decker, Eric",WR,nyj,a,oak,16.060000,5300,2,1,18.00
170,8,"Washington, Nate",WR,hou,h,ten,14.740000,3600,2,1,17.40
171,8,"Brown, Antonio",WR,pit,h,cin,19.957143,7800,2,1,16.70
173,8,"Allen, Keenan",WR,sdg,a,bal,22.428571,7700,2,0,14.50
174,8,"Johnson, Calvin",WR,det,a,kan,17.200000,7900,2,0,13.50
175,8,"Smith, Steve",WR,bal,h,sdg,21.133333,6100,2,0,13.20
176,8,"Matthews, Rishard",WR,mia,a,nwe,16.633333,4300,2,0,13.20
177,8,"Landry, Jarvis",WR,mia,a,nwe,18.700000,6200,2,0,13.10
178,8,"Maclin, Jeremy",WR,kan,h,det,17.266667,6200,2,0,12.50
187,8,"Cooper, Amari",WR,oak,h,nyj,18.516667,6700,2,0,9.80
189,8,"Cobb, Randall",WR,gnb,a,den,15.533333,7000,2,0,9.70
190,8,"Bryant, Martavis",WR,pit,h,cin,25.150000,5300,2,0,8.90
201,8,"Benjamin, Travis",WR,cle,h,ari,18.071429,5300,2,0,5.60
209,8,"Sanders, Emmanuel",WR,den,h,gnb,19.116667,7500,2,0,4.20
216,8,"Moncrief, Donte",WR,ind,a,car,15.014286,5500,2,0,3.80
226,8,"Hilton, T.Y.",WR,ind,a,car,16.942857,6900,2,0,2.50
244,8,"Jones, James",WR,gnb,a,den,17.066667,5700,2,0,1.20
280,8,"Gronkowski, Rob",TE,nwe,h,mia,22.050000,8000,2,2,26.30
282,8,"Olsen, Greg",TE,car,h,ind,15.816667,6500,2,1,19.90
283,8,"Barnidge, Gary",TE,cle,h,ari,17.628571,4700,2,1,18.30
285,8,"Kelce, Travis",TE,kan,h,det,14.128571,5000,2,1,16.90
292,8,"Gates, Antonio",TE,sdg,a,bal,24.350000,4800,2,0,9.60
296,8,"Eifert, Tyler",TE,cin,a,pit,16.866667,5300,2,0,7.90
316,8,"Green, Ladarius",TE,sdg,a,bal,14.066667,3000,2,0,2.00
360,8,Denver Defense,Def,den,h,gnb,17.000000,2900,2,0,9.00

## Build some lineups

<a id="lineup_builder"></a>

In [74]:
class Lineup:
    """ 
    takes the results of the model prediction (dataframe 
    with attached predictions) and builds out a few lineups 
    """
    def __init__(self, df):
        self.df = df
        self.current_salary = 0
        self.no_duplicates = False
        self.top_5_lineups = []
        self.qbs = []
        self.rbs = []
        self.wrs = []
        self.tes = []
        self.flex = []
        self.defs = []
    
    def find_top_10(self, position):
        arr = []
        end_of_range = 0
        if position == 'Flex':
            position_df = self.df.loc[(self.df['Pos']=='RB')|(self.df['Pos']=='TE')|(self.df['Pos']=='WR')]
        else:
            position_df = self.df.loc[self.df['Pos']==position]
        if position == 'Def':
            position_df = position_df.sort_values(by='avg_points', ascending=False)
            end_of_range = 11
        else:
            position_df = position_df.sort_values(by='pred_scoring_pot', ascending=False)
            end_of_range = 21
        # print(position_df)
        for row in range(0,end_of_range):
            player = {
                'name': position_df.iloc[row]['Name'],
                'team': position_df.iloc[row]['Team'],
                'h/a': position_df.iloc[row]['h/a'],
                'pos': position_df.iloc[row]['Pos'],
                'salary': position_df.iloc[row]['DK salary'],
                'avg_points': position_df.iloc[row]['avg_points'],
                'scoring_pot': position_df.iloc[row]['pred_scoring_pot'],
                'act_pts':position_df.iloc[row]['act_pts_scored']
            }
            if len(arr) < 20:
                arr.append(player)
            else: 
                break
        return arr
    
    def get_players(self):
        top_10_qbs = self.find_top_10(position='QB')
        top_10_rbs = self.find_top_10(position='RB')
        top_10_wrs = self.find_top_10(position='WR')
        top_10_tes = self.find_top_10(position='TE')
        top_10_flex = self.find_top_10(position='Flex')
        top_10_defs = self.find_top_10(position='Def')
        return top_10_qbs, top_10_rbs, top_10_wrs, top_10_tes, top_10_flex, top_10_defs
    
    def check_salary(self, lineup):
        current_salary = 0
        for keys in lineup.keys():
            current_salary += lineup[keys]['salary']
        return current_salary
    
    def check_duplicates(self, lineup):
        rb1_name = lineup['RB1']['name']
        rb2_name = lineup['RB2']['name']
        flex_name = lineup['Flex']['name']
        wr1_name = lineup['WR1']['name']
        wr2_name = lineup['WR2']['name']
        wr3_name = lineup['WR3']['name']
        te_name = lineup['TE']['name']
        names = [flex_name, rb1_name, rb2_name, wr1_name, wr2_name, wr3_name, te_name ]
        while len(names) > 1:
            if names[0] in names[1:-1]:
                return False
            else:
                names.pop(0)   
        return True
    
    def shuffle_players(self):
        lineup = {
            'QB': self.qbs[random.randrange(20)],
            'RB1': self.rbs[random.randrange(20)],
            'RB2': self.rbs[random.randrange(20)],
            'WR1': self.wrs[random.randrange(20)],
            'WR2': self.wrs[random.randrange(20)],
            'WR3': self.wrs[random.randrange(20)],
            'TE': self.tes[random.randrange(15)],
            'Flex': self.flex[random.randrange(20)],
            'Def': self.defs[random.randrange(10)]
        }
        return lineup
    
    def build_lineup(self):
        self.current_salary = 100*1000
        self.no_duplicates = False
        self.qbs, self.rbs, self.wrs, self.tes, self.flex, self.defs = self.get_players()
        lineup = {
            'QB': self.qbs[0],
            'RB1': self.rbs[0],
            'RB2': self.rbs[1],
            'WR1': self.wrs[0],
            'WR2': self.wrs[1],
            'WR3': self.wrs[2],
            'TE': self.tes[0],
            'Flex': self.flex[9], # started at the end of flex to avoid duplicating players
            'Def': self.defs[0]
        }
        # in theory, because of the legwork done by the algorithm,
        # any lineup should be good as long as it abides by the
        # constraints of DraftKings' team structures. So for
        # now, this will just give us the first 5 lineups that
        # fit within the salary cap and meet the other requirements
        
        while True:
            if self.current_salary < 50*1000 and self.current_salary > 48.5*1000 and self.no_duplicates:
                break
            lineup = self.shuffle_players()
            self.current_salary = self.check_salary(lineup)
            # make sure there are no duplicates
            self.no_duplicates = self.check_duplicates(lineup)
        
        self.top_5_lineups.append(lineup)
    
lineup = Lineup(X_test)

In [75]:
for x in range (0,1000):
    lineup.build_lineup()

In [76]:
trash_count = 0
for line in lineup.top_5_lineups:
    lineup_df = pd.DataFrame.from_dict(line)
    if lineup_df.T['act_pts'].sum() < 160:
        trash_count += 1
        continue
    print(lineup_df.T)
    print('======================')
    print("Salary: " + str(lineup_df.T['salary'].sum()))
    print('======================')
    print("Pts: " + str(lineup_df.T['act_pts'].sum()))
    print('======================')
    print('======================')
    print('======================')
print("trash_count: " + str(trash_count))

                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Flacco, Joe  bal   h   QB   5500         17           2   25.96
RB1     Freeman, Devonta  atl   h   RB   8000    28.4429           2    19.1
RB2          Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
WR1     Washington, Nate  hou   h   WR   3600      14.74           2    17.4
WR2        Diggs, Stefon  min   a   WR   4800    21.4333           2    21.5
WR3          Green, A.J.  cin   a   WR   7600    18.1833           2    31.8
TE        Gates, Antonio  sdg   a   TE   4800      24.35           2     9.6
Flex      Maclin, Jeremy  kan   h   WR   6200    17.2667           2    12.5
Def   New York G Defense  nyg   a  Def   2700    9.85714           1       6
======================
Salary: 49600
======================
Pts: 167.06
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB          Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1       Sims, Charles  tam   a   RB   3600    11.0667           1     7.6
RB2   McCluster, Dexter  ten   a   RB   3400    8.53333           1     7.8
WR1         Green, A.J.  cin   a   WR   7600    18.1833           2    31.8
WR2        Smith, Steve  bal   h   WR   6100    21.1333           2    13.2
WR3       Cobb, Randall  gnb   a   WR   7000    15.5333           2     9.7
TE      Gronkowski, Rob  nwe   h   TE   8000      22.05           2    26.3
Flex   Washington, Nate  hou   h   WR   3600      14.74           2    17.4
Def    Carolina Defense  car   h  Def   3200         10           1      10
======================
Salary: 49200
======================
Pts: 173.10000000000002
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB            Ryan, Matt  atl   h   QB   7100         16           2   25.08
RB1        Miller, Lamar  mia   a   RB   4700    16.0333           2    14.4
RB2         Hill, Jeremy  cin   a   RB   5300    10.8167           1     7.8
WR1   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
WR2         Smith, Steve  bal   h   WR   6100    21.1333           2    13.2
WR3         Decker, Eric  nyj   a   WR   5300      16.06           2      18
TE           Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex        Ivory, Chris  nyj   a   RB   6000       20.3           2     7.1
Def       Denver Defense  den   h  Def   2900         17           2       9
======================
Salary: 49400
======================
Pts: 169.28
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB          Manning, Eli  nyg   a   QB   6600         16           2      41
RB1      Woodhead, Danny  sdg   a   RB   4500    17.3571           2     6.5
RB2    McCluster, Dexter  ten   a   RB   3400    8.53333           1     7.8
WR1        Cooper, Amari  oak   h   WR   6700    18.5167           2     9.8
WR2         Smith, Steve  bal   h   WR   6100    21.1333           2    13.2
WR3         Jones, Julio  atl   h   WR   9200    25.1429           2    36.2
TE           Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex        Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
Def   New York G Defense  nyg   a  Def   2700    9.85714           1       6
======================
Salary: 49000
======================
Pts: 179.79999999999998
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1        Bell, Le'Veon  pit   h   RB   8300      22.48           2     7.8
RB2    McCluster, Dexter  ten   a   RB   3400    8.53333           1     7.8
WR1    Sanders, Emmanuel  den   h   WR   7500    19.1167           2     4.2
WR2   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
WR3    Matthews, Rishard  mia   a   WR   4300    16.6333           2    13.2
TE           Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex    Washington, Nate  hou   h   WR   3600      14.74           2    17.4
Def   New York J Defense  nyj   a  Def   2900    8.33333           0      -1
======================
Salary: 48700
======================
Pts: 173.4
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB      Wilson, Russell  sea   a   QB   6300    16.9743           2    14.6
RB1         Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
RB2        Ingram, Mark  nor   h   RB   6400       18.5           2    15.9
WR1       Diggs, Stefon  min   a   WR   4800    21.4333           2    21.5
WR2       Cooper, Amari  oak   h   WR   6700    18.5167           2     9.8
WR3      Landry, Jarvis  mia   a   WR   6200       18.7           2    13.1
TE          Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex       Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
Def   St. Louis Defense  stl   h  Def   3200    12.1667           1      12
======================
Salary: 49800
======================
Pts: 169.39999999999998
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Flacco, Joe  bal   h   QB   5500         17           2   25.96
RB1         Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
RB2        Sims, Charles  tam   a   RB   3600    11.0667           1     7.6
WR1   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
WR2         Decker, Eric  nyj   a   WR   5300      16.06           2      18
WR3       Landry, Jarvis  mia   a   WR   6200       18.7           2    13.1
TE    Gillmore, Crockett  bal   h   TE   2500      10.68           1     8.8
Flex      Brown, Antonio  pit   h   WR   7800    19.9571           2    16.7
Def    Green Bay Defense  gnb   a  Def   3300       10.5           1       2
======================
Salary: 49000
======================
Pts: 160.76
======================
======================
======================
                  name team h/a  pos salary avg_points scoring_pot act_pts
QB         Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1      Miller, Lamar  mia   a   RB   4700    16.0333           2    14.4
RB2        Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
WR1       Decker, Eric  nyj   a   WR   5300      16.06           2      18
WR2        Green, A.J.  cin   a   WR   7600    18.1833           2    31.8
WR3    Johnson, Calvin  det   a   WR   7900       17.2           2    13.5
TE     Green, Ladarius  sdg   a   TE   3000    14.0667           2       2
Flex  Benjamin, Travis  cle   h   WR   5300    18.0714           2     5.6
Def     Denver Defense  den   h  Def   2900         17           2       9
======================
Salary: 49800
======================
Pts: 166.79999999999998
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB          Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1         Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
RB2        Ivory, Chris  nyj   a   RB   6000       20.3           2     7.1
WR1       Diggs, Stefon  min   a   WR   4800    21.4333           2    21.5
WR2   Matthews, Rishard  mia   a   WR   4300    16.6333           2    13.2
WR3   Fitzgerald, Larry  ari   a   WR   7700    21.3143           2    22.4
TE          Olsen, Greg  car   h   TE   6500    15.8167           2    19.9
Flex   Washington, Nate  hou   h   WR   3600      14.74           2    17.4
Def       Miami Defense  mia   a  Def   2700    8.16667           0       1
======================
Salary: 48700
======================
Pts: 175.0
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB          Hoyer, Brian  hou   h   QB   5300     19.748           2    17.3
RB1     Freeman, Devonta  atl   h   RB   8000    28.4429           2    19.1
RB2          Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
WR1   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
WR2     Washington, Nate  hou   h   WR   3600      14.74           2    17.4
WR3         Decker, Eric  nyj   a   WR   5300      16.06           2      18
TE         Kelce, Travis  kan   h   TE   5000    14.1286           2    16.9
Flex    Bernard, Giovani  cin   a   RB   4800       14.6           2     5.4
Def       Denver Defense  den   h  Def   2900         17           2       9
======================
Salary: 49800
======================
Pts: 168.3
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB       Rivers, Philip  sdg   a   QB   6600         24           2   27.04
RB1        Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
RB2     Forsett, Justin  bal   h   RB   6100    15.2857           2     8.4
WR1   Matthews, Rishard  mia   a   WR   4300    16.6333           2    13.2
WR2       Diggs, Stefon  min   a   WR   4800    21.4333           2    21.5
WR3        Jones, Julio  atl   h   WR   9200    25.1429           2    36.2
TE          Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex   Bryant, Martavis  pit   h   WR   5300      25.15           2     8.9
Def   St. Louis Defense  stl   h  Def   3200    12.1667           1      12
======================
Salary: 49300
======================
Pts: 186.54
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB          Manning, Eli  nyg   a   QB   6600         16           2      41
RB1          Forte, Matt  chi   h   RB   7300       18.8           2    10.9
RB2     Ellington, Andre  ari   a   RB   4300       10.3           1       0
WR1   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
WR2         Decker, Eric  nyj   a   WR   5300      16.06           2      18
WR3     Bryant, Martavis  pit   h   WR   5300      25.15           2     8.9
TE           Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex        Smith, Steve  bal   h   WR   6100    21.1333           2    13.2
Def   New York G Defense  nyg   a  Def   2700    9.85714           1       6
======================
Salary: 49600
======================
Pts: 172.7
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB          Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1        Hill, Jeremy  cin   a   RB   5300    10.8167           1     7.8
RB2        Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
WR1       Cooper, Amari  oak   h   WR   6700    18.5167           2     9.8
WR2    Benjamin, Travis  cle   h   WR   5300    18.0714           2     5.6
WR3        Decker, Eric  nyj   a   WR   5300      16.06           2      18
TE          Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex  Sanders, Emmanuel  den   h   WR   7500    19.1167           2     4.2

Def   St. Louis Defense  stl   h  Def   3200    12.1667           1      12
======================
Salary: 49800
======================
Pts: 165.99999999999997
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1        Miller, Lamar  mia   a   RB   4700    16.0333           2    14.4
RB2    McCluster, Dexter  ten   a   RB   3400    8.53333           1     7.8
WR1    Fitzgerald, Larry  ari   a   WR   7700    21.3143           2    22.4
WR2       Brown, Antonio  pit   h   WR   7800    19.9571           2    16.7
WR3   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
TE       Green, Ladarius  sdg   a   TE   3000    14.0667           2       2
Flex    Bryant, Martavis  pit   h   WR   5300      25.15           2     8.9
Def   New York G Defense  nyg   a  Def   2700    9.85714           1       6
======================
Salary: 49800
======================
Pts: 169.50000000000003
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB       Winston, Jameis  tam   a   QB   5200    16.9233           2   19.48
RB1          Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
RB2     Murray, Latavius  oak   h   RB   5900         15           2    15.9
WR1     Bryant, Martavis  pit   h   WR   5300      25.15           2     8.9
WR2         Smith, Steve  bal   h   WR   6100    21.1333           2    13.2
WR3   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
TE           Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex     Moncrief, Donte  ind   a   WR   5500    15.0143           2     3.8
Def     Carolina Defense  car   h  Def   3200         10           1      10
======================
Salary: 49600
======================
Pts: 169.18
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1         Ingram, Mark  nor   h   RB   6400       18.5           2    15.9
RB2      Forsett, Justin  bal   h   RB   6100    15.2857           2     8.4
WR1        Allen, Keenan  sdg   a   WR   7700    22.4286           2    14.5
WR2      Moncrief, Donte  ind   a   WR   5500    15.0143           2     3.8
WR3    Matthews, Rishard  mia   a   WR   4300    16.6333           2    13.2
TE           Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex         Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
Def   New York G Defense  nyg   a  Def   2700    9.85714           1       6
======================
Salary: 49300
======================
Pts: 167.0
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1        Reece, Marcel  oak   h   RB   3000        8.9           1     5.6
RB2     Bernard, Giovani  cin   a   RB   4800       14.6           2     5.4
WR1         Decker, Eric  nyj   a   WR   5300      16.06           2      18
WR2   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
WR3        Cooper, Amari  oak   h   WR   6700    18.5167           2     9.8
TE         Kelce, Travis  kan   h   TE   5000    14.1286           2    16.9
Flex       Cobb, Randall  gnb   a   WR   7000    15.5333           2     9.7
Def   New York G Defense  nyg   a  Def   2700    9.85714           1       6
======================
Salary: 49700
======================
Pts: 162.7
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1      Lynch, Marshawn  sea   a   RB   7100       12.7           1    10.2
RB2     Bernard, Giovani  cin   a   RB   4800       14.6           2     5.4
WR1   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
WR2         Decker, Eric  nyj   a   WR   5300      16.06           2      18
WR3     Bryant, Martavis  pit   h   WR   5300      25.15           2     8.9
TE        Gates, Antonio  sdg   a   TE   4800      24.35           2     9.6
Flex    Washington, Nate  hou   h   WR   3600      14.74           2    17.4
Def        Miami Defense  mia   a  Def   2700    8.16667           0       1
======================
Salary: 48800
======================
Pts: 161.8
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB          Flacco, Joe  bal   h   QB   5500         17           2   25.96
RB1        Hill, Jeremy  cin   a   RB   5300    10.8167           1     7.8
RB2         Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
WR1   Sanders, Emmanuel  den   h   WR   7500    19.1167           2     4.2
WR2         Green, A.J.  cin   a   WR   7600    18.1833           2    31.8
WR3   Matthews, Rishard  mia   a   WR   4300    16.6333           2    13.2
TE          Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex       Smith, Steve  bal   h   WR   6100    21.1333           2    13.2
Def   St. Louis Defense  stl   h  Def   3200    12.1667           1      12
======================
Salary: 49400
======================
Pts: 164.06
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB         McCown, Josh  cle   h   QB   5000      19.54           2   20.24
RB1       Miller, Lamar  mia   a   RB   4700    16.0333           2    14.4
RB2     Forsett, Justin  bal   h   RB   6100    15.2857           2     8.4
WR1      Landry, Jarvis  mia   a   WR   6200       18.7           2    13.1
WR2         Green, A.J.  cin   a   WR   7600    18.1833           2    31.8
WR3   Fitzgerald, Larry  ari   a   WR   7700    21.3143           2    22.4
TE          Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex       Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
Def       Miami Defense  mia   a  Def   2700    8.16667           0       1
======================
Salary: 49800
======================
Pts: 170.64000000000001
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1        Reece, Marcel  oak   h   RB   3000        8.9           1     5.6
RB2        Sims, Charles  tam   a   RB   3600    11.0667           1     7.6
WR1      Johnson, Calvin  det   a   WR   7900       17.2           2    13.5
WR2   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
WR3       Landry, Jarvis  mia   a   WR   6200       18.7           2    13.1
TE           Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex       Cobb, Randall  gnb   a   WR   7000    15.5333           2     9.7
Def    Green Bay Defense  gnb   a  Def   3300       10.5           1       2
======================
Salary: 49700
======================
Pts: 175.5
======================
======================
======================
                    name team h/a  pos salary avg_points scoring_pot act_pts
QB           Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1     Bernard, Giovani  cin   a   RB   4800       14.6           2     5.4
RB2         Ingram, Mark  nor   h   RB   6400       18.5           2    15.9
WR1    Fitzgerald, Larry  ari   a   WR   7700    21.3143           2    22.4
WR2     Washington, Nate  hou   h   WR   3600      14.74           2    17.4
WR3   Beckham Jr., Odell  nyg   a   WR   8500    17.8143           2      42
TE           Ebron, Eric  det   a   TE   3100      12.96           1     5.4
Flex    Bryant, Martavis  pit   h   WR   5300      25.15           2     8.9
Def       Denver Defense  den   h  Def   2900         17           2       9
======================
Salary: 49000
======================
Pts: 175.70000000000002
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB         Hoyer, Brian  hou   h   QB   5300     19.748           2    17.3
RB1        Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
RB2         Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
WR1      Maclin, Jeremy  kan   h   WR   6200    17.2667           2    12.5
WR2    Washington, Nate  hou   h   WR   3600      14.74           2    17.4
WR3   Fitzgerald, Larry  ari   a   WR   7700    21.3143           2    22.4
TE          Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex     Brown, Antonio  pit   h   WR   7800    19.9571           2    16.7
Def      Denver Defense  den   h  Def   2900         17           2       9
======================
Salary: 49700
======================
Pts: 177.8
======================
======================
======================

                  name team h/a  pos salary avg_points scoring_pot act_pts
QB        McCown, Josh  cle   h   QB   5000      19.54           2   20.24
RB1        Lewis, Dion  nwe   h   RB   6400      17.74           2    23.2
RB2       Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
WR1      Allen, Keenan  sdg   a   WR   7700    22.4286           2    14.5
WR2        Green, A.J.  cin   a   WR   7600    18.1833           2    31.8
WR3       Decker, Eric  nyj   a   WR   5300      16.06           2      18
TE         Watson, Ben  nor   h   TE   3500    10.7857           1    32.7
Flex  Washington, Nate  hou   h   WR   3600      14.74           2    17.4
Def    Arizona Defense  ari   a  Def   4000    10.7143           1       6
======================
Salary: 49400
======================
Pts: 190.43999999999997
======================
======================
======================
                   name team h/a  pos salary avg_points scoring_pot act_pts
QB          Brees, Drew  nor   h   QB   6700         18           2    49.3
RB1       Sims, Charles  tam   a   RB   3600    11.0667           1     7.6
RB2        Gurley, Todd  stl   h   RB   6300     19.425           2    26.6
WR1        Decker, Eric  nyj   a   WR   5300      16.06           2      18
WR2       Cobb, Randall  gnb   a   WR   7000    15.5333           2     9.7
WR3      Landry, Jarvis  mia   a   WR   6200       18.7           2    13.1
TE      Walker, Delanie  ten   a   TE   4100      12.98           1    12.2
Flex     Maclin, Jeremy  kan   h   WR   6200    17.2667           2    12.5
Def   St. Louis Defense  stl   h  Def   3200    12.1667           1      12
======================
Salary: 48600
======================
Pts: 161.0
======================
======================
======================
trash_count: 975