# Modeling

## From the end of EDA:

### Conclusion

So the moral of the story currently is that we have at the minimum a couple of heuristics for choosing players:

- Choose value players, ie players with moderate price tags but good matchups
- Choose players based on Def they play
- Avoid expensive players, since statistically they are unable to produce high scores consistently.

With these guidelines, week 1 will be a total gamble, since we won't have any real data besides salaries. Week 2 will be the first time we can use any defensive data to help with our decision making.

## Goal for this notebook:

Based on the conclusions from the EDA, we want to see if we can find a model that confirms these ideas across seasons, and also has a high enough (cross-validated) accuracy to warrant trying to use this with real money.

### Note:
Sci-kit Learn says, according to https://scikit-learn.org/stable/tutorial/machine_learning_map/, that the model to use should be either Lasso or Elastic net, but we are going to try many different models to see what produces the best result.

## Logic

The idea behind this notebook is that player performances follow a predictable pattern, and therefore output should be directly predictable. The benefit of this would be to predict high performance players across each position and draft high scoring lineups. 

Obviously we want to get as many high performers as possible, but getting 100% accuracy on that seems implausible.

### Jump to:

- [Model Testing](#test_run)
- [Lineup Builder](#lineup_builder)

## Import Libraries

In [1]:
from collections import defaultdict
import pickle
import random
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.compose import ColumnTransformer
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier, RandomForestClassifier
from sklearn.linear_model import LinearRegression, LassoCV, ElasticNetCV, RidgeCV
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder, PolynomialFeatures
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

from xgboost import XGBClassifier

## Helper Functions

In [2]:
def get_weekly_data(week, year):
    file_path = f"./csv's/{year}/year-{year}-week-{week}-DK-player_data.csv"
    df = pd.read_csv(file_path)
    return df

def get_ytd_season_data(year, current_week):
    df = get_weekly_data(1,year)
    for week in range(2,current_week+1):
        try:
            df = df.append(get_weekly_data(week, year), ignore_index=True)
        except:
            print("No data for week: "+str(week))
    df = df.drop(['Unnamed: 0', 'Year'], axis=1)
    return df

def get_season_data(year):
    df = get_weekly_data(1,year)
    for week in range(2,17):
        try:
            df = df.append(get_weekly_data(week, year), ignore_index=True)
        except:
            print("No data for week: "+str(week))
    df = df.drop(['Unnamed: 0', 'Year'], axis=1)
    return df

def make_confusion_matrix(y_test, y_pred):
    cm = confusion_matrix(y_test, y_pred)
    acc_score = accuracy_score(y_test, y_pred)
    return cm, acc_score

def scale_features(sc, X_train, X_test):
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return X_train, X_test

def find_15_ptrs(df):
    df['scoring_potential'] = 0
    df['scoring_potential'] = np.where(df['DK points'] >= 15.0, 1, df['scoring_potential'])
    return df

def find_20_ptrs(df):
    df['scoring_potential'] = np.where(df['DK points'] >= 20.0, 2, df['scoring_potential'])
    return df

def find_30_ptrs(df):
    df['scoring_potential'] = np.where(df['DK points'] >= 30.0, 3, df['scoring_potential'])
    return df

def find_scoring_potentials(df):
    df = find_15_ptrs(df)
    df = find_20_ptrs(df)
    df = find_30_ptrs(df)
    return df

def handle_nulls(df):
    # players that have nulls for any of the columns are 
    # extremely likely to be under performing or going into a bye.
    # the one caveat is that some are possibly coming off a bye.
    # to handle this later, probably will drop them, save those
    # as a variable, and then re-merge after getting rid of the other
    # null values.
    df = df.dropna()
    return df

def train_test_split_dicts(x_dict, y_dict, idx):
    X = x_dict[idx]
    y = y_dict[idx+1]
    X = X.iloc[:,:-1]
    # create a df with consecutive weeks' stats on the same row
    combined = pd.merge(X, y, how="right", on=["Name"])
    # eliminate players going into a bye (also removes players coming off a bye)
    combined = handle_nulls(combined)
    x_filt = combined['Week_x']==idx
    y_filt = combined['Week_y']==idx+1, ['scoring_potential']
    X_train, X_test, y_train, y_test = train_test_split(combined.loc[x_filt],
                                                        combined.loc[y_filt], 
                                                        test_size=0.3,
                                                        random_state=0)
    return X_train, X_test, y_train, y_test

## Import Data

In [3]:
season = 2019
week = 6
next_week = week + 1
dataset = get_season_data(season)
# dataset

In [4]:
df = handle_nulls(dataset)
df

      Week                 Name  Pos Team h/a Oppt  DK points  DK salary
0        1       Jackson, Lamar   QB  bal   a  mia      36.56       6000
1        1        Prescott, Dak   QB  dal   h  nyg      36.40       5900
2        1      Watson, Deshaun   QB  hou   a  nor      31.72       6800
3        1    Stafford, Matthew   QB  det   a  ari      31.60       5400
4        1  Mahomes II, Patrick   QB  kan   a  jac      30.32       7200
...    ...                  ...  ...  ...  ..  ...        ...        ...
6398    16           Cincinnati  Def  cin   a  mia       0.00       2900
6399    16             Carolina  Def  car   a  ind      -1.00       2400
6400    16           Washington  Def  was   h  nyg      -1.00       2800
6401    16           New York G  Def  nyg   a  was      -1.00       2800
6402    16            Tennessee  Def  ten   h  nor      -1.00       2100

[6403 rows x 8 columns]

In [5]:
X = df.drop(labels='DK points', axis=1)
y = df['DK points']

In [6]:
X

      Week                 Name  Pos Team h/a Oppt  DK salary
0        1       Jackson, Lamar   QB  bal   a  mia       6000
1        1        Prescott, Dak   QB  dal   h  nyg       5900
2        1      Watson, Deshaun   QB  hou   a  nor       6800
3        1    Stafford, Matthew   QB  det   a  ari       5400
4        1  Mahomes II, Patrick   QB  kan   a  jac       7200
...    ...                  ...  ...  ...  ..  ...        ...
6398    16           Cincinnati  Def  cin   a  mia       2900
6399    16             Carolina  Def  car   a  ind       2400
6400    16           Washington  Def  was   h  nyg       2800
6401    16           New York G  Def  nyg   a  was       2800
6402    16            Tennessee  Def  ten   h  nor       2100

[6403 rows x 7 columns]

In [7]:
y

0       36.56
1       36.40
2       31.72
3       31.60
4       30.32
        ...
6398     0.00
6399    -1.00
6400    -1.00
6401    -1.00
6402    -1.00
Name: DK points, Length: 6403, dtype: float64

In [8]:
# Encode data - label encoding, because one hot encoding was 
# creating huge amounts of unbalanced data
# borrowed from https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn
# d = defaultdict(LabelEncoder)
# X_le = X.apply(LabelEncoder().fit_transform)

In [9]:
X = pd.get_dummies(X)

In [10]:
print(X)

      Week  DK salary  Name_Abdullah, Ameer  Name_Adams, Davante  \
0        1       6000                     0                    0
1        1       5900                     0                    0
2        1       6800                     0                    0
3        1       5400                     0                    0
4        1       7200                     0                    0
...    ...        ...                   ...                  ...
6398    16       2900                     0                    0
6399    16       2400                     0                    0
6400    16       2800                     0                    0
6401    16       2800                     0                    0
6402    16       2100                     0                    0

      Name_Adams, Jerell  Name_Adams, Josh  Name_Agholor, Nelson  \
0                      0                 0                     0
1                      0                 0                     0
2                      0                 0                     0
3                      0                 0                     0
4                      0                 0                     0
...                  ...               ...                   ...
6398                   0                 0                     0
6399                   0                 0                     0
6400                   0                 0                     0
6401                   0                 0                     0
6402                   0                 0                     0

      Name_Ajayi, Jay  Name_Akins, Jordan  Name_Alie-Cox, Mo  ...  Oppt_nyg  \
0                   0                   0                  0  ...         0
1                   0                   0                  0  ...         1
2                   0                   0                  0  ...         0
3                   0                   0                  0  ...         0
4                   0                   0                  0  ...         0
...               ...                 ...                ...  ...       ...
6398                0                   0                  0  ...         0
6399                0                   0                  0  ...         0
6400                0                   0                  0  ...         1
6401                0                   0                  0  ...         0
6402                0                   0                  0  ...         0

      Oppt_nyj  Oppt_oak  Oppt_phi  Oppt_pit  Oppt_sea  Oppt_sfo  Oppt_tam  \
0            0         0         0         0         0         0         0
1            0         0         0         0         0         0         0
2            0         0         0         0         0         0         0
3            0         0         0         0         0         0         0
4            0         0         0         0         0         0         0
...        ...       ...       ...       ...       ...       ...       ...
6398         0         0         0         0         0         0         0
6399         0         0         0         0         0         0         0
6400         0         0         0         0         0         0         0
6401         0         0         0         0         0         0         0
6402         0         0         0         0         0         0         0

      Oppt_ten  Oppt_was
0            0         0
1            0         0
2            0         0
3            0         0
4            0         0
...        ...       ...
6398         0         0
6399         0         0
6400         0         0
6401         0         1
6402         0         0

[6403 rows x 684 columns]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [12]:
# # Scaled Data
# scaled_X_trains = []
# scaled_X_tests = []
# sc = StandardScaler()
# for num in range(0,len(X_trains_list)):
#     scaled_X_train, scaled_X_test = scale_features(sc, X_trains_list[num], X_tests_list[num])
#     scaled_X_trains.append(scaled_X_train)
#     scaled_X_tests.append(scaled_X_test)

## Non-Boost Methods (using scaled data)

In [13]:
best_acc_method = ""
best_f1_method = ""
best_acc = -100
best_f1 = -100

# Linear Regression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression()

In [14]:
y_pred = lin_reg.predict(X_test)

In [15]:
for x in range(0, len(y_pred)):
    y_pred[x] = float(round(y_pred[x],2))
y_pred

array([ 5.58,  1.39,  7.91, ...,  3.29, 13.93,  3.27])

In [16]:
df_results = X_test.copy()

In [17]:
# how to decode one hot columns: 
# https://stackoverflow.com/questions/49372640/python-pandas-how-to-reverse-one-hot-encoding-back-to-categorical
# https://stackoverflow.com/questions/22548731/how-to-reverse-sklearn-onehotencoder-transform-to-recover-original-data

one_hot_columns = (df_results.iloc[:, 2:] == 1).idxmax(1)
df_results['player_name'] = one_hot_columns
df_results['pred'] = y_pred
df_results['actual_points'] = y_test

In [18]:
pd.set_option("display.max_rows", None, "display.max_columns", 10)
# df_results

In [19]:
subset_cols = ['Week', 'DK salary', 'player_name', 'pred', 'actual_points']
df_results2 = df_results[subset_cols]
df_results2 = df_results2.sort_values(by='Week')
df_results2

,Week,DK salary,player_name,pred,actual_points
44,1,5900,"Name_Henry, Derrick",1.886000e+01,28.90
396,1,2700,"Name_Grimble, Xavier",-1.370000e+00,0.00
283,1,3200,"Name_Nelson, J.J.",1.332000e+01,0.00
72,1,3500,"Name_Davis, Mike",4.000000e-02,9.60
401,1,2500,"Name_DeValve, Seth",1.990000e+00,0.00
274,1,3300,"Name_Carter, DeAndre",1.130000e+00,0.90
42,1,5500,"Name_Ekeler, Austin",1.972000e+01,39.40
326,1,3000,"Name_Andrews, Mark",1.709000e+01,27.80
311,1,3000,"Name_McKenzie, Isaiah",4.560000e+00,0.00
371,1,2700,"Name_Shaheen, Adam",2.160000e+00,1.60
195,1,6200,"Name_Godwin, Chris",2.184000e+01,14.30
90,1,5300,"Name_Freeman, Devonta",1.413000e+01,5.10
6,1,6000,"Name_Brady, Tom",1.508000e+01,28.64
15,1,5000,"Name_Manning, Eli",1.363000e+01,18.84
144,1,3000,"Name_Smith, Keith",-2.400000e-01,0.00
252,1,3600,"Name_Renfrow, Hunter",1.031000e+01,3.30
214,1,4700,"Name_Kirk, Christian",1.437000e+01,10.40
405,1,2500,"Name_Toilolo, Levine",6.300000e-01,0.00
346,1,4000,"Name_McDonald, Vance",5.560000e+00,6.00
66,1,3100,"Name_Sproles, Darren",1.390000e+00,11.30
119,1,3100,"Name_Edmonds, Chase",1.364000e+01,0.50
12,1,5200,"Name_Mariota, Marcus",1.305000e+01,24.32
379,1,2500,"Name_Firkser, Anthony",3.010000e+00,0.00
302,1,3200,"Name_Watson, Justin",2.700000e-01,0.00
33,1,4000,"Name_Griffin III, Robert",2.310000e+00,7.10
130,1,3000,"Name_Bellore, Nick",1.930000e+00,0.00
257,1,3300,"Name_Perriman, Breshad",9.220000e+00,3.00
287,1,3000,"Name_Jennings, Darius",5.200000e-01,0.00
14,1,5600,"Name_Allen, Josh",2.097000e+01,19.96
206,1,5600,"Name_Landry, Jarvis",1.749000e+01,11.70
20,1,5400,"Name_Carr, Derek",1.488000e+01,14.56
39,1,4400,"Name_Tannehill, Ryan",2.018000e+01,-0.20
159,1,3000,"Name_Smith, Tremon",5.064854e+07,0.00
194,1,5800,"Name_Boyd, Tyler",1.592000e+01,14.30
376,1,2500,"Name_Knox, Dawson",6.450000e+00,1.10
308,1,3000,"Name_Holton, Johnny",-1.990000e+00,0.00
29,1,6600,"Name_Winston, Jameis",2.548000e+01,10.06
227,1,3900,"Name_Richardson, Paul",4.140000e+00,7.60
217,1,4800,"Name_Jones, Marvin",1.755000e+01,10.00
189,1,5100,"Name_Ridley, Calvin",1.393000e+01,16.40
388,1,2500,"Name_Schultz, Dalton",1.170000e+00,0.00
317,1,3400,"Name_Cole, Keelan",3.420000e+00,0.00
398,1,2500,"Name_Adams, Jerell",2.468734e+09,0.00
429,1,2600,Name_Indianapolis,8.080000e+00,7.00
347,1,2900,"Name_Swaim, Geoff",2.570000e+00,5.70
282,1,3000,"Name_Sherfield, Trent",2.520000e+00,0.00
304,1,4100,"Name_Foster, Robert",1.110000e+00,0.00
170,1,4300,"Name_Brown, John",1.555000e+01,28.30
124,1,3000,"Name_Walton, Mark",6.910000e+00,0.10
187,1,4200,"Name_Cobb, Randall",1.139000e+01,16.90
70,1,3900,"Name_Jones, Ronald",9.770000e+00,10.30
113,1,3000,"Name_Bawden, Nick",1.240000e+00,1.00
318,1,3000,"Name_Lacy, Chris",2.420000e+00,0.00
143,1,3000,"Name_Homer, Travis",2.060000e+00,0.00
394,1,2500,"Name_Harris, Demetrius",5.060000e+00,0.00
241,1,3000,"Name_Harmon, Kelvin",3.950000e+00,5.10
233,1,3000,"Name_Willis, Damion",2.960000e+00,6.00
1,1,5900,"Name_Prescott, Dak",2.234000e+01,36.40
443,1,2100,Name_Miami,2.390000e+00,-3.00
224,1,3000,"Name_Byrd, Damiere",5.810000e+00,8.20
286,1,3000,"Name_Berrios, Braxton",5.000000e-02,0.00
49,1,5200,"Name_Jacobs, Josh",1.449000e+01,24.30
65,1,6400,"Name_Chubb, Nick",1.912000e+01,11.50
444,1,2300,Name_Jacksonville,5.460000e+00,-4.00
125,1,3000,"Name_Boone, Mike",1.760000e+00,0.00
148,1,3000,"Name_Prosise, C.J.",4.740000e+00,0.00
380,1,3300,"Name_Rudolph, Kyle",7.960000e+00,0.00
247,1,3700,"Name_Jones, Zay",2.010000e+00,3.80
147,1,3000,"Name_Jones, Taiwan",-4.000000e-01,0.00
154,1,3200,"Name_Clement, Corey",-1.100000e-01,0.00
137,1,3000,"Name_Cox, Chandler",-5.600000e-01,0.00
30,1,5700,"Name_Trubisky, Mitchell",1.704000e+01,9.22
202,1,6800,"Name_Thielen, Adam",1.142000e+01,13.30
134,1,3000,"Name_Wilkins, Jordan",3.660000e+00,0.00
223,1,3200,"Name_Switzer, Ryan",-2.150000e+00,8.90
138,1,3000,"Name_Chunn, Jordan",-2.014882e+08,0.00
294,1,4100,"Name_Allison, Geronimo",3.320000e+00,0.00
415,1,2600,Name_Tennessee,7.950000e+00,23.00
210,1,3000,"Name_James, Richie",1.870000e+00,10.90
263,1,3000,"Name_Bourne, Kendrick",8.470000e+00,1.90
244,1,3000,"Name_Grant, Ryan",3.700000e-01,4.60
349,1,2500,"Name_Boyle, Nick",6.260000e+00,5.60
98,1,3900,"Name_Sanders, Miles",2.000000e+01,3.70
381,1,2500,"Name_Manhertz, Chris",-1.140000e+00,0.00
348,1,4500,"Name_Cook, Jared",1.450000e+01,5.70
167,1,3800,"Name_Brown, Marquise",1.222000e+01,33.70
8,1,5900,"Name_Rivers, Philip",1.664000e+01,27.92
142,1,3000,"Name_Booker, Devontae",8.900000e-01,0.00
161,1,3000,"Name_Cannon, Trenton",-8.000000e-02,0.00
499,2,0,"Name_Wilson Jr., Jeff",6.630000e+00,15.40
620,2,6300,"Name_Cooks, Brandin",7.430000e+00,16.60
861,2,2600,Name_New York J,7.640000e+00,5.00
527,2,3200,"Name_Montgomery, Ty",2.890000e+00,7.00
456,2,6400,"Name_Wentz, Carson",1.868000e+01,19.54
483,2,4000,"Name_Siemian, Trevor",-1.501366e+08,0.12
660,2,3300,"Name_Beebe, Chad",1.700000e+00,7.10
661,2,4000,"Name_Renfrow, Hunter",1.064000e+01,7.00
496,2,3500,"Name_Gore, Frank",6.630000e+00,16.30
465,2,6300,"Name_Newton, Cam",8.970000e+00,15.32
634,2,3000,"Name_McKenzie, Isaiah",5.000000e+00,12.40
520,2,5800,"Name_Williams, Damien",1.279000e+01,8.60
704,2,3200,"Name_Arcega-Whiteside, JJ",1.030000e+00,1.40
533,2,3000,"Name_Washington, DeAndre",6.670000e+00,5.50
472,2,5300,"Name_Cousins, Kirk",1.853000e+01,11.90
582,2,3000,"Name_Booker, Devontae",-1.300000e-01,0.00
863,2,2500,Name_Indianapolis,9.070000e+00,5.00
873,2,2600,Name_Cincinnati,3.380000e+00,-2.00
530,2,4100,"Name_Brown, Malcolm",3.690000e+00,5.70
517,2,5000,"Name_Freeman, Devonta",1.520000e+01,9.40
464,2,6500,"Name_Rodgers, Aaron",1.738000e+01,15.36
479,2,4600,"Name_Rosen, Josh",3.270000e+00,2.88
559,2,3200,"Name_Edwards, Gus",7.460000e+00,1.10
735,2,3000,"Name_Watson, Justin",1.790000e+00,0.00
773,2,3100,"Name_Shaheen, Adam",1.260000e+00,5.40
532,2,3000,"Name_Johnson, Ty",3.910000e+00,5.60
818,2,2600,"Name_Sweeney, Tommy",2.530000e+00,0.00
519,2,3800,"Name_Burkhead, Rex",8.410000e+00,8.80
535,2,3000,"Name_Prosise, C.J.",2.660000e+00,5.00
555,2,3200,"Name_Ogunbowale, Dare",4.730000e+00,1.90
864,2,3800,Name_Baltimore,9.810000e+00,4.00
725,2,3000,"Name_Natson, JoJo",-3.600000e-01,0.00
608,2,6000,"Name_Kupp, Cooper",1.602000e+01,20.60
751,2,3000,"Name_Davis, Trevor",7.600000e-01,0.00
462,2,5000,"Name_Keenum, Case",1.166000e+01,16.74
509,2,3400,"Name_Peterson, Adrian",1.077000e+01,11.20
842,2,3700,Name_New England,1.250000e+01,37.00
737,2,3200,"Name_Benjamin, Travis",3.660000e+00,0.00
812,2,2500,"Name_Izzo, Ryan",6.300000e+00,0.00
695,2,3000,"Name_Jennings, Darius",8.200000e-01,2.10
548,2,3700,"Name_Hines, Nyheim",8.030000e+00,2.40
871,2,2700,Name_Denver,6.570000e+00,1.00
597,2,3500,"Name_Robinson, Demarcus",4.460000e+00,38.20
641,2,7200,"Name_Watkins, Sammy",1.128000e+01,10.90
776,2,2600,"Name_James, Jesse",1.240000e+00,4.80
771,2,2800,"Name_Heuerman, Jeff",8.500000e-01,6.10
572,2,3000,"Name_Line, Zach",-7.000000e-01,0.00
451,2,6400,"Name_Brady, Tom",1.737000e+01,24.66
629,2,5200,"Name_Brown, John",1.555000e+01,14.20
834,2,2500,"Name_Bell, Blake",6.500000e-01,0.00
487,2,9200,"Name_Barkley, Saquon",1.644000e+01,25.50
828,2,4400,"Name_Howard, O.J.",6.810000e+00,0.00
675,2,4600,"Name_Valdes-Scantling, Marquez",5.260000e+00,4.90
467,2,5900,"Name_Winston, Jameis",2.725000e+01,13.22
495,2,5700,"Name_Johnson, Kerryon",9.820000e+00,16.80
558,2,3100,"Name_Ricard, Patrick",2.290000e+00,1.30
872,2,3300,Name_Dallas,6.700000e+00,1.00
852,2,3100,Name_Tennessee,8.010000e+00,8.00
683,2,3800,"Name_Hamilton, DaeSean",1.810000e+00,3.50
450,2,6100,"Name_Ryan, Matt",2.310000e+01,25.10
843,2,3200,Name_Cleveland,6.320000e+00,13.00
731,2,3000,"Name_Wilson, Bobo",1.630000e+00,0.00
531,2,6500,"Name_Mixon, Joe",1.025000e+01,5.70
528,2,4100,"Name_Sanders, Miles",1.879000e+01,6.70
729,2,3900,"Name_Amendola, Danny",1.117000e+01,0.00
733,2,3000,"Name_Taylor, Taywan",7.100000e-01,0.00
825,2,2800,"Name_Uzomah, C.J.",2.780000e+00,0.00
642,2,6300,"Name_Diggs, Stefon",1.593000e+01,10.90
684,2,3200,"Name_Wright, Jarius",4.120000e+00,3.50
557,2,3000,"Name_Watt, Derek",2.220000e+00,1.30
539,2,3200,"Name_Edmonds, Chase",1.094000e+01,3.70
678,2,3600,"Name_Washington, James",1.340000e+01,4.30
502,2,6200,"Name_Michel, Sony",1.077000e+01,13.50
831,2,2500,"Name_Alie-Cox, Mo",1.490000e+00,0.00
693,2,3200,"Name_Kumerow, Jake",2.230000e+00,2.20
840,2,2500,"Name_Wesco, Trevon",7.100000e-01,0.00
867,2,2100,Name_Miami,1.240000e+00,3.00
768,2,2900,"Name_Hurst, Hayden",5.860000e+00,7.10
601,2,4700,"Name_Sanders, Emmanuel",7.100000e+00,28.80
452,2,6000,"Name_Garoppolo, Jimmy",1.784000e+01,23.68
526,2,8200,"Name_Kamara, Alvin",1.851000e+01,7.00
593,2,3000,"Name_Cannon, Trenton",1.010000e+00,0.00
521,2,7100,"Name_Johnson, David",1.034000e+01,8.40
489,2,3800,"Name_Mostert, Raheem",9.640000e+00,24.10
1246,3,2500,"Name_Mundt, Johnny",3.100000e-01,0.00
1065,3,3700,"Name_Williams, Preston",1.147000e+01,10.80
1095,3,4300,"Name_Conley, Chris",1.050000e+01,5.00
882,3,5800,"Name_Rivers, Philip",1.760000e+01,23.62
1108,3,3500,"Name_Washington, James",1.158000e+01,3.40
1035,3,6300,"Name_Edelman, Julian",1.742000e+01,19.20
1262,3,3900,Name_Chicago,5.320000e+00,21.00
982,3,3000,"Name_Bonnafon, Reggie",2.750000e+00,0.50
1155,3,3000,"Name_Hodge, KhaDarel",-3.100000e-01,0.00
978,3,3000,"Name_Ham, C.J.",2.610000e+00,1.00
1066,3,3200,"Name_Hollins, Mack",2.740000e+00,10.20
976,3,3000,"Name_Barner, Kenjon",5.600000e-01,1.40
1136,3,4000,"Name_Hamilton, DaeSean",1.980000e+00,0.00
914,3,4300,"Name_Lindsay, Phillip",1.320000e+01,29.00
1270,3,3400,Name_Buffalo,7.900000e+00,11.00
918,3,8900,"Name_Elliott, Ezekiel",2.221000e+01,18.90
917,3,5000,"Name_McCoy, LeSean",7.250000e+00,23.00
1189,3,3000,"Name_Doyle, Jack",6.420000e+00,8.60
1278,3,3300,Name_Minnesota,1.136000e+01,7.00
1014,3,3000,"Name_Ingold, Alec",6.500000e-01,0.00
910,3,4300,"Name_Stidham, Jarrett",1.100000e-01,-0.44
878,3,5400,"Name_Winston, Jameis",2.822000e+01,29.50
1096,3,3000,"Name_Harris, Deonte",9.400000e-01,5.00
1172,3,3000,"Name_Olszewski, Gunner",1.220000e+00,-1.00
1086,3,3100,"Name_Brown, Jaron",3.880000e+00,6.00
1282,3,2500,Name_LA Chargers,6.720000e+00,4.00
944,3,4500,"Name_Drake, Kenyan",1.074000e+01,9.20
1139,3,3000,"Name_Gage, Russell",6.150000e+00,0.00
980,3,4500,"Name_Brown, Malcolm",3.700000e+00,0.70
1121,3,3000,"Name_Erickson, Alex",6.510000e+00,2.30
916,3,3800,"Name_Pollard, Tony",8.560000e+00,24.80
1122,3,3000,"Name_Cain, Deon",8.700000e-01,2.00
993,3,3000,"Name_Powell, Bilal",-4.400000e-01,0.00
1185,3,2900,"Name_O'Shaughnessy, James",8.530000e+00,9.80
979,3,3000,"Name_Thompson, Darwin",1.900000e+00,0.80
1168,3,3400,"Name_Coutee, Keke",7.160000e+00,0.00
1206,3,2500,"Name_Lewis, Marcedes",1.430000e+00,2.90
949,3,9100,"Name_Barkley, Saquon",1.802000e+01,7.70
971,3,3000,"Name_Boone, Mike",2.700000e+00,2.80
965,3,3000,"Name_Bolden, Brandon",4.560000e+00,3.90
1290,3,2600,Name_Denver,6.890000e+00,0.00
1091,3,3000,"Name_Roberts, Seth",3.200000e+00,5.70
1281,3,2600,Name_Washington,5.940000e+00,5.00
1161,3,3100,"Name_Carter, DeAndre",1.340000e+00,0.00
1238,3,2500,"Name_Carter, Cethan",4.000000e-02,0.00
1063,3,6800,"Name_Watkins, Sammy",1.025000e+01,11.40
1034,3,6400,"Name_Hilton, T.Y.",1.039000e+01,20.50
1145,3,3000,"Name_Davis, Geremy",2.060000e+00,0.00
1196,3,3200,"Name_Davis, Vernon",6.840000e+00,5.00
1170,3,3400,"Name_Beebe, Chad",2.640000e+00,0.00
888,3,5800,"Name_Murray, Kyler",2.032000e+01,19.82
1267,3,2700,Name_Carolina,6.300000e+00,13.00
1041,3,7400,"Name_Thomas, Michael",2.904000e+01,16.40
1042,3,4800,"Name_Samuel, Curtis",1.199000e+01,16.30
895,3,4900,"Name_Carr, Derek",1.545000e+01,16.68
893,3,4900,"Name_Minshew, Gardner",1.697000e+01,17.96
1022,3,6400,"Name_Kupp, Cooper",1.603000e+01,36.20
1098,3,6000,"Name_Diggs, Stefon",1.707000e+01,4.50
1051,3,3900,"Name_Sanu, Mohamed",9.390000e+00,13.70
1106,3,6600,"Name_Golladay, Kenny",2.038000e+01,3.70
991,3,3400,"Name_Harris, Damien",1.170000e+00,0.00
994,3,3100,"Name_Smallwood, Wendell",1.230000e+00,0.00
1224,3,2900,"Name_Jarwin, Blake",8.490000e+00,1.30
1247,3,2600,"Name_Green, Virgil",2.220000e+00,0.00
1160,3,3000,"Name_Slater, Matthew",6.000000e-01,0.00
1045,3,4400,"Name_Beasley, Cole",1.370000e+01,14.80
875,3,5000,"Name_Jones, Daniel",1.784000e+01,39.24
880,3,4000,"Name_Allen, Kyle",1.585000e+01,25.34
1277,3,3200,Name_San Francisco,1.012000e+01,7.00
1031,3,4100,"Name_Richardson, Paul",3.090000e+00,22.30
1142,3,3000,"Name_Wilson, Cedrick",6.760000e+00,0.00
977,3,3500,"Name_Gallman, Wayne",6.200000e+00,1.30
1180,3,2500,"Name_Fells, Darren",3.400000e+00,15.90
1083,3,6900,"Name_Godwin, Chris",2.365000e+01,7.00
1001,3,3000,"Name_Abdullah, Ameer",2.890000e+00,0.00
1132,3,3700,"Name_Brown, A.J.",1.346000e+01,1.40
1116,3,3600,"Name_Crabtree, Michael",4.790000e+00,2.90
962,3,4300,"Name_Johnson, Duke",8.350000e+00,4.40
938,3,5200,"Name_Montgomery, David",9.780000e+00,11.10
1008,3,3000,"Name_Ervin, Tyler",2.100000e-01,0.00
1220,3,3800,"Name_Cook, Jared",1.422000e+01,1.70
1580,4,4300,"Name_Hooper, Austin",1.539000e+01,25.00
1336,4,7000,"Name_Gurley, Todd",1.535000e+01,26.00
1657,4,2500,"Name_Ellis, Alex",-9.500000e-01,0.00
1386,4,3600,"Name_Edmonds, Chase",1.245000e+01,3.70
1662,4,3700,Name_New England,9.690000e+00,25.00
1427,4,3000,"Name_Janovich, Andy",3.310000e+00,0.00
1624,4,2500,"Name_Culkin, Sean",7.500000e-01,2.20
1461,4,3000,"Name_Inman, Dontrelle",3.650000e+00,12.60
1545,4,3400,"Name_Moore, Chris",2.800000e-01,0.00
1379,4,3000,"Name_Washington, DeAndre",6.840000e+00,4.60
1625,4,2500,"Name_Tonyan, Robert",2.290000e+00,2.10
1606,4,2600,"Name_Kendricks, Lance",1.690000e+00,5.70
1687,4,3400,Name_Minnesota,9.880000e+00,2.00
1453,4,5600,"Name_Robinson, Allen",1.434000e+01,14.70
1465,4,4500,"Name_Pascal, Zach",8.310000e+00,11.20
1632,4,4800,"Name_Walker, Delanie",8.110000e+00,1.40
1433,4,3000,"Name_Olawale, Jamize",-5.700000e-01,0.00
1533,4,3600,"Name_Patterson, Cordarrelle",2.490000e+00,1.70
1615,4,2500,"Name_Lewis, Marcedes",2.660000e+00,3.90
1294,4,5700,"Name_Winston, Jameis",2.602000e+01,33.30
1442,4,5900,"Name_Golladay, Kenny",2.023000e+01,23.70
1328,4,4100,"Name_Taylor, Tyrod",2.370000e+00,0.18
1319,4,5200,"Name_Bridgewater, Teddy",1.399000e+01,7.52
1607,4,2500,"Name_Thomas, Logan",2.190000e+00,5.50
1540,4,3500,"Name_Fowler, Bennie",7.010000e+00,1.30
1586,4,6200,"Name_Ertz, Zach",1.372000e+01,13.50
1380,4,3400,"Name_Ogunbowale, Dare",3.310000e+00,4.60
1363,4,4600,"Name_Cohen, Tarik",9.580000e+00,9.80
1332,4,6000,"Name_Fournette, Leonard",1.465000e+01,29.50
1668,4,2300,Name_Carolina,6.480000e+00,14.00
1642,4,2500,"Name_Carter, Cethan",2.000000e-01,0.00
1515,4,0,"Name_Ford, Isaiah",6.190000e+00,2.90
1568,4,4000,"Name_Arcega-Whiteside, JJ",8.000000e-01,0.00
1411,4,4600,"Name_Pollard, Tony",5.840000e+00,0.00
1369,4,4500,"Name_Sanders, Miles",1.876000e+01,7.20
1450,4,4100,"Name_Parker, DeVante",1.605000e+01,17.00
1563,4,4300,"Name_Washington, James",1.348000e+01,0.00
1644,4,2600,"Name_Thomas, Ian",3.230000e+00,0.00
1531,4,3000,"Name_Spencer, Diontae",9.000000e-01,1.80
1526,4,3000,"Name_Davis, Robert",-4.197738e+07,2.10
1467,4,5400,"Name_Jones, Marvin",1.622000e+01,10.70
1564,4,3000,"Name_Hodge, KhaDarel",-5.900000e-01,0.00
1523,4,3500,"Name_Hollins, Mack",6.100000e-01,2.30
1484,4,5200,"Name_Robinson, Demarcus",4.670000e+00,7.50
1422,4,3000,"Name_Ervin, Tyler",-1.400000e+00,0.00
1457,4,3000,"Name_Davis, Trevor",9.300000e-01,13.40
1525,4,3000,"Name_Watson, Justin",4.700000e-01,2.30
1391,4,4300,"Name_Peterson, Adrian",1.174000e+01,2.80
1570,4,3000,"Name_Holton, Johnny",1.290000e+00,0.00
1495,4,5000,"Name_Ridley, Calvin",1.511000e+01,6.20
1654,4,2500,"Name_Alie-Cox, Mo",1.590000e+00,0.00
1547,4,3200,"Name_Erickson, Alex",6.570000e+00,0.00
1326,4,4900,"Name_Keenum, Case",1.312000e+01,0.48
1675,4,3100,Name_Houston,8.000000e+00,10.00
1551,4,3000,"Name_Wilson, Cedrick",4.430000e+00,0.00
1595,4,2800,"Name_Goedert, Dallas",8.200000e+00,9.60
1314,4,4400,"Name_Daniel, Chase",8.090000e+00,12.20
1514,4,3000,"Name_Quinn, Trey",5.580000e+00,3.00
1399,4,3000,"Name_Line, Zach",-2.100000e-01,1.30
1330,4,8800,"Name_McCaffrey, Christian",3.244000e+01,33.90
1520,4,3100,"Name_Jones, Zay",-1.300000e-01,2.40
1651,4,2500,"Name_Smith, Lee",-1.200000e+00,0.00
1460,4,5700,"Name_Williams, Tyrell",1.101000e+01,12.60
1370,4,5200,"Name_Lindsay, Phillip",1.391000e+01,7.00
1601,4,2800,"Name_Jarwin, Blake",6.210000e+00,7.90
1448,4,4900,"Name_Sanders, Emmanuel",8.420000e+00,18.40
1362,4,4500,"Name_Thompson, Chris",9.330000e+00,10.00
1573,4,3100,"Name_McKenzie, Isaiah",2.080000e+00,0.00
1452,4,4500,"Name_Allison, Geronimo",4.530000e+00,14.90
1511,4,3100,"Name_Reynolds, Josh",4.220000e+00,3.20
1571,4,3000,"Name_Core, Cody",9.300000e-01,0.00
1456,4,3100,"Name_Rogers, Chester",3.570000e+00,13.80
1593,4,3300,"Name_Hockenson, T.J.",5.890000e+00,11.70
1327,4,5000,"Name_Trubisky, Mitchell",1.741000e+01,0.36
1622,4,3500,"Name_Rudolph, Kyle",7.370000e+00,2.20
1524,4,3000,"Name_Pringle, Byron",4.240000e+00,2.30
1357,4,3700,"Name_Yeldon, T.J.",3.700000e-01,10.80
1889,5,3300,"Name_Davis, Trevor",1.800000e-01,7.20
1864,5,5500,"Name_Landry, Jarvis",1.561000e+01,11.50
1789,5,3000,"Name_Abdullah, Ameer",3.200000e+00,2.40
1939,5,3200,"Name_Boykin, Miles",3.190000e+00,0.00
2030,5,2600,"Name_Ellison, Rhett",4.880000e+00,1.30
1778,5,3600,"Name_Lewis, Dion",2.840000e+00,5.00
1767,5,7000,"Name_Gordon, Melvin",1.402000e+01,7.80
1835,5,4500,"Name_Fuller, Will",9.130000e+00,56.70
1785,5,3800,"Name_Edwards, Gus",5.050000e+00,3.30
1855,5,3000,"Name_Sims Jr., Steven",1.810000e+00,14.60
1946,5,3000,"Name_Zylstra, Brandon",1.270000e+00,0.00
1990,5,4800,"Name_Andrews, Mark",1.357000e+01,9.50
2090,5,2900,Name_Arizona,5.850000e+00,1.00
1881,5,3100,"Name_Smith, Vyncint",2.070000e+00,7.90
1824,5,3600,"Name_Williams, Jonathan",6.710000e+00,0.00
1979,5,3200,"Name_Carter, DeAndre",1.410000e+00,-1.00
1957,5,3000,"Name_Thomas, Mike",8.500000e-01,0.00
1933,5,4400,"Name_Samuel, Deebo",1.299000e+01,1.30
1854,5,5200,"Name_Moore, D.J.",1.852000e+01,15.10
1804,5,3000,"Name_Ingold, Alec",4.100000e-01,0.30
1965,5,3000,"Name_Treadwell, Laquon",3.020000e+00,0.00
1712,5,5600,"Name_Jones, Daniel",1.686000e+01,11.48
1892,5,5300,"Name_Robinson, Demarcus",3.400000e+00,6.10
1702,5,7500,"Name_Mahomes II, Patrick",2.449000e+01,21.54
1867,5,5700,"Name_Brown, Marquise",8.650000e+00,11.20
1941,5,6700,"Name_Watkins, Sammy",1.135000e+01,0.00
1741,5,5300,"Name_Freeman, Devonta",1.543000e+01,18.00
1819,5,3000,"Name_Smith, Keith",1.050000e+00,0.00
1859,5,5100,"Name_Brown, John",1.526000e+01,12.50
1736,5,6000,"Name_Carson, Chris",1.756000e+01,22.30
1921,5,4600,"Name_Pettis, Dante",3.580000e+00,2.10
1815,5,5200,"Name_Williams, Darrel",5.530000e+00,0.00
2036,5,2700,"Name_Jarwin, Blake",6.600000e+00,0.00
1893,5,7000,"Name_Beckham Jr., Odell",1.208000e+01,6.00
1722,5,4900,"Name_Falk, Luke",5.570000e+00,1.80
1983,5,2900,"Name_Fells, Darren",3.320000e+00,16.00
1961,5,3100,"Name_Brown, Fred",-3.500000e-01,0.00
1783,5,3100,"Name_Hilliman, Jon",3.300000e+00,3.40
1718,5,5800,"Name_Rivers, Philip",1.586000e+01,6.14
1790,5,4400,"Name_Pollard, Tony",6.280000e+00,1.90
2060,5,2500,"Name_Conklin, Tyler",1.330000e+00,0.00
1887,5,7700,"Name_Jones, Julio",2.030000e+01,7.20
1843,5,5600,"Name_Robinson, Allen",1.492000e+01,28.70
1861,5,6000,"Name_Fitzgerald, Larry",1.322000e+01,11.80
2009,5,2600,"Name_Heuerman, Jeff",1.200000e+00,3.60
2078,5,2600,Name_New York G,6.820000e+00,5.00
2014,5,3200,"Name_Akins, Jordan",5.330000e+00,3.10
1766,5,4800,"Name_Hines, Nyheim",6.630000e+00,8.50
1705,5,6200,"Name_Winston, Jameis",2.624000e+01,17.46
1750,5,6300,"Name_Ingram, Mark",1.554000e+01,12.90
2087,5,2200,Name_Tampa Bay,9.000000e+00,1.00
2011,5,2500,"Name_Tonyan, Robert",1.060000e+00,3.30
1749,5,5000,"Name_White, James",1.365000e+01,13.20
1715,5,5100,"Name_Rudolph, Mason",1.099000e+01,9.24
1845,5,5000,"Name_Gallup, Michael",1.454000e+01,27.30
1692,5,6700,"Name_Watson, Deshaun",2.155000e+01,44.74
1696,5,6000,"Name_Prescott, Dak",2.107000e+01,29.22
2067,5,2900,Name_Denver,6.730000e+00,12.00

### Lasso

In [20]:
lasso_reg = LassoCV()
lasso_reg.fit(X_train, y_train)

LassoCV()

In [21]:
y_pred2 = lasso_reg.predict(X_test)

In [22]:
for x in range(0, len(y_pred2)):
    y_pred2[x] = float(round(y_pred2[x],2))
y_pred2

array([ 3.97,  3.97,  5.36, ...,  4.67, 11.26,  3.97])

In [23]:
df_results['pred'] = y_pred2

In [24]:
subset_cols = ['Week', 'DK salary', 'player_name', 'pred', 'actual_points']
df_results3 = df_results[subset_cols]
df_results3 = df_results3.sort_values(by='Week')
df_results3

      Week  DK salary                     player_name   pred  actual_points
44       1       5900             Name_Henry, Derrick  14.03          28.90
396      1       2700            Name_Grimble, Xavier   2.93           0.00
283      1       3200               Name_Nelson, J.J.   4.67           0.00
72       1       3500                Name_Davis, Mike   5.71           9.60
401      1       2500              Name_DeValve, Seth   2.24           0.00
274      1       3300            Name_Carter, DeAndre   5.01           0.90
42       1       5500             Name_Ekeler, Austin  12.64          39.40
326      1       3000              Name_Andrews, Mark   3.97          27.80
311      1       3000           Name_McKenzie, Isaiah   3.97           0.00
371      1       2700              Name_Shaheen, Adam   2.93           1.60
195      1       6200              Name_Godwin, Chris  15.07          14.30
90       1       5300           Name_Freeman, Devonta  11.95           5.10
6        1       6000                 Name_Brady, Tom  14.38          28.64
15       1       5000               Name_Manning, Eli  10.91          18.84
144      1       3000               Name_Smith, Keith   3.97           0.00
252      1       3600            Name_Renfrow, Hunter   6.05           3.30
214      1       4700            Name_Kirk, Christian   9.87          10.40
405      1       2500            Name_Toilolo, Levine   2.24           0.00
346      1       4000            Name_McDonald, Vance   7.44           6.00
66       1       3100            Name_Sproles, Darren   4.32          11.30
119      1       3100             Name_Edmonds, Chase   4.32           0.50
12       1       5200            Name_Mariota, Marcus  11.60          24.32
379      1       2500           Name_Firkser, Anthony   2.24           0.00
302      1       3200             Name_Watson, Justin   4.67           0.00
33       1       4000        Name_Griffin III, Robert   7.44           7.10
130      1       3000              Name_Bellore, Nick   3.97           0.00
257      1       3300          Name_Perriman, Breshad   5.01           3.00
287      1       3000           Name_Jennings, Darius   3.97           0.00
14       1       5600                Name_Allen, Josh  12.99          19.96
206      1       5600             Name_Landry, Jarvis  12.99          11.70
20       1       5400                Name_Carr, Derek  12.30          14.56
39       1       4400            Name_Tannehill, Ryan   8.83          -0.20
159      1       3000              Name_Smith, Tremon   3.97           0.00
194      1       5800                Name_Boyd, Tyler  13.68          14.30
376      1       2500               Name_Knox, Dawson   2.24           1.10
308      1       3000             Name_Holton, Johnny   3.97           0.00
29       1       6600            Name_Winston, Jameis  16.46          10.06
227      1       3900           Name_Richardson, Paul   7.09           7.60
217      1       4800              Name_Jones, Marvin  10.22          10.00
189      1       5100             Name_Ridley, Calvin  11.26          16.40
388      1       2500            Name_Schultz, Dalton   2.24           0.00
317      1       3400               Name_Cole, Keelan   5.36           0.00
398      1       2500              Name_Adams, Jerell   2.24           0.00
429      1       2600               Name_Indianapolis   2.58           7.00
347      1       2900               Name_Swaim, Geoff   3.63           5.70
282      1       3000           Name_Sherfield, Trent   3.97           0.00
304      1       4100             Name_Foster, Robert   7.79           0.00
170      1       4300                Name_Brown, John   8.48          28.30
124      1       3000               Name_Walton, Mark   3.97           0.10
187      1       4200              Name_Cobb, Randall   8.13          16.90
70       1       3900              Name_Jones, Ronald   7.09          10.30
113      1       3000               Name_Bawden, Nick   3.97           1.00
318      1       3000                Name_Lacy, Chris   3.97           0.00
143      1       3000              Name_Homer, Travis   3.97           0.00
394      1       2500          Name_Harris, Demetrius   2.24           0.00
241      1       3000             Name_Harmon, Kelvin   3.97           5.10
233      1       3000             Name_Willis, Damion   3.97           6.00
1        1       5900              Name_Prescott, Dak  14.03          36.40
443      1       2100                      Name_Miami   0.85          -3.00
224      1       3000              Name_Byrd, Damiere   3.97           8.20
286      1       3000           Name_Berrios, Braxton   3.97           0.00
49       1       5200               Name_Jacobs, Josh  11.60          24.30
65       1       6400                Name_Chubb, Nick  15.77          11.50
444      1       2300               Name_Jacksonville   1.54          -4.00
125      1       3000                Name_Boone, Mike   3.97           0.00
148      1       3000              Name_Prosise, C.J.   3.97           0.00
380      1       3300              Name_Rudolph, Kyle   5.01           0.00
247      1       3700                 Name_Jones, Zay   6.40           3.80
147      1       3000              Name_Jones, Taiwan   3.97           0.00
154      1       3200             Name_Clement, Corey   4.67           0.00
137      1       3000              Name_Cox, Chandler   3.97           0.00
30       1       5700         Name_Trubisky, Mitchell  13.34           9.22
202      1       6800              Name_Thielen, Adam  17.15          13.30
134      1       3000            Name_Wilkins, Jordan   3.97           0.00
223      1       3200              Name_Switzer, Ryan   4.67           8.90
138      1       3000              Name_Chunn, Jordan   3.97           0.00
294      1       4100          Name_Allison, Geronimo   7.79           0.00
415      1       2600                  Name_Tennessee   2.58          23.00
210      1       3000              Name_James, Richie   3.97          10.90
263      1       3000           Name_Bourne, Kendrick   3.97           1.90
244      1       3000                Name_Grant, Ryan   3.97           4.60
349      1       2500                Name_Boyle, Nick   2.24           5.60
98       1       3900             Name_Sanders, Miles   7.09           3.70
381      1       2500            Name_Manhertz, Chris   2.24           0.00
348      1       4500                Name_Cook, Jared   9.18           5.70
167      1       3800            Name_Brown, Marquise   6.75          33.70
8        1       5900             Name_Rivers, Philip  14.03          27.92
142      1       3000           Name_Booker, Devontae   3.97           0.00
161      1       3000            Name_Cannon, Trenton   3.97           0.00
499      2          0           Name_Wilson Jr., Jeff  -6.43          15.40
620      2       6300             Name_Cooks, Brandin  15.42          16.60
861      2       2600                 Name_New York J   2.58           5.00
527      2       3200             Name_Montgomery, Ty   4.67           7.00
456      2       6400              Name_Wentz, Carson  15.77          19.54
483      2       4000            Name_Siemian, Trevor   7.44           0.12
660      2       3300                Name_Beebe, Chad   5.01           7.10
661      2       4000            Name_Renfrow, Hunter   7.44           7.00
496      2       3500                Name_Gore, Frank   5.71          16.30
465      2       6300                Name_Newton, Cam  15.42          15.32
634      2       3000           Name_McKenzie, Isaiah   3.97          12.40
520      2       5800           Name_Williams, Damien  13.68           8.60
704      2       3200       Name_Arcega-Whiteside, JJ   4.67           1.40
533      2       3000        Name_Washington, DeAndre   3.97           5.50
472      2       5300              Name_Cousins, Kirk  11.95          11.90
582      2       3000           Name_Booker, Devontae   3.97           0.00
863      2       2500               Name_Indianapolis   2.24           5.00
873      2       2600                 Name_Cincinnati   2.58          -2.00
530      2       4100             Name_Brown, Malcolm   7.79           5.70
517      2       5000           Name_Freeman, Devonta  10.91           9.40
464      2       6500             Name_Rodgers, Aaron  16.11          15.36
479      2       4600                Name_Rosen, Josh   9.52           2.88
559      2       3200               Name_Edwards, Gus   4.67           1.10
735      2       3000             Name_Watson, Justin   3.97           0.00
773      2       3100              Name_Shaheen, Adam   4.32           5.40
532      2       3000                Name_Johnson, Ty   3.97           5.60
818      2       2600             Name_Sweeney, Tommy   2.58           0.00
519      2       3800              Name_Burkhead, Rex   6.75           8.80
535      2       3000              Name_Prosise, C.J.   3.97           5.00
555      2       3200           Name_Ogunbowale, Dare   4.67           1.90
864      2       3800                  Name_Baltimore   6.75           4.00
725      2       3000               Name_Natson, JoJo   3.97           0.00
608      2       6000               Name_Kupp, Cooper  14.38          20.60
751      2       3000              Name_Davis, Trevor   3.97           0.00
462      2       5000               Name_Keenum, Case  10.91          16.74
509      2       3400           Name_Peterson, Adrian   5.36          11.20
842      2       3700                Name_New England   6.40          37.00
737      2       3200           Name_Benjamin, Travis   4.67           0.00
812      2       2500                 Name_Izzo, Ryan   2.24           0.00
695      2       3000           Name_Jennings, Darius   3.97           2.10
548      2       3700              Name_Hines, Nyheim   6.40           2.40
871      2       2700                     Name_Denver   2.93           1.00
597      2       3500         Name_Robinson, Demarcus   5.71          38.20
641      2       7200             Name_Watkins, Sammy  18.54          10.90
776      2       2600               Name_James, Jesse   2.58           4.80
771      2       2800             Name_Heuerman, Jeff   3.28           6.10
572      2       3000                 Name_Line, Zach   3.97           0.00
451      2       6400                 Name_Brady, Tom  15.77          24.66
629      2       5200                Name_Brown, John  11.60          14.20
834      2       2500                Name_Bell, Blake   2.24           0.00
487      2       9200            Name_Barkley, Saquon  25.48          25.50
828      2       4400               Name_Howard, O.J.   8.83           0.00
675      2       4600  Name_Valdes-Scantling, Marquez   9.52           4.90
467      2       5900            Name_Winston, Jameis  14.03          13.22
495      2       5700           Name_Johnson, Kerryon  13.34          16.80
558      2       3100            Name_Ricard, Patrick   4.32           1.30
872      2       3300                     Name_Dallas   5.01           1.00
852      2       3100                  Name_Tennessee   4.32           8.00
683      2       3800          Name_Hamilton, DaeSean   6.75           3.50
450      2       6100                 Name_Ryan, Matt  14.73          25.10
843      2       3200                  Name_Cleveland   4.67          13.00
731      2       3000               Name_Wilson, Bobo   3.97           0.00
531      2       6500                 Name_Mixon, Joe  16.11           5.70
528      2       4100             Name_Sanders, Miles   7.79           6.70
729      2       3900            Name_Amendola, Danny   7.09           0.00
733      2       3000             Name_Taylor, Taywan   3.97           0.00
825      2       2800               Name_Uzomah, C.J.   3.28           0.00
642      2       6300              Name_Diggs, Stefon  15.42          10.90
684      2       3200             Name_Wright, Jarius   4.67           3.50
557      2       3000                Name_Watt, Derek   3.97           1.30
539      2       3200             Name_Edmonds, Chase   4.67           3.70
678      2       3600          Name_Washington, James   6.05           4.30
502      2       6200               Name_Michel, Sony  15.07          13.50
831      2       2500               Name_Alie-Cox, Mo   2.24           0.00
693      2       3200              Name_Kumerow, Jake   4.67           2.20
840      2       2500              Name_Wesco, Trevon   2.24           0.00
867      2       2100                      Name_Miami   0.85           3.00
768      2       2900              Name_Hurst, Hayden   3.63           7.10
601      2       4700          Name_Sanders, Emmanuel   9.87          28.80
452      2       6000           Name_Garoppolo, Jimmy  14.38          23.68
526      2       8200              Name_Kamara, Alvin  22.01           7.00
593      2       3000            Name_Cannon, Trenton   3.97           0.00
521      2       7100             Name_Johnson, David  18.19           8.40
489      2       3800            Name_Mostert, Raheem   6.75          24.10
1246     3       2500              Name_Mundt, Johnny   2.24           0.00
1065     3       3700          Name_Williams, Preston   6.40          10.80
1095     3       4300              Name_Conley, Chris   8.48           5.00
882      3       5800             Name_Rivers, Philip  13.68          23.62
1108     3       3500          Name_Washington, James   5.71           3.40
1035     3       6300            Name_Edelman, Julian  15.42          19.20
1262     3       3900                    Name_Chicago   7.09          21.00
982      3       3000           Name_Bonnafon, Reggie   3.97           0.50
1155     3       3000            Name_Hodge, KhaDarel   3.97           0.00
978      3       3000                  Name_Ham, C.J.   3.97           1.00
1066     3       3200              Name_Hollins, Mack   4.67          10.20
976      3       3000             Name_Barner, Kenjon   3.97           1.40
1136     3       4000          Name_Hamilton, DaeSean   7.44           0.00
914      3       4300           Name_Lindsay, Phillip   8.48          29.00
1270     3       3400                    Name_Buffalo   5.36          11.00
918      3       8900           Name_Elliott, Ezekiel  24.44          18.90
917      3       5000              Name_McCoy, LeSean  10.91          23.00
1189     3       3000                Name_Doyle, Jack   3.97           8.60
1278     3       3300                  Name_Minnesota   5.01           7.00
1014     3       3000               Name_Ingold, Alec   3.97           0.00
910      3       4300           Name_Stidham, Jarrett   8.48          -0.44
878      3       5400            Name_Winston, Jameis  12.30          29.50
1096     3       3000             Name_Harris, Deonte   3.97           5.00
1172     3       3000          Name_Olszewski, Gunner   3.97          -1.00
1086     3       3100               Name_Brown, Jaron   4.32           6.00
1282     3       2500                Name_LA Chargers   2.24           4.00
944      3       4500              Name_Drake, Kenyan   9.18           9.20
1139     3       3000              Name_Gage, Russell   3.97           0.00
980      3       4500             Name_Brown, Malcolm   9.18           0.70
1121     3       3000             Name_Erickson, Alex   3.97           2.30
916      3       3800              Name_Pollard, Tony   6.75          24.80
1122     3       3000                 Name_Cain, Deon   3.97           2.00
993      3       3000              Name_Powell, Bilal   3.97           0.00
1185     3       2900       Name_O'Shaughnessy, James   3.63           9.80
979      3       3000           Name_Thompson, Darwin   3.97           0.80
1168     3       3400               Name_Coutee, Keke   5.36           0.00
1206     3       2500            Name_Lewis, Marcedes   2.24           2.90
949      3       9100            Name_Barkley, Saquon  25.13           7.70
971      3       3000                Name_Boone, Mike   3.97           2.80
965      3       3000            Name_Bolden, Brandon   3.97           3.90
1290     3       2600                     Name_Denver   2.58           0.00
1091     3       3000              Name_Roberts, Seth   3.97           5.70
1281     3       2600                 Name_Washington   2.58           5.00
1161     3       3100            Name_Carter, DeAndre   4.32           0.00
1238     3       2500             Name_Carter, Cethan   2.24           0.00
1063     3       6800             Name_Watkins, Sammy  17.15          11.40
1034     3       6400               Name_Hilton, T.Y.  15.77          20.50
1145     3       3000              Name_Davis, Geremy   3.97           0.00
1196     3       3200              Name_Davis, Vernon   4.67           5.00
1170     3       3400                Name_Beebe, Chad   5.36           0.00
888      3       5800              Name_Murray, Kyler  13.68          19.82
1267     3       2700                   Name_Carolina   2.93          13.00
1041     3       7400            Name_Thomas, Michael  19.23          16.40
1042     3       4800             Name_Samuel, Curtis  10.22          16.30
895      3       4900                Name_Carr, Derek  10.56          16.68
893      3       4900           Name_Minshew, Gardner  10.56          17.96
1022     3       6400               Name_Kupp, Cooper  15.77          36.20
1098     3       6000              Name_Diggs, Stefon  14.38           4.50
1051     3       3900              Name_Sanu, Mohamed   7.09          13.70
1106     3       6600            Name_Golladay, Kenny  16.46           3.70
991      3       3400             Name_Harris, Damien   5.36           0.00
994      3       3100         Name_Smallwood, Wendell   4.32           0.00
1224     3       2900              Name_Jarwin, Blake   3.63           1.30
1247     3       2600              Name_Green, Virgil   2.58           0.00
1160     3       3000            Name_Slater, Matthew   3.97           0.00
1045     3       4400              Name_Beasley, Cole   8.83          14.80
875      3       5000              Name_Jones, Daniel  10.91          39.24
880      3       4000                Name_Allen, Kyle   7.44          25.34
1277     3       3200              Name_San Francisco   4.67           7.00
1031     3       4100           Name_Richardson, Paul   7.79          22.30
1142     3       3000            Name_Wilson, Cedrick   3.97           0.00
977      3       3500             Name_Gallman, Wayne   5.71           1.30
1180     3       2500              Name_Fells, Darren   2.24          15.90
1083     3       6900              Name_Godwin, Chris  17.50           7.00
1001     3       3000            Name_Abdullah, Ameer   3.97           0.00
1132     3       3700                Name_Brown, A.J.   6.40           1.40
1116     3       3600          Name_Crabtree, Michael   6.05           2.90
962      3       4300              Name_Johnson, Duke   8.48           4.40
938      3       5200          Name_Montgomery, David  11.60          11.10
1008     3       3000               Name_Ervin, Tyler   3.97           0.00
1220     3       3800                Name_Cook, Jared   6.75           1.70
1580     4       4300             Name_Hooper, Austin   8.48          25.00
1336     4       7000               Name_Gurley, Todd  17.85          26.00
1657     4       2500                Name_Ellis, Alex   2.24           0.00
1386     4       3600             Name_Edmonds, Chase   6.05           3.70
1662     4       3700                Name_New England   6.40          25.00
1427     4       3000             Name_Janovich, Andy   3.97           0.00
1624     4       2500               Name_Culkin, Sean   2.24           2.20
1461     4       3000           Name_Inman, Dontrelle   3.97          12.60

### Elastic Net

In [25]:
elastic_net_reg = ElasticNetCV()
elastic_net_reg.fit(X_train, y_train)

ElasticNetCV()

In [26]:
y_pred3 = lasso_reg.predict(X_test)

In [27]:
for x in range(0, len(y_pred3)):
    y_pred3[x] = float(round(y_pred3[x],2))
y_pred3

array([ 3.97,  3.97,  5.36, ...,  4.67, 11.26,  3.97])

In [28]:
df_results['pred'] = y_pred3

In [29]:
subset_cols = ['Week', 'DK salary', 'player_name', 'pred', 'actual_points']
df_results4 = df_results[subset_cols]
df_results4 = df_results4.sort_values(by='Week')
df_results4

      Week  DK salary                     player_name   pred  actual_points
44       1       5900             Name_Henry, Derrick  14.03          28.90
396      1       2700            Name_Grimble, Xavier   2.93           0.00
283      1       3200               Name_Nelson, J.J.   4.67           0.00
72       1       3500                Name_Davis, Mike   5.71           9.60
401      1       2500              Name_DeValve, Seth   2.24           0.00
274      1       3300            Name_Carter, DeAndre   5.01           0.90
42       1       5500             Name_Ekeler, Austin  12.64          39.40
326      1       3000              Name_Andrews, Mark   3.97          27.80
311      1       3000           Name_McKenzie, Isaiah   3.97           0.00
371      1       2700              Name_Shaheen, Adam   2.93           1.60
195      1       6200              Name_Godwin, Chris  15.07          14.30
90       1       5300           Name_Freeman, Devonta  11.95           5.10
6        1       6000                 Name_Brady, Tom  14.38          28.64
15       1       5000               Name_Manning, Eli  10.91          18.84
144      1       3000               Name_Smith, Keith   3.97           0.00
252      1       3600            Name_Renfrow, Hunter   6.05           3.30
214      1       4700            Name_Kirk, Christian   9.87          10.40
405      1       2500            Name_Toilolo, Levine   2.24           0.00
346      1       4000            Name_McDonald, Vance   7.44           6.00
66       1       3100            Name_Sproles, Darren   4.32          11.30
119      1       3100             Name_Edmonds, Chase   4.32           0.50
12       1       5200            Name_Mariota, Marcus  11.60          24.32
379      1       2500           Name_Firkser, Anthony   2.24           0.00
302      1       3200             Name_Watson, Justin   4.67           0.00
33       1       4000        Name_Griffin III, Robert   7.44           7.10
130      1       3000              Name_Bellore, Nick   3.97           0.00
257      1       3300          Name_Perriman, Breshad   5.01           3.00
287      1       3000           Name_Jennings, Darius   3.97           0.00
14       1       5600                Name_Allen, Josh  12.99          19.96
206      1       5600             Name_Landry, Jarvis  12.99          11.70
20       1       5400                Name_Carr, Derek  12.30          14.56
39       1       4400            Name_Tannehill, Ryan   8.83          -0.20
159      1       3000              Name_Smith, Tremon   3.97           0.00
194      1       5800                Name_Boyd, Tyler  13.68          14.30
376      1       2500               Name_Knox, Dawson   2.24           1.10
308      1       3000             Name_Holton, Johnny   3.97           0.00
29       1       6600            Name_Winston, Jameis  16.46          10.06
227      1       3900           Name_Richardson, Paul   7.09           7.60
217      1       4800              Name_Jones, Marvin  10.22          10.00
189      1       5100             Name_Ridley, Calvin  11.26          16.40
388      1       2500            Name_Schultz, Dalton   2.24           0.00
317      1       3400               Name_Cole, Keelan   5.36           0.00
398      1       2500              Name_Adams, Jerell   2.24           0.00
429      1       2600               Name_Indianapolis   2.58           7.00
347      1       2900               Name_Swaim, Geoff   3.63           5.70
282      1       3000           Name_Sherfield, Trent   3.97           0.00
304      1       4100             Name_Foster, Robert   7.79           0.00
170      1       4300                Name_Brown, John   8.48          28.30
124      1       3000               Name_Walton, Mark   3.97           0.10
187      1       4200              Name_Cobb, Randall   8.13          16.90
70       1       3900              Name_Jones, Ronald   7.09          10.30
113      1       3000               Name_Bawden, Nick   3.97           1.00
318      1       3000                Name_Lacy, Chris   3.97           0.00
143      1       3000              Name_Homer, Travis   3.97           0.00
394      1       2500          Name_Harris, Demetrius   2.24           0.00
241      1       3000             Name_Harmon, Kelvin   3.97           5.10
233      1       3000             Name_Willis, Damion   3.97           6.00
1        1       5900              Name_Prescott, Dak  14.03          36.40
443      1       2100                      Name_Miami   0.85          -3.00
224      1       3000              Name_Byrd, Damiere   3.97           8.20
286      1       3000           Name_Berrios, Braxton   3.97           0.00
49       1       5200               Name_Jacobs, Josh  11.60          24.30
65       1       6400                Name_Chubb, Nick  15.77          11.50
444      1       2300               Name_Jacksonville   1.54          -4.00
125      1       3000                Name_Boone, Mike   3.97           0.00
148      1       3000              Name_Prosise, C.J.   3.97           0.00
380      1       3300              Name_Rudolph, Kyle   5.01           0.00
247      1       3700                 Name_Jones, Zay   6.40           3.80
147      1       3000              Name_Jones, Taiwan   3.97           0.00
154      1       3200             Name_Clement, Corey   4.67           0.00
137      1       3000              Name_Cox, Chandler   3.97           0.00
30       1       5700         Name_Trubisky, Mitchell  13.34           9.22
202      1       6800              Name_Thielen, Adam  17.15          13.30
134      1       3000            Name_Wilkins, Jordan   3.97           0.00
223      1       3200              Name_Switzer, Ryan   4.67           8.90
138      1       3000              Name_Chunn, Jordan   3.97           0.00
294      1       4100          Name_Allison, Geronimo   7.79           0.00
415      1       2600                  Name_Tennessee   2.58          23.00
210      1       3000              Name_James, Richie   3.97          10.90
263      1       3000           Name_Bourne, Kendrick   3.97           1.90
244      1       3000                Name_Grant, Ryan   3.97           4.60
349      1       2500                Name_Boyle, Nick   2.24           5.60
98       1       3900             Name_Sanders, Miles   7.09           3.70
381      1       2500            Name_Manhertz, Chris   2.24           0.00
348      1       4500                Name_Cook, Jared   9.18           5.70
167      1       3800            Name_Brown, Marquise   6.75          33.70
8        1       5900             Name_Rivers, Philip  14.03          27.92
142      1       3000           Name_Booker, Devontae   3.97           0.00
161      1       3000            Name_Cannon, Trenton   3.97           0.00
499      2          0           Name_Wilson Jr., Jeff  -6.43          15.40
620      2       6300             Name_Cooks, Brandin  15.42          16.60
861      2       2600                 Name_New York J   2.58           5.00
527      2       3200             Name_Montgomery, Ty   4.67           7.00
456      2       6400              Name_Wentz, Carson  15.77          19.54
483      2       4000            Name_Siemian, Trevor   7.44           0.12
660      2       3300                Name_Beebe, Chad   5.01           7.10
661      2       4000            Name_Renfrow, Hunter   7.44           7.00
496      2       3500                Name_Gore, Frank   5.71          16.30
465      2       6300                Name_Newton, Cam  15.42          15.32
634      2       3000           Name_McKenzie, Isaiah   3.97          12.40
520      2       5800           Name_Williams, Damien  13.68           8.60
704      2       3200       Name_Arcega-Whiteside, JJ   4.67           1.40
533      2       3000        Name_Washington, DeAndre   3.97           5.50
472      2       5300              Name_Cousins, Kirk  11.95          11.90
582      2       3000           Name_Booker, Devontae   3.97           0.00
863      2       2500               Name_Indianapolis   2.24           5.00
873      2       2600                 Name_Cincinnati   2.58          -2.00
530      2       4100             Name_Brown, Malcolm   7.79           5.70
517      2       5000           Name_Freeman, Devonta  10.91           9.40
464      2       6500             Name_Rodgers, Aaron  16.11          15.36
479      2       4600                Name_Rosen, Josh   9.52           2.88
559      2       3200               Name_Edwards, Gus   4.67           1.10
735      2       3000             Name_Watson, Justin   3.97           0.00
773      2       3100              Name_Shaheen, Adam   4.32           5.40
532      2       3000                Name_Johnson, Ty   3.97           5.60
818      2       2600             Name_Sweeney, Tommy   2.58           0.00
519      2       3800              Name_Burkhead, Rex   6.75           8.80
535      2       3000              Name_Prosise, C.J.   3.97           5.00
555      2       3200           Name_Ogunbowale, Dare   4.67           1.90
864      2       3800                  Name_Baltimore   6.75           4.00
725      2       3000               Name_Natson, JoJo   3.97           0.00
608      2       6000               Name_Kupp, Cooper  14.38          20.60
751      2       3000              Name_Davis, Trevor   3.97           0.00
462      2       5000               Name_Keenum, Case  10.91          16.74
509      2       3400           Name_Peterson, Adrian   5.36          11.20
842      2       3700                Name_New England   6.40          37.00
737      2       3200           Name_Benjamin, Travis   4.67           0.00
812      2       2500                 Name_Izzo, Ryan   2.24           0.00
695      2       3000           Name_Jennings, Darius   3.97           2.10
548      2       3700              Name_Hines, Nyheim   6.40           2.40
871      2       2700                     Name_Denver   2.93           1.00
597      2       3500         Name_Robinson, Demarcus   5.71          38.20
641      2       7200             Name_Watkins, Sammy  18.54          10.90
776      2       2600               Name_James, Jesse   2.58           4.80
771      2       2800             Name_Heuerman, Jeff   3.28           6.10
572      2       3000                 Name_Line, Zach   3.97           0.00
451      2       6400                 Name_Brady, Tom  15.77          24.66
629      2       5200                Name_Brown, John  11.60          14.20
834      2       2500                Name_Bell, Blake   2.24           0.00
487      2       9200            Name_Barkley, Saquon  25.48          25.50
828      2       4400               Name_Howard, O.J.   8.83           0.00
675      2       4600  Name_Valdes-Scantling, Marquez   9.52           4.90
467      2       5900            Name_Winston, Jameis  14.03          13.22
495      2       5700           Name_Johnson, Kerryon  13.34          16.80
558      2       3100            Name_Ricard, Patrick   4.32           1.30
872      2       3300                     Name_Dallas   5.01           1.00
852      2       3100                  Name_Tennessee   4.32           8.00
683      2       3800          Name_Hamilton, DaeSean   6.75           3.50
450      2       6100                 Name_Ryan, Matt  14.73          25.10
843      2       3200                  Name_Cleveland   4.67          13.00
731      2       3000               Name_Wilson, Bobo   3.97           0.00
531      2       6500                 Name_Mixon, Joe  16.11           5.70
528      2       4100             Name_Sanders, Miles   7.79           6.70
729      2       3900            Name_Amendola, Danny   7.09           0.00
733      2       3000             Name_Taylor, Taywan   3.97           0.00
825      2       2800               Name_Uzomah, C.J.   3.28           0.00
642      2       6300              Name_Diggs, Stefon  15.42          10.90
684      2       3200             Name_Wright, Jarius   4.67           3.50
557      2       3000                Name_Watt, Derek   3.97           1.30
539      2       3200             Name_Edmonds, Chase   4.67           3.70
678      2       3600          Name_Washington, James   6.05           4.30
502      2       6200               Name_Michel, Sony  15.07          13.50
831      2       2500               Name_Alie-Cox, Mo   2.24           0.00
693      2       3200              Name_Kumerow, Jake   4.67           2.20
840      2       2500              Name_Wesco, Trevon   2.24           0.00
867      2       2100                      Name_Miami   0.85           3.00
768      2       2900              Name_Hurst, Hayden   3.63           7.10
601      2       4700          Name_Sanders, Emmanuel   9.87          28.80
452      2       6000           Name_Garoppolo, Jimmy  14.38          23.68
526      2       8200              Name_Kamara, Alvin  22.01           7.00
593      2       3000            Name_Cannon, Trenton   3.97           0.00
521      2       7100             Name_Johnson, David  18.19           8.40
489      2       3800            Name_Mostert, Raheem   6.75          24.10
1246     3       2500              Name_Mundt, Johnny   2.24           0.00
1065     3       3700          Name_Williams, Preston   6.40          10.80
1095     3       4300              Name_Conley, Chris   8.48           5.00
882      3       5800             Name_Rivers, Philip  13.68          23.62
1108     3       3500          Name_Washington, James   5.71           3.40
1035     3       6300            Name_Edelman, Julian  15.42          19.20
1262     3       3900                    Name_Chicago   7.09          21.00
982      3       3000           Name_Bonnafon, Reggie   3.97           0.50
1155     3       3000            Name_Hodge, KhaDarel   3.97           0.00
978      3       3000                  Name_Ham, C.J.   3.97           1.00
1066     3       3200              Name_Hollins, Mack   4.67          10.20
976      3       3000             Name_Barner, Kenjon   3.97           1.40
1136     3       4000          Name_Hamilton, DaeSean   7.44           0.00
914      3       4300           Name_Lindsay, Phillip   8.48          29.00
1270     3       3400                    Name_Buffalo   5.36          11.00
918      3       8900           Name_Elliott, Ezekiel  24.44          18.90
917      3       5000              Name_McCoy, LeSean  10.91          23.00
1189     3       3000                Name_Doyle, Jack   3.97           8.60
1278     3       3300                  Name_Minnesota   5.01           7.00
1014     3       3000               Name_Ingold, Alec   3.97           0.00
910      3       4300           Name_Stidham, Jarrett   8.48          -0.44
878      3       5400            Name_Winston, Jameis  12.30          29.50
1096     3       3000             Name_Harris, Deonte   3.97           5.00
1172     3       3000          Name_Olszewski, Gunner   3.97          -1.00
1086     3       3100               Name_Brown, Jaron   4.32           6.00
1282     3       2500                Name_LA Chargers   2.24           4.00
944      3       4500              Name_Drake, Kenyan   9.18           9.20
1139     3       3000              Name_Gage, Russell   3.97           0.00
980      3       4500             Name_Brown, Malcolm   9.18           0.70
1121     3       3000             Name_Erickson, Alex   3.97           2.30
916      3       3800              Name_Pollard, Tony   6.75          24.80
1122     3       3000                 Name_Cain, Deon   3.97           2.00
993      3       3000              Name_Powell, Bilal   3.97           0.00
1185     3       2900       Name_O'Shaughnessy, James   3.63           9.80
979      3       3000           Name_Thompson, Darwin   3.97           0.80
1168     3       3400               Name_Coutee, Keke   5.36           0.00
1206     3       2500            Name_Lewis, Marcedes   2.24           2.90
949      3       9100            Name_Barkley, Saquon  25.13           7.70
971      3       3000                Name_Boone, Mike   3.97           2.80
965      3       3000            Name_Bolden, Brandon   3.97           3.90
1290     3       2600                     Name_Denver   2.58           0.00
1091     3       3000              Name_Roberts, Seth   3.97           5.70
1281     3       2600                 Name_Washington   2.58           5.00
1161     3       3100            Name_Carter, DeAndre   4.32           0.00
1238     3       2500             Name_Carter, Cethan   2.24           0.00
1063     3       6800             Name_Watkins, Sammy  17.15          11.40
1034     3       6400               Name_Hilton, T.Y.  15.77          20.50
1145     3       3000              Name_Davis, Geremy   3.97           0.00
1196     3       3200              Name_Davis, Vernon   4.67           5.00
1170     3       3400                Name_Beebe, Chad   5.36           0.00
888      3       5800              Name_Murray, Kyler  13.68          19.82
1267     3       2700                   Name_Carolina   2.93          13.00
1041     3       7400            Name_Thomas, Michael  19.23          16.40
1042     3       4800             Name_Samuel, Curtis  10.22          16.30
895      3       4900                Name_Carr, Derek  10.56          16.68
893      3       4900           Name_Minshew, Gardner  10.56          17.96
1022     3       6400               Name_Kupp, Cooper  15.77          36.20
1098     3       6000              Name_Diggs, Stefon  14.38           4.50
1051     3       3900              Name_Sanu, Mohamed   7.09          13.70
1106     3       6600            Name_Golladay, Kenny  16.46           3.70
991      3       3400             Name_Harris, Damien   5.36           0.00
994      3       3100         Name_Smallwood, Wendell   4.32           0.00
1224     3       2900              Name_Jarwin, Blake   3.63           1.30
1247     3       2600              Name_Green, Virgil   2.58           0.00
1160     3       3000            Name_Slater, Matthew   3.97           0.00
1045     3       4400              Name_Beasley, Cole   8.83          14.80
875      3       5000              Name_Jones, Daniel  10.91          39.24
880      3       4000                Name_Allen, Kyle   7.44          25.34
1277     3       3200              Name_San Francisco   4.67           7.00
1031     3       4100           Name_Richardson, Paul   7.79          22.30
1142     3       3000            Name_Wilson, Cedrick   3.97           0.00
977      3       3500             Name_Gallman, Wayne   5.71           1.30
1180     3       2500              Name_Fells, Darren   2.24          15.90
1083     3       6900              Name_Godwin, Chris  17.50           7.00
1001     3       3000            Name_Abdullah, Ameer   3.97           0.00
1132     3       3700                Name_Brown, A.J.   6.40           1.40
1116     3       3600          Name_Crabtree, Michael   6.05           2.90
962      3       4300              Name_Johnson, Duke   8.48           4.40
938      3       5200          Name_Montgomery, David  11.60          11.10
1008     3       3000               Name_Ervin, Tyler   3.97           0.00
1220     3       3800                Name_Cook, Jared   6.75           1.70
1580     4       4300             Name_Hooper, Austin   8.48          25.00
1336     4       7000               Name_Gurley, Todd  17.85          26.00
1657     4       2500                Name_Ellis, Alex   2.24           0.00
1386     4       3600             Name_Edmonds, Chase   6.05           3.70
1662     4       3700                Name_New England   6.40          25.00
1427     4       3000             Name_Janovich, Andy   3.97           0.00
1624     4       2500               Name_Culkin, Sean   2.24           2.20
1461     4       3000           Name_Inman, Dontrelle   3.97          12.60

### Ridge

In [30]:
ridge_reg = RidgeCV()
ridge_reg.fit(X_train, y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]))

In [31]:
y_pred4 = ridge_reg.predict(X_test)

In [32]:
for x in range(0, len(y_pred4)):
    y_pred4[x] = float(round(y_pred4[x],2))
y_pred4

array([ 5.44,  1.48,  7.95, ...,  3.21, 13.78,  2.63])

In [33]:
df_results['pred'] = y_pred4

In [34]:
subset_cols = ['Week', 'DK salary', 'player_name', 'pred', 'actual_points']
df_results5 = df_results[subset_cols]
df_results5 = df_results5.sort_values(by='Week')
df_results5

      Week  DK salary                     player_name   pred  actual_points
44       1       5900             Name_Henry, Derrick  18.59          28.90
396      1       2700            Name_Grimble, Xavier  -1.10           0.00
283      1       3200               Name_Nelson, J.J.  12.51           0.00
72       1       3500                Name_Davis, Mike   0.21           9.60
401      1       2500              Name_DeValve, Seth   2.07           0.00
274      1       3300            Name_Carter, DeAndre   1.35           0.90
42       1       5500             Name_Ekeler, Austin  19.35          39.40
326      1       3000              Name_Andrews, Mark  16.26          27.80
311      1       3000           Name_McKenzie, Isaiah   4.53           0.00
371      1       2700              Name_Shaheen, Adam   2.15           1.60
195      1       6200              Name_Godwin, Chris  21.42          14.30
90       1       5300           Name_Freeman, Devonta  14.15           5.10
6        1       6000                 Name_Brady, Tom  15.02          28.64
15       1       5000               Name_Manning, Eli  13.65          18.84
144      1       3000               Name_Smith, Keith  -0.06           0.00
252      1       3600            Name_Renfrow, Hunter  10.21           3.30
214      1       4700            Name_Kirk, Christian  14.18          10.40
405      1       2500            Name_Toilolo, Levine   0.68           0.00
346      1       4000            Name_McDonald, Vance   5.63           6.00
66       1       3100            Name_Sproles, Darren   1.37          11.30
119      1       3100             Name_Edmonds, Chase  13.18           0.50
12       1       5200            Name_Mariota, Marcus  13.09          24.32
379      1       2500           Name_Firkser, Anthony   3.08           0.00
302      1       3200             Name_Watson, Justin   0.43           0.00
33       1       4000        Name_Griffin III, Robert   2.37           7.10
130      1       3000              Name_Bellore, Nick   2.00           0.00
257      1       3300          Name_Perriman, Breshad   9.16           3.00
287      1       3000           Name_Jennings, Darius   0.69           0.00
14       1       5600                Name_Allen, Josh  20.75          19.96
206      1       5600             Name_Landry, Jarvis  17.43          11.70
20       1       5400                Name_Carr, Derek  14.92          14.56
39       1       4400            Name_Tannehill, Ryan  19.79          -0.20
159      1       3000              Name_Smith, Tremon   7.45           0.00
194      1       5800                Name_Boyd, Tyler  15.92          14.30
376      1       2500               Name_Knox, Dawson   6.32           1.10
308      1       3000             Name_Holton, Johnny  -1.84           0.00
29       1       6600            Name_Winston, Jameis  25.36          10.06
227      1       3900           Name_Richardson, Paul   4.14           7.60
217      1       4800              Name_Jones, Marvin  17.24          10.00
189      1       5100             Name_Ridley, Calvin  13.78          16.40
388      1       2500            Name_Schultz, Dalton   1.24           0.00
317      1       3400               Name_Cole, Keelan   3.53           0.00
398      1       2500              Name_Adams, Jerell   4.25           0.00
429      1       2600               Name_Indianapolis   8.11           7.00
347      1       2900               Name_Swaim, Geoff   2.66           5.70
282      1       3000           Name_Sherfield, Trent   2.57           0.00
304      1       4100             Name_Foster, Robert   1.49           0.00
170      1       4300                Name_Brown, John  14.90          28.30
124      1       3000               Name_Walton, Mark   6.70           0.10
187      1       4200              Name_Cobb, Randall  11.30          16.90
70       1       3900              Name_Jones, Ronald   9.60          10.30
113      1       3000               Name_Bawden, Nick   1.38           1.00
318      1       3000                Name_Lacy, Chris   2.62           0.00
143      1       3000              Name_Homer, Travis   2.12           0.00
394      1       2500          Name_Harris, Demetrius   5.05           0.00
241      1       3000             Name_Harmon, Kelvin   3.99           5.10
233      1       3000             Name_Willis, Damion   3.03           6.00
1        1       5900              Name_Prescott, Dak  22.16          36.40
443      1       2100                      Name_Miami   2.37          -3.00
224      1       3000              Name_Byrd, Damiere   5.71           8.20
286      1       3000           Name_Berrios, Braxton   0.20           0.00
49       1       5200               Name_Jacobs, Josh  14.25          24.30
65       1       6400                Name_Chubb, Nick  18.82          11.50
444      1       2300               Name_Jacksonville   5.37          -4.00
125      1       3000                Name_Boone, Mike   1.77           0.00
148      1       3000              Name_Prosise, C.J.   4.62           0.00
380      1       3300              Name_Rudolph, Kyle   7.87           0.00
247      1       3700                 Name_Jones, Zay   2.54           3.80
147      1       3000              Name_Jones, Taiwan  -0.25           0.00
154      1       3200             Name_Clement, Corey   0.17           0.00
137      1       3000              Name_Cox, Chandler  -0.50           0.00
30       1       5700         Name_Trubisky, Mitchell  17.12           9.22
202      1       6800              Name_Thielen, Adam  11.38          13.30
134      1       3000            Name_Wilkins, Jordan   3.55           0.00
223      1       3200              Name_Switzer, Ryan  -1.95           8.90
138      1       3000              Name_Chunn, Jordan   8.24           0.00
294      1       4100          Name_Allison, Geronimo   3.44           0.00
415      1       2600                  Name_Tennessee   7.94          23.00
210      1       3000              Name_James, Richie   1.96          10.90
263      1       3000           Name_Bourne, Kendrick   8.43           1.90
244      1       3000                Name_Grant, Ryan   0.75           4.60
349      1       2500                Name_Boyle, Nick   6.15           5.60
98       1       3900             Name_Sanders, Miles  19.52           3.70
381      1       2500            Name_Manhertz, Chris  -1.01           0.00
348      1       4500                Name_Cook, Jared  14.51           5.70
167      1       3800            Name_Brown, Marquise  11.69          33.70
8        1       5900             Name_Rivers, Philip  16.70          27.92
142      1       3000           Name_Booker, Devontae   0.93           0.00
161      1       3000            Name_Cannon, Trenton   0.33           0.00
499      2          0           Name_Wilson Jr., Jeff   5.49          15.40
620      2       6300             Name_Cooks, Brandin   7.70          16.60
861      2       2600                 Name_New York J   7.67           5.00
527      2       3200             Name_Montgomery, Ty   2.74           7.00
456      2       6400              Name_Wentz, Carson  18.81          19.54
483      2       4000            Name_Siemian, Trevor  14.00           0.12
660      2       3300                Name_Beebe, Chad   2.19           7.10
661      2       4000            Name_Renfrow, Hunter  10.67           7.00
496      2       3500                Name_Gore, Frank   6.42          16.30
465      2       6300                Name_Newton, Cam   8.96          15.32
634      2       3000           Name_McKenzie, Isaiah   4.99          12.40
520      2       5800           Name_Williams, Damien  12.89           8.60
704      2       3200       Name_Arcega-Whiteside, JJ   1.05           1.40
533      2       3000        Name_Washington, DeAndre   6.62           5.50
472      2       5300              Name_Cousins, Kirk  18.32          11.90
582      2       3000           Name_Booker, Devontae   0.02           0.00
863      2       2500               Name_Indianapolis   9.05           5.00
873      2       2600                 Name_Cincinnati   3.59          -2.00
530      2       4100             Name_Brown, Malcolm   3.70           5.70
517      2       5000           Name_Freeman, Devonta  15.08           9.40
464      2       6500             Name_Rodgers, Aaron  17.47          15.36
479      2       4600                Name_Rosen, Josh   3.38           2.88
559      2       3200               Name_Edwards, Gus   7.23           1.10
735      2       3000             Name_Watson, Justin   1.82           0.00
773      2       3100              Name_Shaheen, Adam   1.39           5.40
532      2       3000                Name_Johnson, Ty   3.78           5.60
818      2       2600             Name_Sweeney, Tommy   2.60           0.00
519      2       3800              Name_Burkhead, Rex   8.36           8.80
535      2       3000              Name_Prosise, C.J.   2.58           5.00
555      2       3200           Name_Ogunbowale, Dare   4.72           1.90
864      2       3800                  Name_Baltimore  10.00           4.00
725      2       3000               Name_Natson, JoJo  -0.26           0.00
608      2       6000               Name_Kupp, Cooper  15.70          20.60
751      2       3000              Name_Davis, Trevor   1.11           0.00
462      2       5000               Name_Keenum, Case  11.80          16.74
509      2       3400           Name_Peterson, Adrian  10.52          11.20
842      2       3700                Name_New England  12.48          37.00
737      2       3200           Name_Benjamin, Travis   3.72           0.00
812      2       2500                 Name_Izzo, Ryan   6.26           0.00
695      2       3000           Name_Jennings, Darius   0.95           2.10
548      2       3700              Name_Hines, Nyheim   7.92           2.40
871      2       2700                     Name_Denver   6.65           1.00
597      2       3500         Name_Robinson, Demarcus   4.25          38.20
641      2       7200             Name_Watkins, Sammy  11.95          10.90
776      2       2600               Name_James, Jesse   1.31           4.80
771      2       2800             Name_Heuerman, Jeff   1.04           6.10
572      2       3000                 Name_Line, Zach  -0.53           0.00
451      2       6400                 Name_Brady, Tom  17.35          24.66
629      2       5200                Name_Brown, John  15.23          14.20
834      2       2500                Name_Bell, Blake   0.70           0.00
487      2       9200            Name_Barkley, Saquon  16.64          25.50
828      2       4400               Name_Howard, O.J.   7.04           0.00
675      2       4600  Name_Valdes-Scantling, Marquez   5.42           4.90
467      2       5900            Name_Winston, Jameis  26.81          13.22
495      2       5700           Name_Johnson, Kerryon   9.83          16.80
558      2       3100            Name_Ricard, Patrick   2.41           1.30
872      2       3300                     Name_Dallas   6.71           1.00
852      2       3100                  Name_Tennessee   8.13           8.00
683      2       3800          Name_Hamilton, DaeSean   2.03           3.50
450      2       6100                 Name_Ryan, Matt  23.06          25.10
843      2       3200                  Name_Cleveland   6.42          13.00
731      2       3000               Name_Wilson, Bobo   1.63           0.00
531      2       6500                 Name_Mixon, Joe  10.54           5.70
528      2       4100             Name_Sanders, Miles  18.39           6.70
729      2       3900            Name_Amendola, Danny  11.12           0.00
733      2       3000             Name_Taylor, Taywan   0.89           0.00
825      2       2800               Name_Uzomah, C.J.   2.94           0.00
642      2       6300              Name_Diggs, Stefon  15.70          10.90
684      2       3200             Name_Wright, Jarius   4.20           3.50
557      2       3000                Name_Watt, Derek   2.22           1.30
539      2       3200             Name_Edmonds, Chase  10.58           3.70
678      2       3600          Name_Washington, James  13.04           4.30
502      2       6200               Name_Michel, Sony  11.04          13.50
831      2       2500               Name_Alie-Cox, Mo   1.60           0.00
693      2       3200              Name_Kumerow, Jake   2.34           2.20
840      2       2500              Name_Wesco, Trevon   0.83           0.00
867      2       2100                      Name_Miami   1.26           3.00
768      2       2900              Name_Hurst, Hayden   5.90           7.10
601      2       4700          Name_Sanders, Emmanuel   7.79          28.80
452      2       6000           Name_Garoppolo, Jimmy  17.85          23.68
526      2       8200              Name_Kamara, Alvin  18.55           7.00
593      2       3000            Name_Cannon, Trenton   1.39           0.00
521      2       7100             Name_Johnson, David  10.71           8.40
489      2       3800            Name_Mostert, Raheem   9.50          24.10
1246     3       2500              Name_Mundt, Johnny   0.39           0.00
1065     3       3700          Name_Williams, Preston  11.35          10.80
1095     3       4300              Name_Conley, Chris  10.66           5.00
882      3       5800             Name_Rivers, Philip  17.60          23.62
1108     3       3500          Name_Washington, James  11.19           3.40
1035     3       6300            Name_Edelman, Julian  17.12          19.20
1262     3       3900                    Name_Chicago   5.62          21.00
982      3       3000           Name_Bonnafon, Reggie   2.64           0.50
1155     3       3000            Name_Hodge, KhaDarel  -0.20           0.00
978      3       3000                  Name_Ham, C.J.   2.63           1.00
1066     3       3200              Name_Hollins, Mack   2.94          10.20
976      3       3000             Name_Barner, Kenjon   0.60           1.40
1136     3       4000          Name_Hamilton, DaeSean   2.20           0.00
914      3       4300           Name_Lindsay, Phillip  12.84          29.00
1270     3       3400                    Name_Buffalo   7.97          11.00
918      3       8900           Name_Elliott, Ezekiel  22.24          18.90
917      3       5000              Name_McCoy, LeSean   7.32          23.00
1189     3       3000                Name_Doyle, Jack   6.18           8.60
1278     3       3300                  Name_Minnesota  11.39           7.00
1014     3       3000               Name_Ingold, Alec   0.79           0.00
910      3       4300           Name_Stidham, Jarrett   0.70          -0.44
878      3       5400            Name_Winston, Jameis  27.61          29.50
1096     3       3000             Name_Harris, Deonte   1.05           5.00
1172     3       3000          Name_Olszewski, Gunner   1.27          -1.00
1086     3       3100               Name_Brown, Jaron   3.83           6.00
1282     3       2500                Name_LA Chargers   6.59           4.00
944      3       4500              Name_Drake, Kenyan  12.34           9.20
1139     3       3000              Name_Gage, Russell   5.96           0.00
980      3       4500             Name_Brown, Malcolm   3.83           0.70
1121     3       3000             Name_Erickson, Alex   6.40           2.30
916      3       3800              Name_Pollard, Tony   8.30          24.80
1122     3       3000                 Name_Cain, Deon   1.28           2.00
993      3       3000              Name_Powell, Bilal  -0.28           0.00
1185     3       2900       Name_O'Shaughnessy, James   8.49           9.80
979      3       3000           Name_Thompson, Darwin   1.83           0.80
1168     3       3400               Name_Coutee, Keke   7.19           0.00
1206     3       2500            Name_Lewis, Marcedes   1.48           2.90
949      3       9100            Name_Barkley, Saquon  18.12           7.70
971      3       3000                Name_Boone, Mike   2.67           2.80
965      3       3000            Name_Bolden, Brandon   4.55           3.90
1290     3       2600                     Name_Denver   6.86           0.00
1091     3       3000              Name_Roberts, Seth   3.22           5.70
1281     3       2600                 Name_Washington   6.11           5.00
1161     3       3100            Name_Carter, DeAndre   1.49           0.00
1238     3       2500             Name_Carter, Cethan   0.14           0.00
1063     3       6800             Name_Watkins, Sammy  10.82          11.40
1034     3       6400               Name_Hilton, T.Y.  10.29          20.50
1145     3       3000              Name_Davis, Geremy   2.04           0.00
1196     3       3200              Name_Davis, Vernon   6.81           5.00
1170     3       3400                Name_Beebe, Chad   3.11           0.00
888      3       5800              Name_Murray, Kyler  20.20          19.82
1267     3       2700                   Name_Carolina   6.35          13.00
1041     3       7400            Name_Thomas, Michael  28.62          16.40
1042     3       4800             Name_Samuel, Curtis  12.06          16.30
895      3       4900                Name_Carr, Derek  15.34          16.68
893      3       4900           Name_Minshew, Gardner  16.88          17.96
1022     3       6400               Name_Kupp, Cooper  15.83          36.20
1098     3       6000              Name_Diggs, Stefon  16.68           4.50
1051     3       3900              Name_Sanu, Mohamed   8.64          13.70
1106     3       6600            Name_Golladay, Kenny  20.29           3.70
991      3       3400             Name_Harris, Damien   1.90           0.00
994      3       3100         Name_Smallwood, Wendell   1.31           0.00
1224     3       2900              Name_Jarwin, Blake   8.46           1.30
1247     3       2600              Name_Green, Virgil   2.24           0.00
1160     3       3000            Name_Slater, Matthew   0.66           0.00
1045     3       4400              Name_Beasley, Cole  13.61          14.80
875      3       5000              Name_Jones, Daniel  17.60          39.24
880      3       4000                Name_Allen, Kyle  15.40          25.34
1277     3       3200              Name_San Francisco  10.16           7.00
1031     3       4100           Name_Richardson, Paul   3.18          22.30
1142     3       3000            Name_Wilson, Cedrick   6.85           0.00
977      3       3500             Name_Gallman, Wayne   5.89           1.30
1180     3       2500              Name_Fells, Darren   3.29          15.90
1083     3       6900              Name_Godwin, Chris  23.41           7.00
1001     3       3000            Name_Abdullah, Ameer   2.91           0.00
1132     3       3700                Name_Brown, A.J.  13.14           1.40
1116     3       3600          Name_Crabtree, Michael   5.46           2.90
962      3       4300              Name_Johnson, Duke   8.45           4.40
938      3       5200          Name_Montgomery, David   9.72          11.10
1008     3       3000               Name_Ervin, Tyler   0.59           0.00
1220     3       3800                Name_Cook, Jared  14.04           1.70
1580     4       4300             Name_Hooper, Austin  15.24          25.00
1336     4       7000               Name_Gurley, Todd  15.38          26.00
1657     4       2500                Name_Ellis, Alex  -0.45           0.00
1386     4       3600             Name_Edmonds, Chase  12.23           3.70
1662     4       3700                Name_New England   9.76          25.00
1427     4       3000             Name_Janovich, Andy   3.34           0.00
1624     4       2500               Name_Culkin, Sean   0.89           2.20
1461     4       3000           Name_Inman, Dontrelle   4.01          12.60